[2016-10-12 23:04] mikaelbr opened #1 "Open Source Ideas Website"
## Project description

Make a website for this repository. This can be a great way to get involved. To make the issues and project suggestions as accessible as possible we should have a website with search, potentially categories and a pretty design. This project is pretty open for the person who is interested

I was thinking this could be pretty easy implemented by basing all the data on the Git

[2016-10-12 23:14] mikaelbr opened #2 "slack-notify: CLI for sending messages on Slack"
**This idea has been claimed and implemented by @dinodsaurus. Found at  https://github.com/twobucks/slack-message.** 🍰

---

## Project description

A minimal CLI for sending messages to a slack team and channel. This can be used as a general, CI agnostic, tool to notify a Slack channel when a operation is done. For instance when some tests fails on a Travis Build, when a new version is deployed t

[2016-10-12 23:23] mikaelbr opened #3 "Script/Page to convert gist to runnable demo"
## Project description

A JavaScript library which takes a link to a gist and for each file in the gist (e.g. something like https://gist.github.com/mikaelbr/5b3635db5ccde69786e86d8daf43f447) it creates a syntax highlightet, editable input field, and the result of that file.

This can either be a script that you can include on your blog, or it could be a standalone web page where you can take a qu

[2016-10-12 23:35] mikaelbr opened #4 "GraphQL Syntax for selecting data in a Immutable.js Structure"
## Project description

I often use Immutable.js as a datastructure for my applications. Destructuring doesn't work to well with it and I can see some added value in being able to do GraphQL-type querying for the nested datastructure. There are projects such as [vacuumlabs/babel-plugin-extensible-destructuring](https://github.com/vacuumlabs/babel-plugin-extensible-destructuring), and you can destr

[2016-10-12 23:45] mikaelbr opened #5 "Gitbook plugin: Make gitbook plugin for redacted data"
## Project description

When doing documentation you'd want to keep it as close to your code base as possible. This way you can automate content and it's easier to keep updated. In addition, you know the current documentation is always relevant for the code that is in the repo at a given moment. This has great value if you host the documentation as static sites and you have several environments su

[2016-10-13 08:56] mattgstevens commented on #3
have you seen?
https://github.com/viebel/klipse

it is widget like, where you are loading the script into an html document and initiate different editors with some code that can be from a gist URL:
http://blog.klipse.tech/javascript/2016/06/20/blog-javascript.html#evaluating-a-gist

[2016-10-13 10:47] mikaelbr opened #6 "NPM Notification"
## Project description

Just an idea I had earlier. A way to subscribe to push notifications on your computer when a major change occurs in a project you follow. I was thinking specifically on NPM packages. Let's say I use lodash or a test framework such as mocha or Jest. When a major change of that is updated I'd like to know that. So what better then to get a native notification on my computer t

[2016-10-13 10:59] mikaelbr commented on #3
Interesting. Thanks for letting me know. This can definitely be used to achieve some of the things I was envisioning. But what I thought could be extra cool is to create a website/service that takes an ID to a gist and just makes the thing interactive. This you can do things like bookmarks to open a gist in the page, you could attach a runnable demo from more restrictive blogs such as Medium, etc.

[2016-10-13 13:23] phun-ky commented on #3
If I remember correctly, there's a way to get gists imported in codepen.io. I checked that out a few months ago, but now I've forgotten it :(

[2016-10-13 13:26] phun-ky commented on #6
Have you tried https://doppins.com/ ? It does what you want, sort of. I understand from your spec that you want something smaller. https://gemnasium.com/ is something else, not that obtrusive, but works.

[2016-10-13 13:31] mikaelbr commented on #6
Thanks for the update! Yeah, I've seen both greenkeeper.io and doppins.com. But that's not really the same problem as this though. This is more for a person to keep updated on package/module progress, and not as much for a project to get updated to the latest version. You can call this "bigger picture stuff" in a sense.

A scenario I can envision: I get an update that `Jest` has a new major versio

[2016-10-14 15:36] mikaelbr opened #7 "`atom-notifier`: GNTP for Atom"
## Project description

**Implement a [Growl Notification Transport Protocol (GNTP)](http://growl.info/documentation/developer/gntp.php) server for Atom.**

Atom has it's own built in notification system, where you get a message in the upper right corner. This is easily pluggable by creating an [atom plugin](https://www.sitepoint.com/how-to-write-a-syntax-highlighting-package-for-atom/). This can

[2016-10-14 16:07] mikaelbr opened #8 "General Purpose CLI Dashboard"
## Project description

This is just a conceptual idea I've got some months ago, and I haven't really thought it through too much, or researched the topic, but I thought I'd share it here to hear other peoples opinion about it.

Weirdly enough, but 2016 seems to be the year the CLI makes it revised return for the fullest. We've seen many tools that have gotten much more focus on usability/UX in CL

[2016-10-14 20:43] bendiksolheim opened #9 "Spacemacs/Emacs inspired web browser"
## Project description

As a computer nerd, I spend a lot of time in my web broser. I constantly try to make this a more pleasant experience, but I can't seem to become completely happy. What annoys me the most is the lack og good hotkeys. Hotkeys are mostly modelled after the well known [modifier] + [key] system, which is quite limiting when you have experienced the power of Vi or Emacs.

A proje

[2016-10-14 21:28] dinodsaurus commented on #2
Thanks a lot for this idea..
I had a spare evening so I made this package: https://github.com/twobucks/slack-message
If you have any suggestions how to improve it just ping me 👍

[2016-10-14 21:40] mikaelbr commented on #2
👊 💪 That is fantastic. Great to see an idea get made that quickly and even before I "announce" the initiative! I'll test it out over the weekend.

Some suggestions from the top of my head:
- It might be smart to include a `files` property in your package.json so the consumers don't have do download your tests and what not. Saving some space and unnecessary download time.
- Maybe include an example

[2016-10-14 21:43] #2 closed

[2016-10-14 21:47] dinodsaurus commented on #2
You made good points, will hack on it a bit more tomorrow.
I will definitely share it because its a really cool project! 💃

[2016-10-17 10:08] shime commented on #2
Thanks for the idea, Mikael. We've polished the package over the weekend.

Love the idea behind this repo, much better alternative than keeping ideas in Evernote notes and letting them be forgotten. I'll post some of my ideas soon.

We'll do our best to share it as much as we can when you launch it.

[2016-10-17 10:16] mikaelbr commented on #2
That sounds great, @shime! I think for this initiative to work we need to keep the input flow as high as or higher than the output, so we need all ideas we can get 😃

I'm planning on releasing it maybe tonight (Monday Night in GMT Timezone), what do you think?

[2016-10-17 10:24] shime commented on #2
Thanks, I was thinking of sharing all the ideas, but maybe that would be perceived as too spammy.

I'm not really the one who should give advice about this, but here goes.

I would look for the overlap of EU/US times for releasing it, so maybe 2PM GMT would work. Early morning in US and not too late in the evening for EU.

[2016-10-17 10:25] mikaelbr commented on #2
Thanks. Great tip!

[2016-10-17 11:01] mikaelbr opened #10 "Free alternative to Operator Mono Italic Theme for VSCode"
## Update: Solved by @kencrocken

Mashed two fonts together to get an Open Source variant of Operator Mono - https://github.com/kencrocken/FiraCodeiScript.

---

## Project description

[Operator Mono + Italic keywords in Atom](https://gist.github.com/brandondurham/3828ac42766f9f187c8e) has become a fairly popular combination, but for many the Operator Mono is quite expensive. But luckily, there a

[2016-10-17 16:35] mikaelbr commented on #2
I wrote a couple of words about the initiative here https://medium.com/@mikaelbrevik/open-source-ideas-initiative-ca747121ac34#.fdufq2v0b

[2016-10-17 16:43] shime commented on #2
Great, shared it on [Hacker News](https://news.ycombinator.com/item?id=12726627) and [Reddit](https://www.reddit.com/r/programming/comments/57ybj8/open_source_ideas_initiative/) for maximum exposure!

[2016-10-17 16:44] mikaelbr commented on #2
Nice. Thanks for all your help 🍰

[2016-10-17 17:07] ocdtrekkie opened #11 "Google Books alternative - Full text browsing and search"
## Project description

I have a lot of ebooks, mostly in PDF format, but some EPUBs as well, and I feel the information in them is often better than on the Internet. But I've got no way to find that information easily. I'd like a self-hosted (ideally web-based) platform that I can just upload all my books, and then search and browse them from wherever I am.

I [asked](https://news.ycombinator.com

[2016-10-17 17:12] mikaelbr commented on #11
Some technology one could build on for indexing is ElasticSearch and the [mapper-attachments](https://github.com/elastic/elasticsearch-mapper-attachments).

[2016-10-17 20:37] yuvipanda opened #12 "Twitter authenticator"
## Project description
[JupyterHub](https://github.com/jupyterhub/jupyterhub) is a wonderful project that allows multiple users to spawn Jupyter notebooks (formerly IPython notebooks) in a shared space and collaborate together. It has support for various authentication backends - You can see a partial list in https://github.com/jupyterhub/jupyterhub/wiki/Authenticators.

Adding Twitter OAuth to th

[2016-10-17 20:42] yuvipanda opened #13 "Facebook Authenticator for JupyterHub"
## Project description
[JupyterHub](https://github.com/jupyterhub/jupyterhub) is a wonderful project that allows multiple users to spawn Jupyter notebooks (formerly IPython notebooks) in a shared space and collaborate together. It has support for various authentication backends - You can see a partial list in https://github.com/jupyterhub/jupyterhub/wiki/Authenticators.

Adding Facebook OAuth to t

[2016-10-17 20:44] BobWhitelock commented on #8
Maybe I'm missing something, but this sounds like exactly the kind of thing Tmux can be used for. With something like [Tmuxinator](https://github.com/tmuxinator/tmuxinator) the setup you describe could be achieved with just a few lines of declarative config.

[2016-10-17 20:49] mysticmode commented on #11
I'm doing this. Will update here :)

[2016-10-17 20:50] mikaelbr commented on #8
Interesting. That might very much be 👍 I haven't much experience with tmux. But tmux is for Termals only, though? So it might be for latest Windows with bash, but for many Windows developers this won't work.

[2016-10-17 20:55] mikaelbr commented on #11
@mysticmode Cool! Really looking forward to this. There's a lot of potential here to make a open source, ebook indexing, library. One could do auto-fetching of book covers, overview of all books, fetching reviews, having highlights/bookmarks, etc.

I think there is a lot of work that could be done here and there might be room for a collaboration for several people at some point.

This'll be awesom

[2016-10-17 21:01] mikaelbr commented on #11
This could also be easily wrapped in something like [electron](http://electron.atom.io/) if that adds any value.

[2016-10-17 21:03] BobWhitelock commented on #8
That's true, I think Tmux is only for Unix-like OSes so wouldn't work for this use case on older versions of Windows, and I don't know of an alternative that would work on Windows. So it could be interesting for someone to attempt a cross-platform, simplified alternative like this - although I guess the need for it would diminish as people upgrade their Windows versions :).

[2016-10-17 21:06] mikaelbr commented on #8
True. Maybe not all Windows developers will transition to *sh terminals, though. Some might even like cmd/PowerShell?

[2016-10-17 21:09] BobWhitelock commented on #8
That's true, in which case I hope one of them decides to make this! :)

[2016-10-17 21:12] mikaelbr commented on #8
Hehe. I'll definitely check out tmux more. Thanks for the great tip, didn't think about that at all. I'll leave this open some more to see if someone want's to do it for learning more about CLI-development and we'll see if there are any takers.

[2016-10-17 21:23] FredrikAugust commented on #9
Sounds a bit like vimb :)

[2016-10-17 21:24] FredrikAugust commented on #1
Sounds like something I would love to spend time on :) I might be able to start working on it tomorrow

[2016-10-17 21:25] FredrikAugust commented on #1
Forgot to mention I also have a designer on board who might be up for it!

[2016-10-17 21:27] mikaelbr commented on #1
Brilliant! That sounds like a perfect fit. I can add you to the repo as a collaborator so you have access to it also. I think this is a pretty cool project to test out the new GraphQL API for Github, and will be an important extension for this initiative.

[2016-10-17 21:28] FredrikAugust commented on #11
To make it a bit easier you could just make a website and use kiosk-view/app-view in chrome. They probably have something similar in Firefox etc. That way you don't have to deal with electronic as well

[2016-10-17 21:29] FredrikAugust commented on #1
Is that still in early access? If so the api might change later.. :/

[2016-10-17 21:31] mikaelbr commented on #1
Maybe. I haven't gotten around to digging into it yet. So maybe one would have to stick with the stable API (or do an adapter approach if one really want to explore GraphQL).

[2016-10-17 21:31] SuperManitu commented on #11
There is already a server mode for the ebook management software calibre, but it's rather ugly and feature-poor

[2016-10-17 21:31] FredrikAugust commented on #1
Regardless; is there any requirements as far as languages go? Rails would definitely be the easiest for me!

[2016-10-17 21:34] mikaelbr commented on #1
Feel free to do what ever by me. All yours. I've got no experience with ruby or rails myself, though. I wouldn't think it's too much server side code required here, though. Depending on what you want to do here, but you could let Github be most of the backend (much like a "BaaS") and just have the site as a presenter layer on top of Github Issues. For instance.

[2016-10-17 21:40] FredrikAugust commented on #1
Yeah, you don't really need much back-end, but I do prefer to keep data management and the rest separated. I can probably look into GraphQL, but I've never used it before :o

[2016-10-17 22:02] tbodt commented on #9
Sounds pretty cool. The other day I tried to close a tab using `:q`.

[2016-10-17 22:10] SamyPesse commented on #5
Hi @mikaelbr This is a good idea and something that we want to bring to GitBook (as an officially supported plugin).

We are working on [GitBook 4.0.0](https://github.com/GitbookIO/gitbook/pull/1543) which will bring brand new APIs for plugins. Building interactive plugins will be easier than before.
This plugin idea is something that can easily implemented with the new APIs.

I'd be happy to cont

[2016-10-17 22:35] CyrisXD commented on #11
What about building an electron wrapped app, that authenticates and syncs with dropbox. We could use the API to [search the contents](https://www.dropbox.com/en/help/6635) of PDF files on your dropbox and bring the results back to the Electron app. I don't think the contents search supports EPUBs though.

[2016-10-17 22:39] ocdtrekkie commented on #11
A dependency on Dropbox, a proprietary cloud service would mostly defeat the point.

[2016-10-18 04:09] la0rg commented on #11
Great idea! I'm heavy user of Google Books, but would really like some open source solution. How do you plan to search in PDF files? Some kind of OCR will be required. It's also worth mention that I have non-English books as well.

[2016-10-18 04:15] ocdtrekkie commented on #11
@la0rg Most PDFs are already OCR'd. Or, in many cases, were always digital to begin with. Page images are rare, PDFs are a multimedia format.

[2016-10-18 05:30] SuperManitu commented on #11
Yes, pdf as file format should be supported, but for OCR you are better served with tesseract, which is Open Source and does an amazing job.

[2016-10-18 05:58] mysticmode commented on #11
Elastic search is good. I'm trying to take baby steps here and implement something which is well-thought and discussed rather than just another ebook reader which is open source and web client based.

First step. Domain registration http://www.libreread.org/ :)
I'm not sure, if we can discuss the whole process here. So, I'll create a slack team and let you know.

@ocdtrekkie Could you elaborate in

[2016-10-18 06:04] mikaelbr commented on #5
Cool! I think this feature can be very handy.

To be honest, I didn't think that far ahead and consider alternative approaches. I thought about doing this at compile time. I haven't thought about the gitbook hosting aspect of it (only ever used the self hosting package with export) or all the other use cases that Gitbook needs to consider. But to me doing AJAX requests or fetching the value instea

[2016-10-18 06:05] ocdtrekkie commented on #11
@mysticmode If I'm looking for a section on a programming structure, for example, in my programming books, I'd expect searching it to show me which books mention it, and let me open that book to the first mention.

Another feature that would be super important would be the ability to import a set of my ebooks data in some format I could easily create. In my case, I have a homegrown (and relatively

[2016-10-18 06:11] mysticmode commented on #11
Features:
 - Open Source
 - Support PDF and EPUB
 - Browser based
 - Full-text search on the metadata and the content.
 - Fetch book reviews
 - Centralised annotations (maybe a browser plugin)
 - Highlights
 - Library with categories

I'm looking into Elastic Search for PDF formats

[2016-10-18 06:15] SuperManitu commented on #11
Basicly this would be Plex, but for Books

[2016-10-18 06:24] mikaelbr commented on #11
While it's certainly cool to have a lot of features and there is a lot of potential here. But I think it's smart to start with the "core feature" and scope out from that when it's solved. I'd say start small, solve the critical, core feature (which is creating a full text register for pdf ebooks) and expand on that in time. Along the way you'll learn a lot about the problem and probably see new wa

[2016-10-18 06:38] priithaamer commented on #4
Interesting idea. Being a heavy user of both Immutable.js and GraphQL, i'd like to tinker around with this.

[2016-10-18 06:39] mikaelbr commented on #4
Cool! Interested in seeing how it works out. I haven't done a proof of concept or anything, just an idea I've been having.

[2016-10-18 08:01] shime opened #14 "Slack alike IRC client"
## Project description

Slack is a glorification of IRC with search support (for paid plans) and file uploads. Current trend for open source communities is to use Slack as a communication tool, but it all started years ago with IRC. IRC has played a major role in connecting open source communities over the years and is a well known standard in the developer circles.

Slack's main advantage over it

[2016-10-18 08:07] FredrikAugust commented on #14
You also have weechat :) I use that every single day, and absolutely love
it!

On Tue, Oct 18, 2016 at 4:01 AM Hrvoje Šimić <notifications@github.com>
wrote:

[2016-10-18 08:15] shime opened #15 "Express/Koa middleware for tracking exceptions"
## Project description

There are a lot of exception tracker services on the market:

* [Airbrake](https://airbrake.io/)
* [Raygun](https://raygun.com/)
* [Sentry](https://sentry.io/welcome/)
* [Rollbar](https://rollbar.com/)

There's also [Errbit](https://github.com/errbit/errbit), an open-source solution, which you have to host on some server.

Exception tracking is important, but instead of rel

[2016-10-18 08:23] sunsided commented on #11
I'm with @SuperManitu here about calibre. I've always been thinking of something that is either using calibre's own database (which is probably a bad idea) or something that just imports and/or exports to it as a starting point. I also thought it could be something peer-to-peer, e.g. utilizing torrent technology to broadcast metadata or content. That might really come in handy in a academic contex

[2016-10-18 08:29] bendiksolheim commented on #9
Do you know if vimb is being actively developed @FredrikAugust ? I had a look at it a before I made this issue, but I could not find a link to the source back then so I was a bit unsure if it was still actively developed. Poked around a bit more just now, and the last commit was actually just 16 days ago. Have you tried it?

[2016-10-18 08:32] shime opened #16 "npm package for pairing over ssh/tmux"
## Project description

Make a simple package that spits the command you have to send to a user you want to pair with over ssh.

It would accept a user's Github username and add her public ssh key to your machine to allow her to connect to your machine via ssh.

Originally described on [Coderwall](https://coderwall.com/p/pcrr4w/easily-invite-a-person-to-pair-with-you-in-tmux) by [Mislav](https://g

[2016-10-18 08:37] FredrikAugust commented on #9
@bendiksolheim I used it on and off for about a month now, and it seems to be pretty complete. Only thing I was missing was flexbox support, which is kind of a deal-breaker for me, as I use them a lot for web dev. As far as development goes I have no clue.

[2016-10-18 10:40] brankol commented on #6
I'd be interested to work on this but I'm not sure how to go about it.
You mentioned npm hooks as a way of subscribing to changes but unless I'm missing something, there are a couple of issues there:

1. npm hooks are only available to paid users
2. there is a limit of 100 hooks per user account which might or might not be an issue depending on how many projects a user would like to track
3. you n

[2016-10-18 10:57] mikaelbr commented on #6
Great! I haven't dived any deep into the new hooks API, so this might not even be possible using that. I thought that hooks would be for paid users only as a beta, but maybe I figured wrong.

If hooks aren't the way to go, maybe you could investigate doing some polling with caching. Have to confer with the licensing for NPM here, but doing something like `npm show <package-name> version` periodica

[2016-10-18 12:20] mysticmode commented on #11
I agree with @la0rg on OCR support for PDF formats. I think full-text search for most ebooks that are in PDF formats would work well on most cases with the parsed data. But OCR support should be in the pipeline though.

As @mikaelbr suggested, I'll try to start with the basic implementation and share it here. Then if people find it good, we can move on from there.

[2016-10-18 13:18] FredrikAugust commented on #1
![2016-10-18-091611_1920x1080_scrot](https://cloud.githubusercontent.com/assets/7691547/19479205/a3c02ee6-9513-11e6-91ec-6bc784bb6069.png)

Here's the first draft.

Things todo as of now;
* tags
* make a modal appear with all the text (and perhaps even comments) when the user clicks the body of the card
* categories, back-end is mostly done

[2016-10-18 13:19] FredrikAugust commented on #1
And then we need to look into hosting. Might also do some testing, but don't really see the need for it here.

[2016-10-18 21:23] FredrikAugust commented on #1
Forgot to mention, here's the repo: https://github.com/fullstck/open-source-ideas-website

[2016-10-19 00:12] TimoSta commented on #1
@FredrikAugust Maybe look into [GitHub Pages](https://pages.github.com/) to host it directly on GitHub? Backed by git by default, makes updates incredibly easy via pull requests and is free.

[2016-10-19 01:13] cassioscabral commented on #1
Hello everyone, I had a similar idea to group projects, issues and people in one place where you can find your first/next open-source project to work on it. So I created this [project ](https://github.com/cassioscabral/rateissuesfront) to solve this. It's made with JS, Vue, Firebase(might change later), Webpack. I have one friend working with me on this and would appreciate some feedback on it. I

[2016-10-19 06:13] mikaelbr commented on #1
I think doing something like @TimoSta is the simplest way to the goal, and why I was talking so much about not doing a backend. Just by doing Github as a backend we don't have to think about things like hosting, deployment routines, and what not. It is very easy to jump straight to the conclusion of needing all features and a backend doing all kinds of things, but I think it's better to do these t

[2016-10-19 07:02] teunw commented on #1
Hello everyone,
Good idea to only use Github pages at the beginning, even with a custom back-end you could keep it on gh-pages if you wanted to.

[2016-10-19 07:15] FredrikAugust commented on #1
gh-pages support rails? wow

[2016-10-19 07:17] mikaelbr commented on #1
@FredrikAugust No, I don't think so. I'm thinking @teunw is referring to hosting the backend and the client side at separate locations if one at one point need to use a custom backend.

[2016-10-19 07:18] FredrikAugust commented on #1
API-based back-end?

[2016-10-19 07:19] mikaelbr commented on #1
I would guess so.

[2016-10-19 07:20] FredrikAugust commented on #1
Hmm. That's a good idea, but if load times aren't a huge concern we could use a heroku free dyno

[2016-10-19 07:20] FredrikAugust commented on #1
Should suffice for our needs, but it isn't very elegant

[2016-10-19 07:22] mikaelbr commented on #1
One problem with Heroku Free Dyno is that it's down for some amount of time during the day due to some changes they did last year or so. So even if there's no massive load, it's not too suitable for production hosting.

[2016-10-19 07:25] FredrikAugust commented on #1
I know, you can get 16 hours of uptime per day, and if you don't use it for 30min it shuts down, and takes about 30sec to boot back up

[2016-10-19 07:26] FredrikAugust commented on #1
Well, guess I got to whip out JS again then :) I'll see what I can do today

[2016-10-19 08:37] mysticmode commented on #1
For @mikaelbr 's initial project description. Github pages is more than enough, we could utilise the `gh-pages` or `/docs` for this project. If the governance process grows more and complicated, we could build a dedicated backend for that later. I'll see if I can build this tomorow. I'm already taking up and doing one project from this repo which needs much work.. lol

[2016-10-19 08:39] FredrikAugust commented on #1
I'm working on it now Nirmal. Using only js/html/css, so should work on
ghpages

On Wed, Oct 19, 2016, 10:37 Nirmal Almara <notifications@github.com> wrote:

[2016-10-19 08:41] mikaelbr commented on #1
Using `/docs` on this repo sounds smart. That way we can have it close to the issues and @FredrikAugust you already have access to committing here.

[2016-10-19 08:53] teunw commented on #1
I was referring to an API based backend @FredrikAugust (should have made it more clear).
That way, you can keep the frontend on Github. No need to move it over later.

[2016-10-19 08:53] mysticmode commented on #1
@FredrikAugust Just a simple remainder. you said `js/html/css` but Github pages are based upon Jekyll engine. We have to make the directory structure and apply the jekyll configuration. Let me know if you need any help :)

[2016-10-19 08:58] FredrikAugust commented on #1
Ah yeah @teunw, making this into a back-end would take a matter of minutes. I already have most of the back-end in place, not as an API though. @mysticmode Yeah, don't know anything about working with ghpages/jekyll. If you could help out with that it would be great. Think I should be done with v0.1 soon(tm) :)

[2016-10-19 09:01] teunw commented on #1
@FredrikAugust Sure, just a idea :).
Good luck on v0.1

[2016-10-19 09:01] FredrikAugust commented on #1
Haha, thanks

On Wed, Oct 19, 2016, 11:01 Teun Willems <notifications@github.com> wrote:

[2016-10-19 09:08] teunw opened #17 "Chat for this project"
## Project description

A chat for this repository, so that we can chat instead of submitting issue comments.
Different issues can use different 'channels'.

## Relevant Technology

Slack seems good, although in the spirit of the project a custom solution could be developed as well.

## Who is this for

People contributing to this project.

[2016-10-19 09:09] FredrikAugust commented on #17
Wow, was just about to submit the exact same issue :) Slack seems like the easiest and probably the best.

[2016-10-19 09:12] teunw commented on #17
@FredrikAugust
Great minds think alike ;).
I think it's a better idea for @mikaelbr to create it, he's the project owner after all.

[2016-10-19 09:14] mikaelbr commented on #17
Slack works good. 👍 One limiting factor however is that it's invite only. You could use something like https://github.com/rauchg/slackin, but that requires hosting (and free Heroku dyno will be limiting for this. I've used before and ended up having to pay for it for it to be usable). Could Discord (https://discordapp.com/) be an alternative? Or Matter Most? Or should we just go for Slack?

[2016-10-19 09:16] teunw commented on #17
@mikaelbr
Completely forgot about Discord, seems better than invite only.
Could hold people back from joining.

[2016-10-19 09:21] FredrikAugust commented on #17
Or, as I would definitely prefer, IRC :)

[2016-10-19 09:21] FredrikAugust commented on #17
Then we could also create bots for added functionality

[2016-10-19 09:22] FredrikAugust commented on #17
Another possibililty is using telegram, which is quite nice on mobile/tablet/web/desktop app.

[2016-10-19 09:23] priithaamer commented on #17
I'd be in favor of Slack as it is most probably running for most of us already...

[2016-10-19 09:25] FredrikAugust commented on #17
Indeed, irc doesn't require any setup or similar though, and it's really easy for people to join.

[2016-10-19 09:26] teunw commented on #17
True, I don't think we need stuff like voice chat tbh.

[2016-10-19 09:26] mysticmode commented on #11
I'm looking into `pdf.js` and `elastic-search`. Through `pdf.js` we could get the rendered `HTML5`.

- I'm passing that to elastic search. Using [strip char filter](https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-htmlstrip-charfilter.html) we could get the search content stripped from HTML.
- we could full-text search on all the documents and find the relevant book as we h

[2016-10-19 09:30] FredrikAugust commented on #1
Alright, basic functionality is done. You can find it in the js branch of my repo (linked further up) @mysticmode

[2016-10-19 09:39] SuperManitu commented on #11
I don't think pdfjs is needed you will almost never read the pdf in browser. For thise cases I would just open the pdf in a new tab and let the browser does its job. Pdfjs is rather slow and not a pleasurable reading experiance.

[2016-10-19 09:43] mysticmode commented on #11
No. When the user uploads a book, I'd be using pdf.js and converting though a headless browser like `phantom-js` in the server.

[2016-10-19 09:45] mysticmode commented on #11
I tried python `pdfminer` but the extracted HTML is messy. PDF.js gives the clean code

[2016-10-19 09:48] SuperManitu commented on #11
It might be easier to do the server in Java, as Elasticsearch provides a Java API, you can use a REST microframework like Jersey and you have libraries like PDFBox for reading pdfs. Plus Node's performance on bigger files is really bad.

[2016-10-19 09:51] mysticmode commented on #1
Looks good!

You could have a simple directory structure like this
[code]
You can read the jekyll docs. Let me know if you can setup this, or I can do this tomorow morning IST

[2016-10-19 09:54] SuperManitu commented on #11
I would opt for ElasticSearch + Jersey (or similar) REST Server + clientside SPA (preferably typescript) + optionally (later on) nodejs for Server-rendering the SPA.

[2016-10-19 10:13] SebastianKeller commented on #17
@FredrikAugust What about #open-source-ideas on freenode?

[2016-10-19 10:17] FredrikAugust commented on #1
It would be great if you could do it, and I'll focus on adding the rest of the functionality! :)

[2016-10-19 10:18] FredrikAugust commented on #17
@SebastianKeller Sounds great to me, IMO that is the simplest and best solution, but everyone to themselves I guess. I'll be there if anyone needs me :)

[2016-10-19 10:18] mikaelbr commented on #17
I just did this to make it simple: https://opensourceideas.herokuapp.com/

Reasoning is that I think most people already have Slack open, and it's now become more accessible than IRC. Even though many still are on IRC I think Slack has become more what "many new developers get introduced to first". Also, there is a gateway from Slack to IRC, but harder to do the other way around.

[2016-10-19 10:20] FredrikAugust commented on #17
If you can setup Slack -> IRC then I could do IRC -> Slack. Recently did IRC -> Telegram, and it's not that hard really.

[2016-10-19 12:05] mysticmode commented on #11
Working with filesystems is costly. I need to think about this.

Maybe I could use java as a semi-standalone process to extract pdfs.

But I'm planning to use nodejs as the base for the application. As this is open source, I think using javascript for server is better when it comes to collaboration and it works pretty well for SPA.

I'll try the pdf extractors and see which one suits best. As for

[2016-10-19 12:07] mikaelbr commented on #17
This is now done and can be closed 👍

[2016-10-19 12:07] #17 closed

[2016-10-19 12:24] SuperManitu commented on #11
I dont think javascript is better for collaboration, a type system can help you a lot when using code of others.
I'll create a working prototype in the next days

[2016-10-19 12:31] FredrikAugust commented on #11
What language  would you use then?

On Wed, Oct 19, 2016, 14:24 SuperManitu <notifications@github.com> wrote:

[2016-10-19 12:35] SuperManitu commented on #11
As said a small REST Server written in Java as Java is easy to adopt and learn, has a good type system and has very good tooling (maven and eclipse/intellij)
For the SPA I would use typescript as it enhances Javascript with an unobstrusive type system and is very popular, so you get type definitions for almost all javascript libraries

[2016-10-19 12:39] FredrikAugust commented on #11
What about C++? Also has good tools and isn't much harder to learn than
Java IMO

On Wed, Oct 19, 2016, 14:35 SuperManitu <notifications@github.com> wrote:

[2016-10-19 12:40] FredrikAugust commented on #11
We could also write it in Python, which is by far easier to learn for newer
programmers, and has great support for platforms, with plenty of libs we
could use.

On Wed, Oct 19, 2016, 14:39 Fredrik August Madsen-Malmo <
mail.fredrikaugust@gmail.com> wrote:

[2016-10-19 12:50] SuperManitu commented on #11
I personally like C++ far more than Java, but it has too many disadvantages in this particular case:
Pro:
- No JVM required
Cons:
- No central module registry (like maven or npm)
- Many caveats not clear to new developers (const, object creation and manual memory management to name a few)
- complicated dependency management (autotools, cmake, or similar)

Python:
Con:
- No type system

[2016-10-19 12:55] FredrikAugust commented on #11
Yeah, those are good points. Dependency management isn't really something contributors need to worry about a lot, considering most of that will be done during the initial phase. Consts and memory management are indeed a bit harder for newer devs.

Python however I don't see why we couldn't use. The lack of types isn't really that big of a problem IMO, but it is handy.

With Python we don't have to

[2016-10-19 13:45] TimoSta commented on #1
Not saying that we have to, but Jekyll can easily be [turned off for GitHub Pages](https://github.com/blog/572-bypassing-jekyll-on-github-pages). But in my understanding, even if it is not turned off, you should still be able to host any static application you want as long as you avoid Jekyll's magic file/folder names starting with an underscore?

[2016-10-19 13:56] FutureProg commented on #11
I'm interested in this, and I'm for using Python. The low barrier to entry for newer devs is probably a huge plus for using the language for the backend. Also, @SuperManitu, I believe @mysticmode has already created a repo for this project.

[2016-10-19 14:01] SuperManitu commented on #11
I wouldnt use python, because having a type system is really helpful, python has the tendency to be rather slow compared to Java and i had problems with some libs using native code. Plus using intendation as blocks is ugly

[2016-10-19 14:07] FutureProg commented on #11
@supermanitu, if we were to use Java, what backend framework would you
suggest?

On Wed, Oct 19, 2016 at 10:01 AM SuperManitu <notifications@github.com>
wrote:

[2016-10-19 14:15] SuperManitu commented on #11
As said I would use the Jersey RESTful Framework: https://jersey.java.net/documentation/latest/getting-started.html#new-project-structure

[2016-10-19 14:47] TimoSta commented on #5
If you want to make it pretty, check out https://github.com/christiannaths/Redacted-Font!

[2016-10-19 16:37] FredrikAugust commented on #11
I don't like python either because of the indentation "thing". If you're up
for using something like python that doesn't use that system we could use
ruby.

On Wed, Oct 19, 2016, 16:15 SuperManitu <notifications@github.com> wrote:

[2016-10-19 18:03] FutureProg commented on #11
I'm personally not for using Ruby. PHP and Java are good for me.

On Wed, Oct 19, 2016, 12:37 PM Fredrik A. Madsen-Malmo <
notifications@github.com> wrote:

[2016-10-19 18:37] mysticmode commented on #11
When we are handling files, in our case `pdf, epub`. We could try using [Xpdf](http://www.foolabs.com/xpdf/about.html) I haven't tested it yet, but I read in few places that it gives better output than `PDFBox`. It's written in `C++` and it's licensed under `GPL`. If I start this project, I would like this to be in GPL. And there are multiple pdf extractors available in C++ which we can test.

As

[2016-10-19 18:41] mysticmode commented on #11
Gotta say Elixir is far better than Ruby in performance plus You will experience the taste of Ruby style with the speed of Erlang.

[2016-10-19 19:00] Haroenv commented on #16
In case you were wondering if it's possible, you can put bash commands in a `bin` value in package.json and then it's installable via npm. This won't work when there's no bash shell available, but the chance is large that tux won't work either in that position. Do you want a package like that or rather one that's using things like `rimraf`?

[2016-10-19 20:13] Thrilleratplay opened #18 "Offline JSFiddle clone"
## Project description

Use [Electron](http://electron.atom.io/), [React Native](http://facebook.github.io/react-native/), or similar platform to build a [JSFiddle](https://jsfiddle.net)/[Codepen](http://codepen.io) clone that is a stand-alone application and can be used without Internet access.

The idea is to provide a standardized web development environment without having to worry about  cross

[2016-10-19 20:17] Haroenv commented on #18
[jsbin](https://github.com/jsbin/jsbin) is open source, which could be a starting point.

[2016-10-19 21:11] Thrilleratplay commented on #18
@Haroenv Thanks for reminding me.

[Parts of Plnkr.co](https://github.com/filearts/plunker) are also open source.  Another good starting point is [Editr.js](https://github.com/Idered/Editr.js).

Anyone not familiar with [Ace](https://ace.c9.io) or [CodeMirror](http://codemirror.net) should probably start there.

[2016-10-19 21:30] SuperManitu commented on #11
Never used Elixir, but from what I've seen it looks good. Should be a good chouce for the server.

[2016-10-19 21:49] ngoctranfire commented on #11
I think using node.js with walmarts electrode as a framework would be great. The project can be super modularized. I believe react would work well for this project and is such a popular framework people can really help with its development and pick up easy. It's also easy to onboard someone

[2016-10-19 21:53] FredrikAugust commented on #11
Do we really need electron though? Couldn't it just be a website?

On Wed, Oct 19, 2016, 23:49 Ngoc Buu Tran <notifications@github.com> wrote:

[2016-10-19 21:55] ocdtrekkie commented on #11
I absolutely would like to see a standards-compliant website I can access from anywhere. (As a personal note, I'd like to be able to host it as a Sandstorm.io app, which is possible as long as it's A. web-based and B. runs on 64-bit Linux.)

[2016-10-19 21:58] SuperManitu commented on #11
For the SPA I would make a simple website. Using electron can be done if needed later (but i doubt that). As Frontend frameworks there is either React + Redux or Cycle.js (which I'm in favour of). Used Angular2 and won‘t use it again.

[2016-10-19 21:59] inondle commented on #13
Hi, I'd like to work on this!

[2016-10-19 22:36] Thrilleratplay opened #19 "Versioned documentation from markdown"
## Project description
Client side rendered documentation from markdown files, similar to [Flatdoc](http://ricostacruz.com/flatdoc/), but with versioning like [ApiDocJS](http://apidocjs.com/example_versioning).

## Relevant Technology

The versioning could be implemented using a custom markdown tag but probably should be implemented using Git and tags.

A nice feature would be the ability to edit

[2016-10-19 22:58] Thrilleratplay opened #20 "MST3k web page easter egg"
## Project description

Create a responsive SVG of the [Mystery Science Theater 3000 silhouette](https://telewyzory.files.wordpress.com/2011/04/mst3k.gif) to be position at the base of the window viewport.  Using hidden anchor tags (maybe?) with title containing the message and attribute indicating the speaker, display message balloons from Joel/Mike, Crow and Tom Servo.   Maybe have Joel's/Mike's

[2016-10-19 23:07] tbodt commented on #9
Likely good idea for implementation would be to use Electron.

[2016-10-19 23:24] Thrilleratplay commented on #9
@bendiksolheim Have you tried [Vimium](https://github.com/philc/vimium)?

[2016-10-20 00:01] Thrilleratplay opened #21 "Netflix.com Kodi plugin using Electron"
## Project description

Using [Electron](http://electron.atom.io), which has [Widevine support](https://github.com/electron/electron/issues/2085), create a [Kodi](https://kodi.tv) plugin that cleanly integrates Netflix.  Other plugins like [Flix2Kodi](https://github.com/logi85/plugin.video.flix2kodi) scrape Netflix and show individual show episodes that aren't guaranteed to be in order.  This does

[2016-10-20 00:28] Thrilleratplay opened #22 "MySQL/Postgres ER diagram generator"
## Project description

Autogenerate , or load cached, force layout node graph, [example](http://vowl.visualdataweb.org/webvowl), by reading the information_schema metadata from MySQL/Postgres/Oracle/SQL Server.  Node tethers would represent foreign keys. Hovering or highlighting a node could show the table description.

Security should be the first priority, followed by performance and usability.

[2016-10-20 05:56] mysticmode commented on #11
@SuperManitu Could you explain why do we need a front-end framework? I don't think our front-end is complex, so far with what @ocdtrekkie pointed out earlier, the browser based app should be standards-compatible and upon features it should be minimal at first. Most of the process is happening in the backend.

Let's build it with bare-bone javascript or maybe typescript, and on the go.. we'll figur

[2016-10-20 06:22] mysticmode commented on #11
I think it's better if we take this discussion to chat. I've created a slack team http://libreread.slack.com

Let's discuss the tools and intricacies of the app in the chat. And If we want to discuss about the features, we can post here.

Please share your emails if you would like to join the development, so I could add you on slack team.

Thanks!

[2016-10-20 06:23] SuperManitu commented on #11
Yes of course, for the beginning we dont need a framework. Just standard Typescript. Awaiting the setup :)

[2016-10-20 06:55] bendiksolheim commented on #9
@Thrilleratplay : yeah, I used it back when I used Chrome :) It is about the same as Vimperator for Firefox, and as far as I remember also suffers a bit from being an extension.

I haven't had the time to try out Vimb yet, but I definitely will.

[2016-10-20 06:58] mikaelbr commented on #19
Hi! Thanks for posting an idea. Is this something that could actually be a contribution to the [Flatdoc project](https://github.com/rstacruz/flatdoc)?

[2016-10-20 08:55] shime commented on #15
[Dino](https://github.com/dinodsaurus) and me are going to start some work on this over this weekend.

[2016-10-20 08:56] mikaelbr commented on #15
Cool! 👍

[2016-10-20 08:59] mikaelbr commented on #13
Great! 🍰  I'll mark the issue as "joined". Feel free to keep this issue updated with your progress

[2016-10-20 11:45] shime commented on #16
I would rewrite Mislav's script in JavaScript instead of embedding it.

[2016-10-20 12:22] FutureProg commented on #11
@mysticmode email is nickmorrrison09@gmail.com

[2016-10-20 12:57] Thrilleratplay commented on #19
It very well could be depending on how it is implemented.

[2016-10-20 13:27] rolandschuetz commented on #15
What's the advantage of this over Errbit?

[2016-10-20 13:32] shime commented on #15
@rolandschuetz you don't have to host an additional server and it's focused on Node.

[2016-10-20 14:51] priithaamer commented on #18
I was working on this over a year ago but had to pause it. It is written in Swift but Electron seems to be more reasonable choice now.

I would love to pick this project up again.

[2016-10-20 15:41] rolandschuetz commented on #15
@shime So that only works if your current server runs on nodejs.

[2016-10-20 15:44] shime commented on #15
@rolandschuetz yup, we're gonna build an Express/Connect/Koa middleware.

[2016-10-20 17:54] FredrikAugust commented on #1
Alright, got the base implementation down. Doing like @TimoSta sounds good, we don't really need any fancy features. If someone wants to implement this into GH Pages that would be great, as I have no experience with it.

[2016-10-20 19:15] mysticmode commented on #11
@FutureProg hey, let me know if you get the invite :) It's bouncing here and I couldn't send the invite again. Weird

[2016-10-20 19:49] FutureProg commented on #11
@mysticmode Nope, haven't received one yet.

[2016-10-20 20:26] azer commented on #9
[kaktüs](http://github.com/kaktus/kaktus) aims to achieve this, you can give it a try. You can open 100 tabs with it and filter everything (tabs, bookmarks and history) by keywords. Feel free to contribute it.

Previously in Linux, I had much more minimal solution with [delicious surf](http://github.com/azer/delicious-surf) but it needed a tiling window manager like Xmonad.

[2016-10-20 21:27] FredrikAugust commented on #11
mail.fredrikaugust@gmail.com :)

[2016-10-21 09:07] FredrikAugust commented on #14
Why would you only support MacOS?

[2016-10-21 09:21] shime commented on #14
It takes less time to just focus on a single OS for a MVP.

[2016-10-21 09:22] FredrikAugust commented on #14
How would people that don't have a mac work on this?

[2016-10-21 09:24] mysticmode commented on #11
@FutureProg I revoked and sent it again. Please check now.

[2016-10-21 09:24] Haroenv commented on #14
[Textual](https://www.codeux.com/) already exists though. There are loads of other clients too

[2016-10-21 09:24] shime commented on #14
@FredrikAugust I think it's okay to focus on Linux or Mac at first, so choose any you're most comfortable with.

[2016-10-21 09:25] FredrikAugust commented on #14
Yeah that sounds better, shouldn't be hard to make it cross-compatible with windows/osx/linux though :)

[2016-10-21 09:27] shime commented on #14
@Haroenv looks a bit like Slack, but it's Mac only, closed source and paid, so meh.

[2016-10-21 09:50] timwis commented on #14
I highly recommend [irccloud](http://irccloud.com). It's got a modern, slick UI, saves your chat history even when you're offline, and offers nice mobile apps with push notifications.

[2016-10-21 09:57] Haroenv commented on #14
Slack is closed source too. I think you're forgetting the value of real employees

[2016-10-21 14:47] TimoSta commented on #10
I have been working on a [Theme based on One Dark with italic highlights](https://github.com/TimoSta/one-dark-italic-syntax) instead of Oceanic Next, as I like the colors better. I use it with Operator Mono in Atom, and it works perfectly so far.

Adapting it to use a combination of Fira Code and flottflott shouldn't be more complicated than to hard-code flottflott into the stylesheet and set Fira

[2016-10-21 15:03] mikaelbr commented on #10
Cool. Couldn't you have both Operator Mono and Fira Code in the font-family? Making it `Operator Mono` for those who have that but for those who don't it fallbacks gracefully.

[code]

[2016-10-21 15:13] TimoSta commented on #10
Yes, of course. Thing is, according to the Atom guys it is best practice [not to specify the font family in the stylesheet at all](http://flight-manual.atom.io/hacking-atom/sections/creating-a-theme/#creating-a-syntax-theme).

The simple reason for this is that Atom allows you to specify the font family in the Settings:

![image](https://cloud.githubusercontent.com/assets/5621996/19603277/9174f1fa

[2016-10-21 15:18] mikaelbr commented on #10
That's why I added `<UserSpecified>` to the `font-family` property so it wouldn't entierly break the behaviour. But it would change the precedence and might be surprising for some, but it can be clearly stated as a part of the README (and it's kind of the point of the theme).

[2016-10-21 15:20] FutureProg commented on #11
@mysticmode I'm not certain what's going on but I still haven't received an invite (and it says my email isn't in the system when I do a password reset). Are you sure you're sending it to nickmorrison09@gmail.com ?

[2016-10-21 15:21] ocdtrekkie commented on #11
I have no interest in joining Slack. Please just make sure when there's a repository to check out, that the link to it makes it into this thread.

[2016-10-21 15:24] TimoSta commented on #10
Not sure if it is possible to reference the user specified font family from the LESS style sheet. Do you have any references on how this could work?

[2016-10-21 15:26] mikaelbr commented on #10
No, probably not. But depending on whether or not it should be supported it might be possible to make it as a plugin instead. But maybe that's too much?

[2016-10-21 15:31] mikaelbr commented on #11
FYI: There's also created a Slack team that can be used for discussing projects from this repo. You can get an automatic invitation here http://opensourceideas.herokuapp.com/

@ocdtrekkie We'll make sure a link to the project is posted here and in [this overview](https://github.com/mikaelbr/open-source-ideas/blob/master/COMPLETED.md) 👍

[2016-10-21 15:33] mysticmode commented on #11
@FutureProg yeah, your email has a spelling mistake previously :)

@ocdtrekkie Sure, we are yet to do a basic setup, we are testing tools and working on the mockup. I need to think about this, I'm keeping slack only for discussing on development. This is the repo https://github.com/mysticmode/libreread
I'll notify you about the process in this thread soon.

[2016-10-22 05:47] danfickle commented on #11
Elasticsearch with the Apache Tika mapper plugin already does search of PDFs and many other formats, you just need to provide a web client.

https://hustbill.wordpress.com/2015/09/11/full-text-search-by-elasticsearch-mapper-attachments-in-pdf-format/

[2016-10-22 12:17] priithaamer commented on #18
Hey! First rough implementation can now be downloaded at [priithaamer/Fiddlings/releases](https://github.com/priithaamer/Fiddlings/releases) I have lot of ideas already but any suggestions are welcome. The backlog is kept in the project page of repository.

[2016-10-22 20:19] Thrilleratplay commented on #18
@priithaamer It is looking great.  I added a few "nice to have" features.

[2016-10-23 08:31] priithaamer commented on #18
Thanks! They are actually more than nice to have features. They are required for this app to be useful.

[2016-10-23 19:25] dvikan commented on #1
+1 for jekyll

[2016-10-24 13:43] Haroenv commented on #8
https://github.com/yaronn/blessed-contrib also exists

[2016-10-24 17:18] bsonntag commented on #6
I've been playing around with this idea by following this guide: https://github.com/npm/registry-follower-tutorial

I have two working examples, one using `node-notifier` and another using Electron. I'll share the code soon.

[2016-10-24 19:33] bsonntag commented on #6
As promised, here's the code: https://github.com/bsonntag/npm-notifier

[2016-10-25 02:43] rozzzly commented on #10
<sub>_( **psssst...** there totally isn't a torrent out there you can find via google )_</sub>

[2016-10-25 09:12] mikaelbr commented on #10
@rozzzly I think this initiative that is all about Open Source, and respecting each others intellectual rights, shouldn't encourage pirating or breaking of licenses.

[2016-10-25 11:54] karuppiah7890 opened #25 "Android File Sharing Library"
## Project description

I created a simple Android App to share files within a WiFi LAN between two mobiles, where one mobile creates a hotspot and the other connects to it and the network is formed.

It was a very basic App, so I wanted to upgrade it. I had created a music player by learning from a tutorial and then upgraded my basic App to one, where people can share music files through my App a

[2016-10-27 20:11] mikaelbr commented on #8
Cool. That's looks pretty useful, and now that I see it I know I've seen it before at some point. It's not exactly the same as I envisioned, as it's more low level, but looks very interesting non the less.

[2016-10-27 20:18] mikaelbr commented on #6
Cool! I get that it's probably still for experimenting and good idea to make an electron app from it. Didn't think of that 👍  I would suggest (and you are probably thinking this already) to split up the different user interfaces (electron and CLI) to two different packages both using a library for getting the data. Users interested in the CLI shouldn't have to install electron etc. But as I said,

[2016-10-27 20:34] mikaelbr commented on #10
@TimoSta I marked this as joined. Would be cool if you keep us updated if you make an open source alternative with a free font and link to it here.

[2016-10-27 20:58] TimoSta commented on #10
Will do. I'm currently experimenting with monospacing a non-mono script font. It's surprisingly hard to make it not look terrible.

[2016-10-28 06:17] mikaelbr commented on #10
Interesting! One step better than a open source theme: an open source alternative to the font it self!

[2016-10-31 16:19] karuppiah7890 opened #27 "Open Source vesion of SoundWire Android App"
## Project description

Simply put, I want to make an Open Source version of this App.

https://play.google.com/store/apps/details?id=com.georgie.SoundWireFree

The App is super cool. And I want to learn how it works. I am new to streaming and stuff, and I don't know much about audio concepts. But I do know some network concepts. So if we make this App, we can learn a lot, and of course we can hel

[2016-10-31 16:52] karuppiah7890 opened #28 "Open Source version of Sound Seeder App"
## Project description

I want to make an Open Source version of this App :
https://play.google.com/store/apps/details?id=com.kattwinkel.android.soundseeder.player&hl=en

For reasons similar to this issue and this issue is a related issue :
https://github.com/mikaelbr/open-source-ideas/issues/27

Both issues are related problems if you check out the Apps. It's just that in SoundSeeder App, the And

[2016-11-01 14:22] karuppiah7890 commented on #25
I have started with a basic version of the library. You can have a look at it here : https://github.com/Android-File-Share/FileShare

[2016-11-01 21:39] Haroenv commented on #6
https://twitter.com/holman/status/793561589290979328 Libraries.io might have a similar feature now

[2016-12-09 16:41] mysticmode commented on #11
Hi, I have created a basic version of LibreRead. You can signup, upload books and it will get indexed in Elastic Search as a background job. Once the indexing is complete, **you can search through all books by Metadata and Content.**

Here are some screenshots of what I built.
<img width="1420" alt="screen shot 2016-12-09 at 10 02 35 pm" src="https://cloud.githubusercontent.com/assets/1125199/2105

[2016-12-15 09:11] vfonic commented on #1
Hey guys, what's the status of this? Any new progress? Is there a url with the current implementation?

I'm not in favor of jekyll. If we have clean pure js/html/css frontend, we can move the site anywhere in a matter of seconds. I don't see the added value of jekyll, or having a Ruby on Rails backend, if the only thing the website does is uses a github API.

[2016-12-15 09:16] mikaelbr commented on #1
The page is out on http://mib.im/open-source-ideas/. No custom domain yet, and it inherits my domain in a catch-all CNAME. See the implementation here: https://github.com/mikaelbr/open-source-ideas/tree/master/docs

Good you are checking in on the status.

[2016-12-15 09:16] vfonic commented on #1
The design looks clean and simple. I think it should be kept that way. v1 can do a full page refresh to show a single issue. Maybe in v2 we can add some frontend js library for simple routing.

[2016-12-15 09:20] vfonic commented on #1
Just saw the website now. Looks great! :)
I don't remember seeing this in this repo's readme. I think it should be there. /cc @mikaelbr

[2016-12-15 09:20] mikaelbr commented on #1
Absolutely. I think this works well for now - and isn't slow at all so client side rendering isn't as necessary if you ask me. @FredrikAugust has done a good job there.

Should do a custom domain in time and probably some sort of logo. Also, one thing I'd like to see is more of a full overview on the homepage, where it's easier to see more projects at once. Now, there is a lot of scrolling and har

[2016-12-15 09:21] mikaelbr commented on #1
I'll add a link now 👍

[2016-12-15 09:38] vfonic commented on #1
I'd also say that this is sort-of finished project, at least v1. :)
You could add it to the list of finished projects.

I want to contribute more to this repo's projects. I hope to find some time in the future.

[2016-12-15 09:39] mikaelbr commented on #1
:+1: Great

[2016-12-15 09:44] mikaelbr commented on #1
Also, I think closing this can be productive to clean up some issues. The discussion can still go on.

[2016-12-15 09:44] #1 closed

[2016-12-15 09:45] mikaelbr commented on #11
This is well underway with brilliant work from all of you and @mysticmode. I'm closing the issue as it's started and progress has been made. Please feel free to continue the discussion even though the issue is closed.

[2016-12-15 09:45] #11 closed

[2016-12-19 11:35] georoot commented on #14
Has anyone started working on this one ?

[2016-12-19 11:40] mikaelbr commented on #14
@georoot As far as I know it's up for grabs. 👍

[2016-12-19 11:41] georoot commented on #14
Nice let me give it a shot 👍

[2016-12-19 11:42] mikaelbr commented on #14
I've marked it as joined 🎉

[2016-12-19 15:24] georoot commented on #14
Hi, just a quick update, if anyone good at css would like to jump in feel free as it is not one of my strongest suite. Here is the repo link https://github.com/georoot/ircc

[2016-12-23 22:23] ethanhs commented on #9
Well, there is [Qutebrowser](https://github.com/The-Compiler/qutebrowser), which does something like this for VIM.

[2017-01-08 15:10] Haroenv commented on #18
Relevant: https://kushagragour.in/lab/web-maker/

[2017-01-14 17:25] mikewheaton commented on #10
I find Flottflott very difficult to read, and with it not being monospaced I'm surprised to see it recommended for use in code. What a mess.

You'd think there would be monospaced script/cursive fonts out there, as apparently they used to make them for typewriters. I haven't had any luck finding one. The only free monospace font I've found with a decent italic (curved characters, not just slanted)

[2017-01-14 17:29] mikaelbr commented on #10
Agreed. I did some research earlier also, and couldn't really find a monospaced italic font similar to that of Operator Mono. I've been using Fira Code without a special font for italic views and It looks fine, I think.

Example:
![Code](https://pbs.twimg.com/media/C1VoqI_XEAAkAmG.jpg:large)

[2017-01-14 17:31] mikewheaton commented on #10
I'm going to try the italic for a while and see if it helps with readability, or is just noise. 😄

[2017-01-20 14:03] fajaryanw commented on #10
@mikewheaton after follow your guide with [Custom CSS and JS extension](https://github.com/be5invis/vscode-custom-css)

I got this in VS Code:
 **Warn** Your Code installation appears to be corrupt. Please reinstall.

The italic font still use Fira Code. this is no change apperance to Ubuntu Mono.
any ideas?

[2017-01-20 16:48] mikewheaton commented on #10
@fajaryanw: I've seen that warning too, although it went away after a while. So far everything is working just fine so I suspect it's a false alarm.

If you go to user settings, do you have this setting? (updated to your path, of course)

![image](https://cloud.githubusercontent.com/assets/1382445/22157453/a83bcf52-deec-11e6-9f64-286e7a3466e2.png)

If so, the next thing you can try is to bring up

[2017-01-21 03:14] fajaryanw commented on #10
@mikewheaton : Oh yeah ! I only missed one slash `/` to fix this all.

![slash](https://cloud.githubusercontent.com/assets/6999559/22171471/67a1c3e0-dfc1-11e6-96b8-076df676fe32.png)

Thanks a lot :)

[2017-01-27 04:26] mkhleel commented on #10
![image](https://cloud.githubusercontent.com/assets/24282156/22360548/60c933ae-e459-11e6-8516-fb99c259c0ef.png)

My terminal
Thank you :+1:

[2017-02-03 08:39] fajaryanw commented on #10
@mikewheaton : after update VS Code version 1.9.0, custom not work anymore. The font still use Fira Code. no change apperance to Ubuntu Mono Italic. Do you experience the same thing ?

[2017-02-03 08:43] fajaryanw commented on #10
@mikewheaton : after update VS Code version 1.9.0, the custom doesn't work anymore. The font still use Fira Code. no change apperance to Ubuntu Mono Italic. Do you experience the same thing ?

[2017-02-04 16:20] mikewheaton commented on #10
@fajaryanw: Yes, it looks like the [Custom CSS and JS loader](https://github.com/be5invis/vscode-custom-css) extension is not working anymore. I've opened an issue here: https://github.com/be5invis/vscode-custom-css/issues/8

[2017-02-08 17:03] devershichandra27 commented on #12
Hi! I'm interested in working on this, if this problem is still open.

[2017-02-08 17:03] mikaelbr commented on #12
It is. Perfect 👍

[2017-02-09 13:46] FredrikAugust commented on #14
Seems like @georoot's implementation has staled, so I've started working on this as well.

[2017-02-10 18:51] georoot opened #29 "Gitlab like server in nodejs"
## Project description

[Gitlab](https://gitlab.com) is an awesome opensource alternative to github. The problem is that it is too bloated to use on servers with limited resources.`Git` protocol can be setup on any server with ssh access and using [ssh2](https://github.com/mscdex/ssh2) a very lightweight daemon can be made to handle git requests.

The main advantage to having such a minimalistic s

[2017-02-10 20:41] georoot commented on #29
### A little status update

I created a basic `ssh` server that can now clone and push changes. Still needs work on `public key` auth. Currently using password authentication.

[2017-02-11 04:46] georoot commented on #29
Not sure if anyone saw this till now, anyways i just finished with a basic version with support for `ssh` and `api`.

Repository URl : https://github.com/georoot/ristretto
Documentation : http://rahulbhola.ml/ristretto/docs

[2017-02-20 06:51] robmcguinness commented on #10
[Custom CSS and JS loader](https://github.com/be5invis/vscode-custom-css) does appear to work with the CSS below.  Maybe the CSS class names changed between releases?  I dismissed the corrupt code warning as well.

[code]

[2017-03-05 21:38] khyamay commented on #10
can confirm @robmcguinness is right, it is working albeit with warning for corrupted code

[2017-03-06 20:06] rusrushal13 commented on #13
Hello, I too wanted to join it and work on it.

[2017-03-06 20:58] mikaelbr commented on #13
Doesn't seem to me that @inondle has started yet, or?

[2017-03-07 08:58] rusrushal13 commented on #13
So can I start on it?

[2017-03-07 08:58] mikaelbr commented on #13
Sure. 👍

[2017-03-19 20:09] rajasimon commented on #3
I like this idea! Before jumping into code let's find out codepen.io import gist is there or not ?

[2017-03-19 20:15] Thrilleratplay commented on #3
I know it is D3 focused but sounds this a lot like [bl.ocks.org](https://bl.ocks.org/-/about)

[2017-03-20 07:34] FredrikAugust commented on #3
@rajasimon I don't think importing gists will be any problem, you can simply use the GitHub API to retrieve them, and load them into your platform.

[2017-03-27 22:56] johnaau opened #30 "SQL-based programming language for web development"
## Project description

As most web sites/applications are database-driven these days, I think there may be a place for a new programming language/environment, where web and database are one system.

Let’s look at some of the way we may be developing database-driven websites/applications now…

We write our SQL, put it in a string in PHP and send this request to MySQL which returns the data we need

[2017-03-27 23:09] Thrilleratplay commented on #30
This sounds like a security nightmare trying to prevent SQL injections.

[2017-03-27 23:16] johnaau commented on #30
@Thrilleratplay, I would say just the opposite. You would be writing in SQL so a parameter value could only be a parameter value, it couldn't contain anything else like SQL comment, closing delimiter, or other SQL statement

[2017-04-12 14:01] liamstaras opened #31 "Xtreme Community Edition"
The software company Xara released a limited version of its graphics design suite as source code in 2005, designed for use under Linux. Various issues caused the Xara developers to abandon XaraLX in favour of the paid/commercial suite that still exists today.
However, the source code for XaraLX is still available on GitHub and I know many frustrated users of the
modern Photo and Graphic designer t

[2017-04-12 20:49] nemoDreamer commented on #10
I use a combination of Fira Code and "[Space Mono](https://fonts.google.com/specimen/Space+Mono)":

<img width="252" alt="fira_code" src="https://cloud.githubusercontent.com/assets/9303/24978787/e84fc9c4-1f9f-11e7-8acb-bf432b8fea29.png">

It took some wiggling w/ `letter-spacing` to get both mono-spacings to match up.

[2017-04-19 08:27] louy2 opened #32 "Gamification of Source Code Documentation & Contribution"
## Project description

In the talk [I am your user. Why do you hate me?](https://www.youtube.com/watch?v=OJUnRMtK9Nw), Donna Benjamin talks about how open source software often possess a steep learning curve, lack documentation, and have difficulties transforming users into contributors. In the learning curve section she referred to a funny graph depicting that of some famous MMORPG games, the mo

[2017-05-03 05:32] ahopkins commented on #30
Interesting idea. I have some thoughts on how to run with something like this, but not sure if it is the same ideas as what you have.

Instead of creating a new database, what if we create a thin layer on top of the DB to translate JSON requests to SQL statements, and get a response. Essentially a very little API framework, leaving all the data manipulation for the client side. Basically something

[2017-05-03 05:37] ahopkins commented on #32
Interesting idea. So, are you thinking of providing a web based platform for documenting an existing repository? And, possibly also provide the documentation output? Sort of a Stackoverflow meets GitHub meets Read the docs? If so, count me in.

[2017-05-03 19:28] georoot commented on #30
isn't that what an ORM is ?

[2017-05-03 19:47] ahopkins commented on #30
@georoot ORM (in my opinion) is an easier way to abstract and tie functionality to data. It does not inherently remove the middle layer. What I am understanding the idea to be is a sort of "do away" with the middle portion. A data store and a front end. The middle component therefore becoming a translation point instead of a logical driver.

[2017-05-03 20:29] BobWhitelock commented on #30
@ahopkins: this sounds a bit like what you're describing: https://github.com/postgraphql/postgraphql.

[2017-05-03 21:54] johnaau commented on #30
My original idea was to combine a web programming language with a database query language.

As most applications are database dependant it would make sense to me to combine these two together.

I appreciate that it is common practice to have separation between application and data storage but this has disadvantages…

We might write SQL as a string and send this request to the database server, whic

[2017-05-04 13:29] georoot commented on #30
Okay so i am still unclear what the whole project is about but let me take a go at it. What you are trying is that somehow you have a language that acts as both api and datastore so you don't have to write controllers for each route. I am guessing there is a permission table similar to what sql offers for database.

Now that being the case, when we deploy an application( take docker for instance)

[2017-05-04 23:24] louy2 commented on #32
@ahopkins
Exactly! Unfortunately I don't have a project to "count you in". I have been thinking about it and found here so I dumped it out. I am not confident at all to start such a project. Please feel free to adopt it.

[2017-05-05 04:08] johnaau commented on #30
I am not really clear on my own idea of a project either, haha. I have some ideas though which I was seeing if there was anyone with similar interests so that these ideas might evolve.

My main gripe with modern development environments is the separation of application and database coding. Given that the majority of applications, particularly web, are database-driven it seems that there should be

[2017-05-05 05:53] ahopkins commented on #30
@BobWhitelock Sort of ... but not really.

@johnaau I sort of understand your thought, and it seems like there are two potential routes:

1. create an abstraction layer that operates sort of "invisibly" to generate the SQL; or
2. create a new database with this functionality.

I suggested option 1 because it allows for the use and reuse of existing databases without the need to reinvent that wheel

[2017-05-05 06:40] ahopkins commented on #32
@louy2 I am definitely liking this idea and have some ideas on how to build, etc. It also seems like you have some good ideas and vision on the end game solution and what it would look like. Are you wanting to partner up to take this on, if nothing else for strategy?

I started a new repository (https://github.com/ahopkins/devdocs nothing pushed yet) and hope to start in the coming days/weeks fill

[2017-05-05 06:41] Haroenv commented on #32
Ant-design/ant-design has this: https://mandrillapp.com/track/click/30472006/getbadges.io?p=eyJzIjoiVGNPWWMtckRqblpjWjFxclVwOFJ2dXRiR3lvIiwidiI6MSwicCI6IntcInVcIjozMDQ3MjAwNixcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2dldGJhZGdlcy5pb1xcXC8_cmVmPW5cIixcImlkXCI6XCJmMDllMmM0YjNkZDQ0MGZkYTA3Y2IwZGRmZjkzOGU3Y1wiLFwidXJsX2lkc1wiOltcIjFiYzQ4Njk5MzAyM2FkZmJiMGVmN2Q3NTY0ZGM5NzkzNDM3NDQ5YjFcIl19In0

[2017-05-05 15:05] georoot commented on #32
@ahopkins from what i understand is having a gamified approch for documenting stuff. SO already have implemented something similar in a more broad sense with documentation but they are more lanaguage specific. Having something against individual projects is a nice addon. Additionally we can link this to github profiles and projects, something like gitter to maintain docs for all projects on github

[2017-05-06 20:07] ahopkins commented on #32
@georoot Its a temp name until something better comes along. My initial thought was to run with it in Django. If you want to join in, I'd love to have you. I have some ideas in my head already for the UI and architecture.

[2017-05-08 05:03] georoot commented on #32
@ahopkins just had a quick look at the repo from what it seems is you want to create an api on django and a SPA for UI, a better idea is to have 2 separate repo for them as they are not related. Grunt/gulp could be used for UI dev and lets keep django with DRF for developing api :) I was a little busy over sunday but yeah now i can help you with contributions. Also create a gitter chat room for fa

[2017-05-08 06:19] ahopkins commented on #32
@georoot let's continue the conversation here: https://gitter.im/collabdocs/Lobby

[2017-05-20 11:26] robinpokorny commented on #10
@nemoDreamer That looks really nice, good combination. Could you share the setting?

[2017-05-20 12:20] nemoDreamer commented on #10
With pleasure, @robinpokorny!

It's for Atom, not VSCode, but should be adaptable:
https://gist.github.com/nemoDreamer/f40be00da6707ee9f3b171144690f94f

(There's also "a Fantasque Sans Mono Italic" variation in there, if you toggle the comments, but I ended up going with something more subtle.)

[2017-05-26 14:44] mysticmode commented on #11
Hi, I'm asking for code contribution help from you guys for [LibreRead](https://github.com/mysticmode/LibreRead).

Major help is needed in the backend which is written in Flask. For setup, Please check the Readme post in the repo for development setup. I can help you with that, see my email below.

I'm working on a new design and it would be greatly helpful if someone could port the old app code

[2017-05-30 11:26] klippx commented on #10
Hello all,

Maybe people here would be interested in my project: https://github.com/klippx/operator-mono-atom

Feel free to visit and check out the screenshots.

Chiming in on the FlottFlott discussion, I agree it is a huge deal that it is not monospaced and personally I use it turned off. I have been looking for a good replacement for FlottFlott for a long time, and I will definately check out Ub

[2017-06-05 01:24] mysticmode commented on #11
UPDATE on [LibreRead](https://github.com/mysticmode/LibreRead):
 - It's a single user product.
 - Backend being written in Go.
 - Updated README.md with new features & goals for the initial release.
 - New design.

Soon I'll show you the version put on the server for testing.

[2017-06-07 23:46] AarjavP opened #33 "Java code generation for config interfaces"
## Project description

For dealing with properties/configuration files in java, and mapping them to interfaces there is an already incredible [OWNER framework][1]. As you can see on the [basic usage][2] page, it allows us to very conveniently abstract where and how something is configured.

It would be nice to have something very similar but with the following differences:
  - Instead of creating

[2017-06-08 15:07] mysticmode commented on #11
I deployed my code to the server http://172.104.59.151:8080/signin
email: rkumarnirmal@gmail.com
password: demo

It's not done yet. Right now I'm testing file upload and full-text search. Would love to know your feedback.

**Work needs to be done:**
- Collections
- Account settings
- Much more testing

[2017-06-08 16:01] mysticmode commented on #11
@karuppiah7890 Sorry for that! I should disable signup. It's a single user product :)

[2017-06-08 16:15] mysticmode commented on #11
Adding one more request. The design is responsive. But still needs some fine-tuning. You could check in hand-held devices and please let me know if I need to make any change.

Thanks!

[2017-06-08 16:16] karuppiah7890 commented on #11
@mysticmode Oh yeah, I remember seeing somewhere in discussions that it's for a single user. Self hosted system and for private use.

[2017-06-08 16:23] karuppiah7890 commented on #11
@mysticmode Not very responsive. Menu is responsive, but books are eaten up (and no scroll bar) when size width decreases. Try decreasing your browser width and see it.

And a good tool to try out responsiveness across lots of devices is : https://sizzy.co/
Code for the sizzy project https://github.com/kitze/sizzy

[2017-06-08 16:27] mysticmode commented on #11
@karuppiah7890 Could you check in the mobile browser once? I've added [min-device-width](https://github.com/mysticmode/LibreRead/blob/master/static/css/style.css#L877)

I think that is the reason if you decrease browser width, you are not seeing it responsive.

[2017-06-08 16:37] mysticmode commented on #11
@karuppiah7890 I could add multi-user support. But that brings more complexity. For example, you wouldn't like your invited user to fill up the storage space with lots of books. We should be providing a way to control the storage space for each user.

And if there is multi-user support, people would expect to share ebooks with other users. In that case, We need to put a notice that we are not resp

[2017-06-08 16:38] karuppiah7890 commented on #11
Makes sense!

[2017-06-08 16:43] karuppiah7890 commented on #11
@mysticmode It works fine in my tab!

[2017-06-08 16:46] karuppiah7890 commented on #11
Cool stuff! :smile:

[2017-06-11 15:38] martinruenz opened #34 "Building an Anrdoid-like permissions interface for Linux desktops"
## Project description

Sometimes it is useful to employ 3rd-party software (which might be closed source) that you can not fully trust. Currently, there is no user-friendly way – at least that I am aware of – which would allow you to limit the permissions of such an application. Common mobile operating systems offer some form of privilege management, so that the **user can grant permissions, such

[2017-06-12 21:34] Caloxeno opened #35 "[Medium Work] [Intermediate] Open Source Sandbox Game(Like Starbound or Terraria)"
## Project description

The idea is to create an Open Source sandbox game like Starbound or Terraria. These are 2D scrolling games where you can do many things. If you want an idea of what I am talking about, you can check the Starbound´s official webpage: http://playstarbound.com/

Please note that the visual style of these game is always pixelated.

## Relevant Technology

This game could be cre

[2017-06-18 09:38] Moulick commented on #10
Anyone has an updated config on how to use Fira Code with Operator Mono in VScode?

[2017-06-18 09:40] AllyMurray commented on #10
I would also be interested to know if anyone currently has this working. I tried but couldn't get it to work.

[2017-06-25 09:56] mysticmode commented on #11
I've added EPUB support including full-text search feature. But it's still WIP, we need to do more user testing.

**For Demo:**
http://demo.libreread.org/
email: rkumarnirmal@gmail.com
password: demo

**To Do list:**
 - Test by uploading and using more EPUBs.
 - Highlights & Annotations for both PDF and EPUB
 - Account settings

I'm planning to launch beta in the next couple weeks by completing th

[2017-06-25 09:58] karuppiah7890 commented on #11
:+1:

[2017-06-25 09:59] mysticmode commented on #11
**IMPORTANT NOTICE:**
The project repo has been moved to Savannah
https://savannah.nongnu.org/projects/libreread/

[2017-06-25 10:11] karuppiah7890 commented on #11
Does the upload work for demo ?

[2017-06-25 10:12] mysticmode commented on #11
@karuppiah7890 Yeah, is there a problem?

[2017-06-25 10:14] karuppiah7890 commented on #11
Oops. Sorry. Yes, I just noticed. It does work, but it doesn't show the thumbnail of the Ebook though. And I was dumb as I forgot it takes some time to index the PDF in the background and started trying out the search to see if the book is present. But now I am able to search. Just that the thumbnail is just white

[2017-06-25 10:16] karuppiah7890 commented on #11
The book has a simple page with title (first page) as a thumbnail, from what I see in my file explorer

[2017-06-25 10:16] karuppiah7890 commented on #11
@mysticmode Check the demo site. The book I uploaded is Eloquent JavaScript

[2017-06-25 10:20] mysticmode commented on #11
Yeah, I can see that and it doesn't generate cover for some PDFs. I'm using poppler-utils to generate PDF cover.

Some days before @ocdtrekkie pointed out that the user should be able to edit the Metadata of the ebook(title, author and cover). So you can add cover to the ebook manually.

I'll be adding that feature in the next coming days :)

[2017-06-25 10:20] karuppiah7890 commented on #11
![bug](https://user-images.githubusercontent.com/12808424/27515296-a2ad0b86-59bd-11e7-8b9d-9d8443bdfc4e.png)

I see a 404 error for the thumbnail, just noticed it while checking out collections page

[2017-06-25 10:21] karuppiah7890 commented on #11
That sounds cool. It's true. Sometimes the Ebook may not have all the metadata properly. :)

[2017-06-25 10:21] mysticmode commented on #11
@karuppiah7890 Could you try some other PDFs which has cover image.

As said, I'll add the feature where you could attach PDF cover if it doesn't generate from the code.

[2017-06-25 10:46] karuppiah7890 commented on #11
Yes, it works in a pretty smooth manner

[2017-06-26 12:50] mysticmode commented on #11
There is a problem with my EPUB implementation.
 - unzip epub
 - load all htmls into a single file
 - show that file

That way I could just show the entire epub content as a single html file. **I thought scrolling through a single page would be more natural than clicking next and previous buttons**.

But I have a problem here, EPUB table of contents doesn't work that way. Each link points to the p

[2017-06-26 12:58] mysticmode commented on #11
Things need to be done for the **beta release**:
 - Working EPUB implementation.
 - Edit/Delete books.
 - Edit/Delete Collections.
 - Highlights/Annotations.
 - Account settings.

[2017-06-28 07:43] mayuso commented on #35
What about using [LibGDX](https://github.com/libgdx/libgdx)?

It has a really big disadvantage:

* AFAIK, you need java installed to be able to play a game created using LibGDX.

BUT, it has many advantages:

* LibGDX is an open source API with a huge community (Some of them probably willing to help with a LibGDX open source game).
* It runs on Java, which means it's 100% multiplatform (It even su

[2017-06-28 14:11] jonesmac commented on #10
So I added the [Flott Font](http://www.dafont.com/flottflott.font) as the italic variant in the Fira Code  [font family](https://github.com/tonsky/FiraCode).  The result isn't perfect, but it works nicely with the [Oceanic Next Italic](https://github.com/SintrumIT/oceanic-next-italic) theme.

You can hack it yourself like I did by using [font forge](https://fontforge.github.io/en-US/) and a helpfu

[2017-06-29 16:37] edrex commented on #9
qutebrowser is the closest thing I've found.

IMO browser extension APIs are too limited to provide a complete keyboard-driven UI (both on the display and control end) - you need a dedicated browser like qutebrowser to provide a cohesive experience.

These niche projects need support, both in testing and donations (@The-Compiler [ran an indiegogo](https://www.kickstarter.com/projects/the-compiler/

[2017-07-06 14:43] mysticmode commented on #11
EPUB support including the search functionality is implement now. Please let me know your feedback.

http://demo.libreread.org
Email: rkumarnirmal@gmail.com
Password: demo

I'm going to work on Highlight/Annotations feature.

[2017-07-13 14:52] xvilo commented on #14
Cool project. Most IRC clients are just too much to the point. I want a nice interface and more rich media (previews) in my feeds. Would be a great idea.

You can ultimately create a self-hosted web client for this and also create a hybrid desktop client (same code base) for it. this way you can easily deploy for multiple OS's.

I'm not a backend dev, so that would be too much for me. But I can he

[2017-07-21 09:21] dbranco opened #36 "A social experience game DGS stand for Digital Goverment Simulator"
## Project description

This is an ongoing idea is not clear even for me, I just have it yesterday and wanted to share with you.

The idea is to try to build a Goverment and a Digital country, just to prove what can be done better and found solutions to real problems.

Lately I have been influenced by many politicals ideas and some are goods others not much and I was thinking if it is possible to

[2017-07-22 12:06] mysticmode commented on #11
I have done Highlights & Annotations for PDFs. I'm starting to do the same for EPUBs now.

But we need to more user testing on this feature. If you are interested, Please check the uploaded book here
http://demo.libreread.org
Email: rkumarnirmal@gmail.com
Password: demo

Thanks!

[2017-07-22 12:18] karuppiah7890 commented on #11
It's pretty neat @mysticmode ! But I noticed some unusual things while trying out stuff

[2017-07-22 12:22] mysticmode commented on #11
@karuppiah7890 Thanks for trying it out! What is it?

[2017-07-22 13:00] karuppiah7890 commented on #11
Once I highlight a line and then delete the highlight, then I am not able to highlight it again

[2017-07-22 13:03] mysticmode commented on #11
@karuppiah7890 Wow! That's a nice find. Thank you! will fix it :)

[2017-07-22 13:06] karuppiah7890 commented on #11
It never gets selected with the blue highlight itself, when trying to highlight a text which is a superset of it. Everything gets selected except the old highlighted text

[2017-07-22 13:07] mysticmode commented on #11
Ah! That's quite complicated for me now. **Highlighting over the already highlighted text**. I'll try to do that.

[2017-07-22 13:08] karuppiah7890 commented on #11
No, I mean, highlighting over an already highlighted and deleted highlight text

[2017-07-22 13:08] mysticmode commented on #11
Yup, I will fix that :)

[2017-07-22 13:09] karuppiah7890 commented on #11
Like, say the text is "This is an example of an highlighted text". I highlight the word "example" and then delete the highlight. Then when I try to highlight whole sentence, it doesn't show blue highlight for "example" while selecting also.

[2017-07-22 13:10] karuppiah7890 commented on #11
And you could change the color of the highlight selection from blue to something else and also make it transparent so people can read when they are highlighting. And I see you use tooltips to show options to change the color and for notes and for deleting highlight. I think you could use the same for asking people if they want to highlight a text - as a tooltip, instead of showing an alert for ask

[2017-07-22 13:13] mysticmode commented on #11
Yes! That is a good suggestion. Both ::Selection color change and a tooltip confirmation will be done soon. 👍

I'll notify you once I'm done with the above changes.

[2017-07-22 13:14] karuppiah7890 commented on #11
And for tooltips, while trying to change color, I see that I am not able to hover over the other color options. They disappear most times in a weird way when I move the cursor. If I hover over highlight again, I see the tooltip along with color options. Also I see some front end javascript error in some line. It says "currentHighlight"  undefined.

![bug](https://user-images.githubusercontent.com/

[2017-07-22 13:24] karuppiah7890 commented on #11
Also, I am able to highlight the text in the comment also. But I couldn't add comments to it :p Check on it

And I saw a weird thing - I am not able to type upper case "N" letter in the comment box, anywhere. Even if I try, it shows lower case "n". Here are all the letters that I can't type as upper case : j, k, n, p, r

![bug](https://user-images.githubusercontent.com/12808424/28491429-ef4d4314-6

[2017-07-22 13:25] mysticmode commented on #11
@karuppiah7890 I'll fix that hover thing.

But I couldn't trace the currentHighlight error. Could you expand the error by clicking on it and show me?

I checked in firefox and I noticed some other errors, will fix that also.

@karuppiah7890 Thanks a lot for trying this out. Please let me know if you see any bugs or changes needed.

[2017-07-22 13:28] mysticmode commented on #11
@karuppiah7890 Those are keyboard shortcuts for PDF.js https://github.com/mozilla/pdf.js/wiki/Frequently-Asked-Questions#what-are-the-pdfjs-keyboard-shortcuts

I fixed it for lowercase letters. But I forgot for uppercase :/ Sorry will do that

[2017-07-22 13:29] karuppiah7890 commented on #11
Oh. Right. And don't be sorry for that

[2017-07-22 13:30] mysticmode commented on #11
Will fine-tune with these changes and I will let you know :)

[2017-07-22 13:40] karuppiah7890 commented on #11
By the way, when I try to delete, I see two alerts one asking "Really hightlight?" and then next for asking confirmation for delete. For comment, I see one alert, asking "Really highlight?" and then the comment is created.

And the currentHighlight error occurs only in some cases. Haven't found in what cases though. Here is the line (478, col 9):

![bug](https://user-images.githubusercontent.com/1

[2017-07-22 13:49] mysticmode commented on #11
Yeah, that alert bug happens only in Firefox. Will fix that.

Regarding currentHighlight error, I'm not sure yet. I'll see if I can figure it out.

[2017-07-22 13:52] karuppiah7890 commented on #11
:+1:

[2017-07-22 20:09] mysticmode commented on #11
@karuppiah7890 Thanks for reporting the bugs. I've fixed some except the alert message in Firefox..couldn't able to figure it out now. I will fix that in the process.

Also, I've been using alert on many things, I'll remove that once I complete all the features. I'll do design overhaul when I complete all the features.

One more thing, on comment selection it won't trigger the highlight selection

[2017-07-22 20:33] mysticmode commented on #11
@karuppiah7890 All your suggestions are in the pipeline. I won't forget it :)

[2017-07-22 20:41] mysticmode commented on #11
I passed my launch deadlines many times now. It's quite hard to keep up with the whole stack. I'm doing my best.

Will try to launch the beta as soon as possible. I'm hoping that it could be done by next month.

[2017-07-23 07:51] mysticmode commented on #11
In the process, I would like to discuss with you about making money through LibreRead. So far, it's a vague idea, but I'll share it. I have two options that I like: One is selling support where I can install the software myself for paid users and give support for one year.

Other option is selling the binary and the documentation. The source code will always be open to users and I'll put the sourc

[2017-07-23 08:20] karuppiah7890 commented on #11
It's quite tough to make good things. Good things take time to create. And that too creating alone can of course take time

[2017-07-23 08:27] karuppiah7890 commented on #11
@mysticmode I have some thoughts on your options, and I have know some famoud OSSs with different business models around them. We could chat about it privately. Don't wanna discuss in comments as it will lead to a lot of comments and make it clumsy and it will also look like spam. We could chat in Gitter may be ? Use my GitHub Username "karuppiah7890" to find me and chat with me

[2017-07-23 09:28] mysticmode commented on #11
I had a valuable conversation with @karuppiah7890 Thanks a lot for your time.

I think gitter.im is better for faster conversations than doing it here. I'm at @mysticmode on gitter

[2017-07-31 07:41] mysticmode commented on #11
I'm using discord for chat. I find the experience much better than gitter, skype, slack etc..

You can join LibreRead server through this link https://discord.gg/wHCM7DZ

[2017-08-12 08:28] karuppiah7890 opened #37 "Open Source Version of onlinevideoconverter.com"
## Project description

I want to make an Open Source version of this site : [onlinevideoconverter.com](https://www.onlinevideoconverter.com/)

It's just a basic web application which converts videos - uploaded videos or YouTube and other video site videos given the URL, in the cloud. Why create it ? I am a freelancer and I was asked if I could do this work in Fiverr. It was a nice project to work

[2017-08-13 03:11] mysticmode commented on #11
I posted about LibreRead on Reddit. And people seem to like it. They are fine with the interface so far. I need to do few more things to wrap it up and launch it.
https://redd.it/6t7k1z

Please come to this chat https://discord.gg/wHCM7DZ for updates. Thanks!

[2017-08-14 13:36] kiliman commented on #10
If you already have the Operator Mono font, I create a project that will add custom ligatures to it, including italic ligatures.

https://github.com/kiliman/operator-mono-lig

![sample js](https://user-images.githubusercontent.com/47168/29273885-ed2b1c9c-80d3-11e7-903b-9302983d883f.png)

![sample html](https://user-images.githubusercontent.com/47168/29273891-f2877352-80d3-11e7-99f9-c8155fbd0c0f.pn

[2017-08-22 17:37] AshFTW commented on #27
Much work?? Really?

[2017-08-23 11:15] mysticmode commented on #11
I'm working on the setup script. This is the landing page design.
![landing](https://user-images.githubusercontent.com/1125199/29613080-e3c26e44-8821-11e7-8285-57642d218704.png)

So there will be two options. One is that you could install LibreRead through the web interface without touching the command line. The other option is manual setup if you prefer doing yourself in the command line.

"Insta

[2017-08-23 11:20] FredrikAugust commented on #11
Looks nice! Though I'd recommend adding some pics to break up the text,
right now it's quite intimidating. Could also do with some more whitespace
perhaps :)

On Wed, Aug 23, 2017, 13:15 Nirmal Almara <notifications@github.com> wrote:

--

Mvh,
Fredrik August Madsen-Malmo

[2017-08-23 11:21] mysticmode commented on #11
I agree. All the people that I've shown the landing page are telling the same. It's quite intimidating, yes.

I will work on it more!

[2017-08-23 11:22] FredrikAugust commented on #11
Awesome! Sorry I haven't been able to contribute any, been quite busy, and
don't have the energy to do this at the same time as my other hobbies.

On Wed, Aug 23, 2017, 13:21 Nirmal Almara <notifications@github.com> wrote:

--

Mvh,
Fredrik August Madsen-Malmo

[2017-08-23 11:23] FredrikAugust commented on #11
If there are any hotfixes or small things you need help with though, just
contact me :)

On Wed, Aug 23, 2017, 13:22 Fredrik August Madsen-Malmo <
mail.fredrikaugust@gmail.com> wrote:

--

Mvh,
Fredrik August Madsen-Malmo

[2017-08-23 11:26] mysticmode commented on #11
@FredrikAugust Sure, will do. Thanks!

[2017-08-23 11:29] mysticmode commented on #11
I really need a copyrighter, who could polish the text on landing page. I'm just not happy with the content yet.. haha

[2017-08-23 11:31] FredrikAugust commented on #11
I could look into it this weekend

On Wed, Aug 23, 2017, 13:29 Nirmal Almara <notifications@github.com> wrote:

--

Mvh,
Fredrik August Madsen-Malmo

[2017-08-23 11:33] mysticmode commented on #11
@FredrikAugust Awesome! thanks :) You could ping me on discord or post it here, if you could improve the content and give me some ideas about the design.. would be great!

[2017-08-23 11:34] FredrikAugust commented on #11
No problem :)

On Wed, Aug 23, 2017, 13:33 Nirmal Almara <notifications@github.com> wrote:

--

Mvh,
Fredrik August Madsen-Malmo

[2017-08-24 18:41] karuppiah7890 commented on #27
@AshFTW Well, it's a relative term.

[2017-08-26 08:15] mysticmode commented on #11
If you are not into Discord. LibreRead now has a twitter profile where I'll post updates :)
https://twitter.com/LibreRead

[2017-08-26 15:08] Nzen commented on #22
Perhaps consider [schemaspy](https://github.com/schemaspy/schemaspy). The graphs are columnar, rather than force directed. I sense an implied desire that this be a webservice. SchemaSpy makes a static website of the tables with diagrams. If one were to put that behind a normal webserver, that could satisfy the idea presented here.

[2017-08-30 03:17] AshFTW commented on #27
Im tried to make desktop app for linux (disassembled via IDAq64), that record audio, but without success.
https://gist.github.com/AshFTW/bc1f68af82277c33b6664373fad97135
If somebody know how to record internal sound - please, reply me

[2017-08-30 05:23] karuppiah7890 commented on #27
@AshFTW Oh, okay. I don't know much about audio, sound cards and stuff though. But you need to know about ALSA (http://www.alsa-project.org/main/index.php/Main_Page) for understanding audio in Linux. Here is something you can see to check how to record internal sound in Linux using Audacity http://manual.audacityteam.org/man/tutorial_recording_computer_playback_on_linux.html

I just got some idea

[2017-09-05 05:57] mysticmode commented on #11
LibreRead installation script and the manual is ready
https://github.com/LibreRead/manual-setup/blob/master/README.md

Would be nice if someone could try it out and let me know the feedback. Thanks.

[2017-09-05 14:28] barryblando commented on #10
@kiliman Nice. Thanks. 👍

[2017-09-06 16:28] mysticmode commented on #11
Website is up at https://libreread.org/

Few more things to do in the app and then I launch it.

[2017-09-06 20:56] FutureProg commented on #11
I haven’t been as involved as I hoped I would be ( of my own fault of course), but this looks great.

On Sep 6, 2017, 12:28 PM -0400, Nirmal Almara <notifications@github.com>, wrote:

[2017-09-07 02:29] mysticmode commented on #11
@FutureProg That's ok :) Thank you!

[2017-09-11 20:07] prahladyeri commented on #28
Nice idea. Has anyone started out on this? Found out what android SDK APIs you need to create this system?

[2017-09-11 20:28] mikaelbr commented on #28
As far as I've heard, no one has started working on this. 👍

[2017-09-12 03:57] prahladyeri commented on #28
@mikaelbr In that case, I'd like to take this as a side project. Should I just start a new github repo and link it here, or are there any other formalities to be done?

[2017-09-12 05:14] mikaelbr commented on #28
That would work just great.

[2017-09-12 07:08] karuppiah7890 commented on #28
@prahladyeri I could discuss about this idea if you want, but I don't know much about the new Android APIs like the ones in L, M, N, O. I used to code in Android and I have experience with only some of the SDKs till KitKat and I have done some socket programming in Java in Android Apps.

[2017-09-12 23:04] edsonmedina commented on #30
You might want to have a look at GraphQL

[2017-09-22 15:47] kencrocken commented on #10
As an alternative to the Operator Mono font, I found Script12 BT.  In VSCode, as of right now, I use a theme designed for use with Operator Mono or something that uses Italics (I am currently using the One Dark Italic theme); then, with the Custom JS and CSS plugin, I have:

[code]
My base font is set to FiraCode; works out well ...

![image](https://user-images.githubusercontent.com/7041191/30752

[2017-09-22 16:02] nemoDreamer commented on #10
Awesome find, @kencrocken !! That's _very_ close to OperatorMono! ❤️

[2017-09-22 16:23] kencrocken commented on #10
@nemoDreamer Thanks.  Once I get some time I think I will do what @jonesmac recommended and add Script12 as FiraCode's italic face ...

[2017-09-22 21:53] agolomoodysaada commented on #10
@kencrocken can we do a version with [Dancing Script font](https://fonts.google.com/specimen/Dancing+Script)?

[2017-09-25 14:34] kencrocken commented on #10
I mashed up Fira Code and Script12 - adding Script12 as the italic typeface of Fira Code.

![image](https://user-images.githubusercontent.com/7041191/30813628-f0f96c60-a1db-11e7-83b0-1c06f11b7774.png)
![image](https://user-images.githubusercontent.com/7041191/30813430-6e18e212-a1db-11e7-93e4-a3439f2dc23f.png)
![image](https://user-images.githubusercontent.com/7041191/30813728-364a8ba0-a1dc-11e7-9d

[2017-09-26 07:14] klippx commented on #10
Nice try @kencrocken. But... I tried your font, and the fact that it is not monospaced is a huge deal breaker. I will stick with same setup as @nemoDreamer suggested consisting of Fira Code + Space Mono

[2017-09-26 10:59] kencrocken commented on #10
@klippx  Sorry it didn't work.  But, for the record, the fonts I used are monospaced

[2017-09-26 12:39] klippx commented on #10
@kencrocken the problem I had was that it is not monospaced in the sense that each character occupies the same pixel width space as Fira Code does:

Fira Code
<img width="379" alt="screen shot 2017-09-26 at 14 32 10" src="https://user-images.githubusercontent.com/2785359/30860482-8637f580-a2c7-11e7-91e3-7ab824999f09.png">

Fira Code iScript
<img width="392" alt="screen shot 2017-09-26 at 14 31 43"

[2017-09-26 14:09] kencrocken commented on #10
@klippx That's a good point ... while both fonts are monospaced, the character width of Fira Code and Script12 are not the same.  Thanks for the heads up ... I ran into this also, I like to align my code and it gets little funky since the font widths aren't the same ...

![image](https://user-images.githubusercontent.com/7041191/30864760-9bf45e06-a2a2-11e7-84f8-680515c48979.png)

[2017-09-27 06:25] klippx commented on #10
@kencrocken I am running Script12 BT + Fira Code now to have more control over each individual font, but try this CSS for the parts which are italic - it might work for you as well but you need to fine tune font-size when you use your bundled version of Fira Code iScript:

My base font: Fira Code  (18pt)
[code]

Side by side comparison:
<img width="785" alt="screen shot 2017-09-27 at 08 21 30" src

[2017-09-27 07:14] klippx commented on #10
I updated my repo https://github.com/klippx/operator-mono-atom with Script12 BT

Shout out to @kencrocken in the readme ❤️

[2017-09-27 07:45] gnarmedia commented on #10
Instead of font-size, you might try letter-spacing, then you can keep the
fonts the same size :) hope that helps!

On Tue, Sep 26, 2017, 5:39 AM Mathias Klippinge <notifications@github.com>
wrote:

[2017-09-28 07:06] klippx commented on #10
@gnarmedia Hmm, how do you mean? I tried to comment font-size and control it via letter-spacing, and found that letter-spacing around ~1.44px made it look _kind of_ OK, but not really. It was hard to control and the Script12 BT font was in general too small so it kind of needs a height boost as well not only letter-spacing.

Maybe I am not doing it right, but I couldn't make it work in a satisfyin

[2017-09-28 14:17] nemoDreamer commented on #10
@klippx : I've been rocking @kencrocken 's **Script12 BT** suggestion with `letter-spacing: .1em`, and it matches up to **FiraCode** width perfectly now. (sadly, that of course gets rid of the ligatures and connections in the cursive script...)

I do like your `font-size` suggestion, as that'll keep the cursive stuck together as it should be, and will make it a bit more visible, since it's "x" hei

[2017-09-28 14:35] nemoDreamer commented on #10
@klippx , if using `font-size`, you'll need to adjust your `line-height` to compensate. I saw you're using `100%` (`1`), then you won't have to use "baseline" and "height" to fix anything.

The formula is `100 / <font-size> * 100`:

<img width="441" alt="line-height" src="https://user-images.githubusercontent.com/9303/30972344-4438ab12-a438-11e7-8060-ed0867d614ac.png">

I find the size of the curs

[2017-09-28 16:47] gnarmedia commented on #10
Well, it can totally be a combination of the two: font-size to get the
letters the right size/height and then letter-spacing to get the spacing
right.

On Thu, Sep 28, 2017, 12:06 AM Mathias Klippinge <notifications@github.com>
wrote:

[2017-09-28 18:21] nemoDreamer commented on #10
Yup, @gnarmedia, this combo works:

[code]

But in the end, I went back to good ol' `letter-spacing: .1em;`... The different "x" heights somehow felt more "natural".

[2017-09-29 22:47] t-hughes commented on #10
@nemoDreamer would you be able to provide the settings for VSCode?

[2017-10-02 19:42] nemoDreamer commented on #10
@t-hughes I don't have VSCode (this thread/issue mixed up answers for lots of editors, I guess), but I _think_ you should be able to adapt my Atom stylesheet.less to fit @mikewheaton 's pasted format in https://github.com/mikaelbr/open-source-ideas/issues/10#issuecomment-272638529 ?

**NOTE:** if VCode stylesheet doesn't support less / sass / CSS variables, just resolve the math for your font-size

[2017-10-04 09:16] sebastianrothe commented on #10
The problem is: current versions of VSCode don't expose these styleclasses.

[2017-10-04 17:10] kencrocken commented on #10
I use VSCode ... generally I picked a theme that focused on italics ... I use the One Dark Italic theme.

Then, with the help of the Custom JS and CSS plugin, I modify the the `.mtki ` class which is used for italics.  If you need to find the class names, you can toggle the developer window and inspect the elements.

[2017-10-04 22:52] t-hughes commented on #10
@nemoDreamer @kencrocken thanks that helped, one more thing, what Atom theme are you using?

[2017-10-06 15:16] nemoDreamer commented on #10
Oooooh, don't get me started, @t-hughes ...! I could talk about theme combos for hours 😜

I'm currently running the excellent **Atom Material** UI theme (https://atom.io/themes/atom-material-ui) with the **Pure** Syntax theme (https://atom.io/themes/pure-syntax).
Pure also pairs really nicely with the **Pristine** UI theme (https://atom.io/themes/pristine-ui).

And _[shameless plug following...]_

[2017-10-10 14:13] FredrikAugust commented on #31
Hey, could you please follow the template everyone else are using for your idea?

Thanks.

[2017-10-10 14:15] FredrikAugust commented on #35
Maybe it's just me not knowing that much about game dev, but I'd argue that this is advanced, and *a lot* of work. Creating a full side-scrolling RPG like terraria (e.g.) is going to take some time..

[2017-10-15 12:21] AlvaDamian opened #38 "Batch file generator"
## Project description
Write the batch logic, test and compile for multiple OS whitout knowing programming. Additionally, create your own command and save it for reuse.

Use Case:
  Let's suppose we have 5 tasks (from A to B) to do everytime we start our PC and task C has parameters (can be the action to start an application on debug mode). We can reduce those 5 tasks to 1 with a batch file, but w

[2017-10-15 12:39] FredrikAugust commented on #38
What would these tasks be? Like `run program x`? If you're talking more advanced than this, it might be really difficult to port to different platforms.

[2017-10-15 12:57] karuppiah7890 commented on #38
Also, the generator itself should run cross platform I think ?

[2017-10-15 12:57] AlvaDamian commented on #38
Tasks can be basic or advanced:

Basic tasks refers to actions that are common on every OS. `run program x` is a basic tasks.
Advanced tasks are not basics and we can let the user to write then. For this, they need knowledge in batch for the target OS.

An example for an advanced tasks:

Some time ago I had to delete a folder in Windows, but I did not have the neccesary permissions on that folder

[2017-10-15 13:07] AlvaDamian commented on #38
The GUI can be cross platform.

Some examples:

<table>
<thead>
  <tr>
    <th>GUI</th>
    <th>API</th>
    <th>API running on</th>
    <th>Used for</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>HTML, CSS and Javascript</td>
    <td>javascript</td>
    <td>nodejs server</td>
    <td>The GUI sends HTTP Requests to the server to compile the file.</td>
  </tr>

   <tr>
    <td>HTML, CSS and Javascrip

[2017-10-17 03:55] egoist commented on #18
FYI, I built an offline version of jsbin: https://codepan.net

Though it can only export to Github Gist.

[2017-10-18 08:17] georoot commented on #18
@egoist just had a look at the code.. i remember working on something similar a while back .. maybe listen to code changes and rather than binding them to additional buttons have live reload using frames :) .. that's something that might make developing code more faster and fun..

[2017-10-20 21:34] bendiksolheim commented on #9
I have ended up giving qutebrowser a go now that Firefox has decided to remove support for XUL, and I have to admit that it has a lot of the things I am looking for in a browser. People coming from Vimperator should feel right at home! It would be nice if it could be integrated with my password manager, but I can live with copy pasting passwords.

[2017-10-23 19:24] edrex commented on #9
I use password-store (the "pass" command) to manage my passwords, and there is a qutebrowser [userscript](https://github.com/qutebrowser/qutebrowser/blob/master/misc/userscripts/password_fill) ([background](https://github.com/qutebrowser/qutebrowser/pull/873)) which can auto-fill forms from that. I haven't tried it but it's on my list.

[2017-11-02 17:43] saiprakash1 commented on #37
Hey, i am interested in this project. Could you please suggest me where to start.

[2017-11-06 10:41] mysticmode commented on #11
After some 50 days of break. I'm back to work on LibreRead. Will show you some updates soon!

By the way, **I moved the chat from Discord to Slack**. Discord is not sending email notifications to the room members and that is a big drawback.

So, to stay up-to-date or have any questions regarding LibreRead and its progress. Please join the Slack workspace from here https://slackin-whuckajpax.now.sh

[2017-11-06 10:58] mysticmode commented on #11
I tried [Cloudron](https://cloudron.io/) few days back and it seems good now (Last time I checked, it didn't work).

Someone had requested for porting LibreRead to Cloudron. https://git.cloudron.io/cloudron/app-requests/issues/224

So, I'm planning to do that work in the coming days.

[2017-11-07 09:21] FredrikAugust commented on #37
Well, you'd have to look at the difference between different video codecs, and find out how to convert between them.

Other than that, I don't really know anything about video converting, so I can't help you out that much. If you have some questions about JavaScript/Erlang/HTML/CSS though, feel free to ask me.

[2017-11-07 09:21] FredrikAugust commented on #37
Tell me if you're still interested in joining this, and I'll add a "Joined" tag to the project.

[2017-11-12 10:58] KOLANICH opened #39 "ECMAScript and RPC adapter plugins for OSMAnd"
## Project description
There is a modular hackable navigation app called [OSMAnd](https://github.com/osmand/osmandapp). It can be extended with plugins which can be in separate apks. But writing a plugin implies that the writer is wiling to use JVM-based languages like Java, Kotlin and Scala. Some cannot afford that, IDEs for JVM-based languages are too heavy.

The solution is to create plugins do

[2017-11-12 11:50] KOLANICH opened #40 "A free open-source simple (for the first time) graphic editor for android"
## Project description

There are several graphic-editor-like apps, but there is no a good enough free open-source graphic editor allowing anyone everything from the list:
 * crop, rotate, flip an image or it's piece
 * save the result in a file
 * change background color
 * set the default background color
 * create an image of predefined resolution and mode
 * draw with a pressure- (and probably

[2017-11-12 12:02] KOLANICH opened #41 "./configure to CMake scripts transpiler"
## Project description

Some projects still use obsolete ```./configure``` scripts. It is very bad because it breaks crossplatformity. In such scripts often the usual set of shell commands is used extensively.

CMake is a cross-platform cross-toolchain build system.

It should be possible to implement a tool parsing a bash script into an AST, parsing commands syntax, then building a CMake script A

[2017-11-12 16:24] KOLANICH opened #42 "Free open-source Coursera app"
## Project description

[There exists a proprietary app for Coursera](https://play.google.com/store/apps/details?id=org.coursera.android). Unfortunately it has too many permissions and has not-enough customizeable interface.

The required features:
* black theme
* content (audio, video, subtitles, supplementary materials, quizes, etc.) downloading
* quizes and built-in selfcheck quizes
* search an

[2017-11-13 02:17] sandangel commented on #10
Can someone tell me at this time what is the best solution work with vscode?

[2017-11-13 12:03] Sussumu commented on #10
I'm using this project already mentioned here: https://github.com/kencrocken/FiraCodeiScript

The only thing I don't like is that I wasn't able to find a nice theme with italics and bold highlights. But besides that the font is pretty nice and I don't care about comments not being monospaced.

[2017-11-13 15:49] klippx commented on #10
If someone could update the relative font size of the embedded italics in FiraCodeiScript @kencrocken so it became "more or less" monospaced, that would be greeeeeat :)

[2017-11-13 16:07] kencrocken commented on #10
@klippx If I have to open FontForge ever again, it will be too soon ... I have been able to kind of even everything up with the Custom CSS and JS plugin for VS Code ...

Here, with just the font as it is - you can see how the spaces aren't matching up ... everything is a bit out of whack.

![image](https://user-images.githubusercontent.com/7041191/32735224-2a3f231e-c862-11e7-8beb-8c3c4b4a172d.png)

[2017-11-15 13:08] mysticmode commented on #11
If anybody has knowledge about existing search index libraries, I need some guidance here.

Currently LibreRead requires about 2GB of RAM for ES to work seamlessly. Which I think is really bad for a self-hosted software.

LibreRead backend is powered by Golang. And Full-text searching books content and metadata is an important feature here.

I'm trying to find one which reduces dependencies and wo

[2017-11-15 15:15] karuppiah7890 commented on #11
I think you should ask on Twitter, by tagging some people. Also, you can start researching on what features blevesearch provides, also, you don't have to just look for lib that's written in golang. You can get software written in any language (ES is written in Java) that can behave like a microservice or so and then you can use it.

[2017-11-16 23:50] hyalkaf commented on #21
What is the state of this? Have there been any apps since this post?

[2017-11-16 23:56] Thrilleratplay commented on #21
@hyalkaf As far as I know, there have been no progress on this.

[2017-11-17 14:01] KOLANICH opened #43 "Add disposable email support into a free open-source Android client K9mail"
## Project description

An app for sending/receiving emails using disposable mailboxes.

## Relevant Technology

K9mail is a FOSS email client for Android. It'd be nice to add temporary emails support there as a plugin. Some temporary email services have API.

## Who is this for

Any Android dev.

[2017-11-17 20:24] hyalkaf commented on #21
I would like to take a shot at this. In your estimate, how long would this take given that I can put from 5 to 10 hours a week? Do you have an outline of core features? I'm not a Netflix guy so maybe it's hard for me to relate and understand the problem

[2017-11-17 21:01] Thrilleratplay commented on #21
As every project manager I have ever worked for can attest to, I am terrible at estimating the time needed for software development.

Although I say Netflix, the heart of this could be applied to a number of different DRM encrypted video streaming services like Amazon Prime Video or Hulu; provided the service uses Widevine.  When I posted this, I thought I added the link to [webcatalog/electron-wi

[2017-11-17 23:58] gnarmedia commented on #21
I'd be happy to test, I'm fairly sure you can spoof the mobile site with
ease.

On Fri, Nov 17, 2017, 1:01 PM Tom Hiller <notifications@github.com> wrote:

[2017-11-21 00:13] KOLANICH opened #44 "Add emoji keyboard layout into android app Hacker's Keyboard"
## Project description

There is an awesome screen keyboard app for Android called Hacker's Keyboard. Unfortunately it lacks emoji. We need a new layout having it. There should be several groups. Some characters are used as modifiers, so a man + a tool = a man having that job. So a man on the tools palette should be a modifier key like shift. A tap changes sex, a hold activates. The keyboard shoul

[2017-11-21 00:27] Haroenv commented on #44
* [Play store](https://play.google.com/store/apps/details?id=org.pocketworkstation.pckeyboard&hl=fr)
* [source](https://github.com/klausw/hackerskeyboard)

[2017-11-21 01:36] hyalkaf commented on #21
Why do we need to test the app on mobile? Could you guys provide links to what you are talking about? I will check Kodi for Android tonight.

[2017-11-21 01:48] Thrilleratplay commented on #21
Electron is only for desktop OS' (Windows, Linux, OSX).  It was a suggestion to try to load the mobile version of the services' site in Electron.  For those who use Kodi on televisions, it would probably be easier for them to navigate.

[2017-11-21 06:38] KOLANICH commented on #44
@Haroenv, thank you, added the links

[2017-11-25 23:44] KOLANICH opened #45 "A wrapper library for javascriot engines"
## Project description

There are plenty of modern JS engines:
* SpiderMonkey
* V8
* Chakra
...
and some not modern ones:
* Android WebView
* duktape
* IE9
.

Some of them have own shared libraries. Nearly all of them have terrible API incompatible with each other.

When you wanna embed a JS engine you may want to have the latest JS but not to update them. The solution may be an abstraction layer

[2017-11-26 08:33] Haroenv commented on #45
Would be interesting but a massive engineering effort I think

[2017-12-01 01:00] idbartosz commented on #10
Thank You for this useful topic, after some tinkering in vscode I've finally get some satisfying result.

![vscode](https://user-images.githubusercontent.com/21260478/33462868-8a194b58-d63a-11e7-88d7-ed7c0be8ace8.png)

[2017-12-01 01:09] gnarmedia commented on #10
What's the plugin showing the dependency sizes? That's cool!

On Thu, Nov 30, 2017, 5:00 PM idbartosz <notifications@github.com> wrote:

[2017-12-01 01:11] idbartosz commented on #10
@gnarmedia
Import Cost VSCode Extension

[2017-12-05 13:45] mysticmode commented on #11
EPUB viewer should be production ready now. But if you find any bugs, Please let me know ;)

I've done style tweaks on EPUB viewer for both desktop and mobile browsers. Now you can go to a specific page on EPUB.
You could check these here https://demo.libreread.org/book/charles-dickens_bleak-house.epub

If you find something which needs improvement, please let me know, Thanks!

[2017-12-06 13:40] mysticmode commented on #11
I discussed about the Full-text search feature with quite a few people in the self hosting community. Most of them told me that it's an overkill if it requires 2GB of RAM. They would opt out from that feature if that is possible with LibreRead.

So, what I have decided is to put full-text search feature as optional. I'm planning to implement a simple metadata search for the default installation.

[2017-12-06 17:19] ocdtrekkie commented on #11
It being optional does make sense. My interest in full text is because my library is mostly non-fiction, and I want to be able to search it as a reference source: The metadata for a non-fiction book doesn't contain every search term relevant to content in it.

But a lot of people may use LibreRead for fiction, where full text search is not useful.

[2017-12-07 07:06] mysticmode commented on #11
I agree. Same goes for me, I have many programming books where I would like to search for a particular concept now and then. But the marginal cost is too high. If I remove the dependency of ES, this application would very well work in 256MB of RAM.

Also, I'm not a voracious fictional reader (just saying), So I have to consult with many people to understand how well this would work. Many said, it

[2017-12-08 15:42] mysticmode commented on #11
I just have implemented a simple metadata search with BleveSearch
https://github.com/blevesearch/bleve

So, Once the default installation is done, we'll be having a separate script for configuring ElasticSearch to enable full-text search across all the book content. I'll update the documentation in the process.

I'm also going to package this application for https://cloudron.io/
Only the metadata

[2017-12-11 15:10] karuppiah7890 commented on #11
Awesome man!

[2017-12-11 16:21] mysticmode commented on #11
Also, I posted on HN and it's currently in the front page
https://news.ycombinator.com/item?id=15897259

[2017-12-22 07:30] cfcodefans commented on #30
I had same idea.

what program does?

processing data with functions, sql select query is prefect and concise expression of functions
dom tree on h5 html can also be operated by sql

why did they name it J"QUERY"?

Streaming of data can be an infinite table, kafka also released new feature to use kafka sql to treat stream as table.

Most of programmers have to know some sql, but most never take sq

[2017-12-24 11:53] KOLANICH opened #46 "An open-source pdf sanitizer / compressor / processor / info extractor / metadata creator"
## Project description

I have a lot of PDFs. Most of them are full of garbage like embedded fonts, javascript, whitespaces in XMP etc. That's why they take too much space on my HDD and too long to load.

Also some of them usually have bad filenames. The original file names of scientific papers are usually gibberish, I have to rename them manually.

Sometime the compression is not optimal.

Some o

[2017-12-24 13:15] veredrec opened #47 "Editing README"
Fix a few typos in the `README.md` file.

I saw several small typos which I fixed on my forked version.
@mikaelbr I would love to open a PR with my suggestions if you are interested.

[2017-12-24 13:15] #47 closed

[2017-12-24 13:16] veredrec commented on #47
I saw that the issue goes immediately to the page, which I didn't mean to do. Sorry for that. I'm closing the issue.

[2017-12-31 08:47] KOLANICH opened #49 "An RPC wrapper library"
## Project description

A tool on Haxe (for language interoperability) which wraps another library of another language.

Use cases:
* interoperability between libraries written in different languages and using different interpreters;
* network transparency;
* stability - a crash of one interpreter won't cause the crash of another one
* using GPL, LGPL and other libs with viral licenses in the apps

[2018-01-12 19:40] KOLANICH opened #50 "A one 3 tier extendable package manager to rule them all"
There are lot of package managers, there are lots of package formats, thera are lots of repositaries, they have duplicated packages which can conflict with each otner and break things, some of them may have security issues. It's mess and Bedlam. We need to get rid of this. But not to produce the situation like in the xkcd Standards.

The roots of the problem is that there are different environment

[2018-01-13 09:14] KOLANICH opened #51 "Korotko(v|ff) sounds simulator"
## Project description

Electronic cuff-based blood pressure meters are _really bad_. Their measurements are wrong, they may differ by 20 mm Hg, and doctors advise to use the manual method as a more precise one. So people need to be trained to use a manual shpygmomanometer.

1 A user opens a web page.
2 On that page he sees a button.
3 He pushes the button. The app samples systolic, diastolic bloo

[2018-01-17 00:47] tobiasBora commented on #27
Here is just a simple proof of concept on the linux side, that I used to show that I can pipe through internet some sound.

First, to get the available input/output, run:

    pactl list short | egrep "alsa_(input|output)"

the `.monitor` are useful if you want to record the sound from a sound card, the `***_input` are the microphone, and the `***_output` are the card sound output.

Then listen on

[2018-01-17 01:03] tobiasBora commented on #27
And it looks like that there is a port of pulseaudio on termux, so it may be easy to use port this as it on termux... https://github.com/termux/termux-packages/issues/821

[2018-01-17 01:38] tobiasBora commented on #27
A last message for tonight: [this great post](https://www.newventuresoftware.com/blog/record-play-and-visualize-raw-audio-data-in-android) explains how to play raw live streamed data. I'm pretty sure that combining all of these should provide an pretty straight forward way to create this app. I may give it a try in a few days when I'll have more time...

[2018-01-18 10:36] pandaa880 commented on #10
Can anyone please put up something like step by step way for using this alternative in vscode. I don't understand much but i really want to try it.

Thanks.

[2018-01-18 11:24] idbartosz commented on #10
In **install** section of my [Dark++ Italic](https://marketplace.visualstudio.com/items?itemName=idbartosz.darkpp-italic) theme You got step by step installation guide  :wink:

[2018-01-18 11:41] pandaa880 commented on #10
@idbartosz
works like a charm but, is there same available for one dark theme ?

[2018-01-18 11:45] idbartosz commented on #10
@idbartosz
Search in VScode Market for some variation of One Dark Italic theme and it should also work :-)

[2018-01-18 11:55] pandaa880 commented on #10
Yes, i tried one dark italic but it didn't work. what it did was,

it cursived comments and used fira code for normal code. i don't know what
went wrong.

On Jan 18, 2018 5:15 PM, "idbartosz" <notifications@github.com> wrote:

[2018-01-18 11:55] KOLANICH opened #52 "Combine hyperband and hyperopt into a better hyperparam optimizer"
## Project description

https://arxiv.org/abs/1801.01596

but I see no implementation publicly available.

## Who is this for

A machine learning system devepoper.

[2018-01-18 12:01] idbartosz commented on #10
Probably those themes are not written properly to support italic fonts. You can't do too much with it.

[2018-01-18 12:07] pandaa880 commented on #10
can i just change colors in your theme?
so that i can get theme like one dark

On Jan 18, 2018 5:31 PM, "idbartosz" <notifications@github.com> wrote:

[2018-01-18 12:14] idbartosz commented on #10
@pandaa880
Sure 👍

[2018-01-27 17:20] frenchtoast747 commented on #10
Hey all, I don't know if this is copyright infringement or not, but I thought I would at least share anyway.

I really don't like the idea of editing the VSCode's CSS (it works, but it's begging for things to be broken and/or require constant maintenance and I've never really been a fan of monkey patching). I also noticed that the best approach was to change the font-family for the different .mtk

[2018-01-27 17:42] idbartosz commented on #10
Hi @frenchtoast747 and thank You for sharing this tutorial with us. You've basically done same thing as @kencrocken with his font merge called Fira Code iScript.

[2018-01-27 18:12] frenchtoast747 commented on #10
Wow, @idbartosz, somehow I completely missed the fact that @kencrocken has a repo with the same mash-up. I should have picked other fonts for my example. Thanks for that @kencrocken!

[2018-01-27 18:13] klippx commented on #10
One huge difference being taking time describe how it’s done. This almost deserves a donation, IMO. @frenchtoast747 you should make a medium post about this, I would clap it. Many many times. Thank you!

[2018-01-27 19:26] frenchtoast747 commented on #10
I've never written a Medium post before, @klippx. I might make this my first. Thanks!

[2018-01-27 21:36] kencrocken commented on #10
@frenchtoast747 That is awesome.  I take it you have it working with Linux?  I had an issue opened regarding Linux compatibility ...

[2018-01-27 23:55] frenchtoast747 commented on #10
@kencrocken, with the above steps, everything appears to be working in Ubuntu. The example screenshot was taken with VSCode on Ubuntu 17.10.

[2018-02-01 02:00] muhammad-haroon commented on #50
This is truly the case.
But can be fixed,
I am willing too work on it .

[2018-02-11 00:29] Kukagres commented on #35
I like this project....

[2018-02-11 11:34] KOLANICH opened #53 "Dependency graph based online learning system"
## Project description

1 Create a model of knowledge of all areas as a directed graph of dependencies of concepts, and these concepts should be as small and as reusable as possible.
For example for understanding the topic `physics:phonons` you should understand `physics:normal modes of lattice`, `physics:secondary quantization`, `physics:lattice potential energy power expansion` first. To underst

[2018-02-11 16:08] Haroenv commented on #53
This seems like too hard of a problem, since you’d not be able to quantise all you know

[2018-02-11 17:32] KOLANICH commented on #53
I don't understand what you mean. Usually each resource (for example a video lecture) has own topic. In rare cases a resource have more than a single topic. But it should not be a problem if the system gives a user a link to the resource with more than one topic.

[2018-02-11 19:25] Haroenv commented on #53
Yeah but you don’t learn everything from the same platform, and often it’s not strictly necessary to understand everything something builds on, but you can understand something from different directions. Anyway, I was just giving my opinion, don’t hesitate trying it :p

[2018-02-20 03:31] FurkanKambay commented on #53
Microsoft has "learning paths":
https://azure.microsoft.com/en-us/documentation/learning-paths/appservice-webapps/
https://azure.microsoft.com/en-us/documentation/learning-paths/appservice-mobileapps/
Like these two, there are others here: https://azure.microsoft.com/en-us/documentation/learning-paths/

I don't know if this strategy can be applied to *everything* or not, but it'd actually be prett

[2018-02-22 22:39] buddhashrestha commented on #28
@prahladyeri have you had any progress with this?

[2018-02-23 01:41] prahladyeri commented on #28
@buddhashrestha Yep, I'm working on it, please give me some time. I'll upload the code and share the github link soon once I got something working.

[2018-02-23 01:45] buddhashrestha commented on #28
@prahladyeri awesome. can't wait

[2018-02-25 16:30] KOLANICH opened #54 "P2P throttling detection and ISP stat collection"
## Project description
Some ISPs throttle P2P. Some are doing other bandwidth fraud like better speed for measuring websites or reducing speed after certain amount is downloaded on "unlim" tariffs. It worth to know which ISPs do it to make right consumer decisions. There should be an app for a PC and a smartphone doing the following:
1 detecting ISP. It can be done using various databases, but I k

[2018-02-26 09:34] FredrikAugust commented on #50
@muhammad-haroon are you working on this?

[2018-02-26 18:53] muhammad-haroon commented on #50
Hi @FredrikAugust
to be honest this is just in planning phase,
i wanted to discuss my approach with someone so that i can get  critique,  and in turn start developing it.
the approach i want to take it of the project and start from the most minimal basic, small package manager. that focuses on stability, security and easy upgrade-ability.
if you guys like we can start with a basic design and start

[2018-02-26 18:58] muhammad-haroon commented on #50
the issues i see with having to having to work with the existing package managers is that there development libraries are not easily useable and i speak this from the perspective of a user of debian and looking at libdpkg-dev , i wanted to explore basic functions of the library and it turned out that the most useful of functions are hidden and not exposed publicly , i f any one knows how to use th

[2018-02-26 20:15] KOLANICH opened #55 "Develop a criteria for work and difficulty estimation"
For now the issues in this repo are marked with ```Little work```, ```Medium work```, ```Much work``` and ```Beginner```, ```Intermediate```, ```Advanced``` labels.

But what is `Much work` ? Is developing an app in the way "take existing libraries, make them do their tasks and return the results, compare the results and show them to user" really so much work for an advanced engineer? I guess we n

[2018-02-26 20:30] KOLANICH commented on #34
Also:
https://github.com/netblue30/firejail - a sandbox for linux

[2018-02-26 21:01] KOLANICH commented on #42
Since NewPipe developers started implementating of multiple sources, I have created an issue about adding Coursera support into it: https://github.com/TeamNewPipe/NewPipe/issues/1141

[2018-02-26 21:21] KOLANICH opened #56 "Transform this repo into an organization and setup teams and permissions"
This should allow to [setup permissions more granularly](https://help.github.com/articles/creating-a-team/). For example for now I have write access to this repo (thank you for the invitation, BTW). But I'm not sure in the security of the devices I use, if someone had hacked my device (which is pretty easy), he would be able to do nasty things from my account. So, I think more granular permissions

[2018-02-26 21:25] mikaelbr commented on #56
Fixed 👍

[2018-02-26 21:25] #56 closed

[2018-02-26 22:26] KOLANICH commented on #56
I'm sorry for misinformation, but it seems there is no granular permissions for orgs (I was sure it was). So I exit the org, feel free to add me again when GH adds the needed permissions (I needed only labels creation and assignment) and you setup them. Thank you anyway.

[2018-02-26 22:47] KOLANICH opened #57 "A decentralysed and distributed push notification service"
## Project description
Moved to https://github.com/UnifiedPush/wishlist/issues/26

[2018-02-28 00:07] FurkanKambay opened #58 "IPA (International Phonetic Alphabet) to mouth animation"
I don't know if this is worthwhile but it was in my "Draft Ideas" note page so here goes nothing.

This is for video games when characters talk. Their mouths will move according to IPA so it will look realistic.

These will probably give you an idea of what's in my head:

![detailed](https://i.pinimg.com/736x/85/c9/87/85c9873114ae7552ce4776c6aac17647--ipa-infographics.jpg)

![vowels](https://stati

[2018-02-28 16:16] KOLANICH commented on #58
I guess it may be better to transform speech sound into animation.
http://www.yisongyue.com/publications/siggraph2017_speech.pdf

[2018-03-01 10:31] FredrikAugust commented on #55
Hey, I guess this is directed mostly at me, since I've been going over all the issues and filling in these labels as I saw fit.

The problem here is that there isn't any real way to measure the difficulty of a programming task, and it varies radically depending on the person and his/her background. Of course; a simple web app will be easy to develop for an experienced web dev, but it might be very

[2018-03-01 11:56] FredrikAugust opened #59 "Rework open-source-ideas website"
## Project description

[The current website](http://open-source-ideas.github.io/open-source-ideas/) is due for a rework (you can blame that on me, I'm not the worlds best web designer). As of now it's not really worth using, as GitHub issues is a lot clearer.

The current code can be found [here](https://github.com/FredrikAugust/open-source-ideas-website) if you wish to have that as a starting po

[2018-03-01 12:03] FredrikAugust commented on #51
Sorry, hit the wrong button.

[2018-03-01 12:28] thedc89 commented on #59
Hi @FredrikAugust I think I might help with that.
However, I think we should enable sign in with other social acoounts, there are many people out there who got no clue what github is and therefore we create a barrier for non-technical users. Therefore, I'm not sure if should rely on GH Api, or maybe look towards some other content management system like Contentful. What is your opinion?

[2018-03-01 12:32] FredrikAugust commented on #59
@thedc89 Well, I don't really see why we should open it up to people who don't have a GH account. We want to attract technical people right?

Furthermore, the GH issues API doesn't require any form for authentication, so they can still view the issues without touching GH.

[2018-03-01 12:36] thedc89 commented on #59
If the idea is to exchange ideas only with people who are coders, then it's fine. I thought that targeting people from various industries such as medicine, fintech etc who are not coders themselves may bring some fresh air, what do you think?

[2018-03-01 12:44] FredrikAugust commented on #59
Oh, didn't think about that. Yeah! That's a very good idea.

On Thu, Mar 1, 2018, 13:36 thedc89 <notifications@github.com> wrote:

--

Mvh,
Fredrik August Madsen-Malmo
928 48 870

[2018-03-01 12:57] thedc89 commented on #59
Let's consider the following example:

I have an idea to create iOS application for getting medical lab tests faster. I'm an iOS developer with a technical team consist of Backend and Frontend developers. What's my roadblock then? I need medical doctor who knows the industry and know people in charge who help carry out beta tests.

Startup consists of many elements, not just coding workforce, thus

[2018-03-01 13:00] FredrikAugust commented on #59
Absolutely. So you're thinking more of a platform than just a wrapper
around the GH API - which is the current solution.

On Thu, Mar 1, 2018, 13:57 thedc89 <notifications@github.com> wrote:

--

Mvh,
Fredrik August Madsen-Malmo
928 48 870

[2018-03-01 13:00] thedc89 commented on #59
Exactly I do :)

[2018-03-01 13:04] FredrikAugust commented on #59
Nice, I'd be happy to discuss it in greater detail one of the coming days
if you're interested.

On Thu, Mar 1, 2018, 14:00 thedc89 <notifications@github.com> wrote:

--

Mvh,
Fredrik August Madsen-Malmo
928 48 870

[2018-03-01 13:10] thedc89 commented on #59
@FredrikAugust Of course, my pleasure. Maybe let's wait for others to see whether they share the vision :) Would you like to discuss it here under this issue, or privately for the sake of not spamming the issue?:)

[2018-03-01 13:11] FredrikAugust commented on #59
There is an official slack channel, think that would be better.

On Thu, Mar 1, 2018, 14:10 thedc89 <notifications@github.com> wrote:

--

Mvh,
Fredrik August Madsen-Malmo
928 48 870

[2018-03-01 13:13] thedc89 commented on #59
@FredrikAugust I cannot find it anywhere, could you share the link to sign in?

[2018-03-01 13:16] KOLANICH commented on #55
In fact it was about #54 : we have a glue language python, we have libraries measuring speed from speedtest in python, we have bindings of libtorrent rasterbar to python.  Though I have not tried that (somI don't know if any obstacles like missing parts of api), but it may be easy to create a PoC: to do it all that is needed to be done is to bring everything together. The prototype should be immed

[2018-03-01 13:19] FredrikAugust commented on #59
Yep, if you give me your email address I can invite you directly.

On Thu, Mar 1, 2018, 14:13 thedc89 <notifications@github.com> wrote:

--

Mvh,
Fredrik August Madsen-Malmo
928 48 870

[2018-03-01 13:24] FredrikAugust commented on #55
I see. I'd still argue it's a lot of work, which brings me back to my comment about reworking the label system. As this might look simple to you, but tedious to another dev.

[2018-03-01 13:24] KOLANICH commented on #55
Yes, but I guess only fields requiring domain knowlege you cannot gain in an hour of reading should be used for that. I mean the requirements creating entry barriers. For example it's pretty easy to start working with xgboost if you are familiar with basics of machine learning, but working with neural networks require much more domain knowledge and hardware resources. Maybe better labels should be

[2018-03-01 13:33] thedc89 commented on #59
dawid.cedrych@gmail.com

[2018-03-02 19:48] KOLANICH opened #60 "NoScript, μMatrix, μBlock and GreasyMonkey interaction"
## Project description
There are 2 privacy-enchancing extensions for Firefox:
[NoScript](https://addons.mozilla.org/ru/firefox/addon/noscript/)  (develepment is done in private, no source in VCS publicly available, [though requested](https://forums.informaction.com/viewtopic.php?f=10&t=23708), but there is release history, we can download all the releases and unpack them into a repo and make each

[2018-03-05 11:49] AshFTW commented on #27
I've done it(Linux server and client c++), reply me

[2018-03-05 11:50] FredrikAugust commented on #27
@AshFTW Could you link the repository?

[2018-03-05 11:54] AshFTW commented on #27
@FredrikAugust later, I'm in the bus right now:grinning:

[2018-03-05 16:43] AshFTW commented on #27
@FredrikAugust https://github.com/AshFTW/output-audio-stream

[2018-03-05 21:11] FredrikAugust commented on #27
Cool! @karuppiah7890 does this project match your specifications?

[2018-03-11 03:30] vhanla commented on #10
You can use https://github.com/cpitclaudel/monospacifier to adjust or turn any other font to the monospace settings of the target font. That way the modded font will have the same measures on both font styles.

[2018-03-18 08:05] KOLANICH opened #61 "An xposed module to upgrade"
## Project description

There are lot of old devices with unupgradeable Android OS. (though it is possible to upgrade userspace, these devices are dropped by everyone, including LineageOS, except some untrusted devs on XDA leaving users no choice but to rebuild the userspace themselves).

Google [provides some mitigations as a part of GSF](https://developer.android.com/training/articles/security-g

[2018-03-19 00:23] tomlagier commented on #4
I think I'm going to work on this. I'm going to start with a higher order function that takes a graphql query string, parses it with `graphql-tag`, and returns a function that accepts an immutable map. It will use the parsed representation of graphql to select state out of the map. You can use it as a way to generate mapStateToProps functions, something like:

[code]

[2018-03-19 06:02] tomlagier commented on #4
Finished a quick POC project. Check it out here: https://github.com/tomlagier/graphql-immutable-selector

[2018-03-21 18:34] opensemanticsearch commented on #11
Within next months a more powerful open source book search (supporting chapters and pages of large documents like books or massive PDFs) will be implemented in [Open Semantic Search](https://opensemanticsearch.org) for (scanned) books/massive PDFs (without DRM).

[2018-04-05 16:50] KOLANICH commented on #46
I have already tried zotero and was deeply dissatisfied with it.

[2018-04-07 14:35] josuedavidurand commented on #10
Hi,
Somebody know the color scheme used by @mikaelbr commented on 14 Jan 2017?
It look amazing.
TY guys

[2018-04-07 14:47] nemoDreamer commented on #10
@josuedavidurand if you hover over a comment's date, you can copy a direct link to it:
https://github.com/open-source-ideas/open-source-ideas/issues/10#issuecomment-272638840

That scheme looks very much like something that would be called "sea" or "forest" or "pale something or other"... 😜 It really looks delicious... It's like a subtle duotone, but with yellow added.

[2018-04-07 15:57] josuedavidurand commented on #10
thanks for the tip
it's hard to found a theme just with a picture

[2018-04-07 16:24] mikaelbr commented on #10
@josuedavidurand  If I remember correctly, that is [Behave Theme](https://marketplace.visualstudio.com/items?itemName=balmor.behave).

[2018-04-10 19:31] TomDataworks commented on #35
@FredrikAugust while I do not know that much about game dev, I do know about software development as a whole and this is a very in-depth project. Building something like Starbound's engine itself would be a difficult. Actually crafting it in to an awesome game would be monumental.

An additional consideration: many people won't even play Minecraft, Terraria, Starbound, etc. tons of mods... and the

[2018-04-16 13:56] FredrikAugust commented on #35
@TomDataworks Thanks for the insight; those were my initial thoughts as well. Furthermore, and this is only from my limited experience with developing large applications through open-source groups such as this one; I don't think this will work without some proper managing. Having random people join in and contribute without any form of structure will just lead to a code base filled with programmer

[2018-04-18 08:47] jleeothon commented on #58
Like you mentioned, only the part about lips and tongue would be visible in the case of a videogame.

Otherwise, for scholarly purposes I think it's a very useful idea to represent these in an animated diagram. When studying phonetics, I've seen courses where the course material includes animations--no idea where they got them from.

Apart from that, and for scholarly / fun purposes, there's this

[2018-04-18 12:50] kjbappsllc commented on #10
@christopherdwhite I use Croissant One.  It works well for me

[2018-04-18 18:55] KOLANICH opened #62 "socat app for Android"
## Project description

Socat is a universal pipe converter. It can be used to pipe network streams into unix sockets or another network streams or stdin/stdout.

It would be nice to have an Android GUI app with the following look&feel:

the interface is the list of 2 ends of pipes
There is a `+` button to add a pipe
When the button is tapped an item is added to the list
Each item has 2 sides and

[2018-04-22 09:31] KOLANICH opened #63 "GitHub bot for finding issues in existing repos and creating PRs or issues for them"
## Project description
GitHub search is quite a mighty thing. Creating a right query you can find projects linked to some other project somehow.

Lots of repos have some issues (which are not issues fro mhe point if view of their authors).

For example python repos not using `setup.cfg` and storing all the metadata in `setup.py`. It's bad: in general case you cannot extract metadata from it withou

[2018-05-02 19:26] kosimst commented on #10
I have created a font that uses FiraCode as main font and FlottFlott as italic. It should work in every editor. You can find it here: [https://github.com/kosimst/FiraFlott](https://github.com/kosimst/FiraFlott)

[2018-05-06 14:55] Itope84 commented on #59
Hi, I would love to work on this too, if it's still open. I don't entirely understand what the gist is about, but I'd say I'm okay with front end development and I'm willing to ride along... Please respond, thanks.

[2018-05-17 20:33] KOLANICH opened #64 "Free toolchains, Windows Driver Kit and Windows SDK interoperability"
## Project description

Microsoft have managed to do a terrible thing: nearly everyone who tries to build a driver for Windows have to use their proprietary and [untrustworthy](https://old.reddit.com/r/cpp/comments/4ibauu/visual_studio_adding_telemetry_function_calls_to/) compiler. It is not obvious: there are some examples of helloworld drivers buildable with MinGW, but they are helloworld, and i

[2018-05-26 00:54] Epikem opened #65 "NPM dependency helper based on semver"
## Project description

[This site](https://semver.npmjs.com/) shows node package versions with semver filter. I think it would be useful if this could be done with multiple packages with pivot package's semver based filter. And it would be also better if anyone could comment what is changed on each versions.

## Relevant Technology

node, javascript, npm

## Who is this for

node community

---

[2018-06-03 16:38] marcelosousa commented on #41
I would be interested in working on this (not specifically using Python).

[2018-06-03 19:11] koppor commented on #46
In [JabRef](http://github.com/jabref/jabref/) we have the basic helper classes for that ready. The linked [Docear](https://github.com/Docear/Desktop) is a fork of an old JabRef version and currently unmaintained. Some of our developers don't like Java, too. However, it is IMHO hard to port the functionality to another language. So I would propose to dive into the code.

In the developers, we had h

[2018-06-03 19:18] koppor commented on #14
i would build on [Quassel IRC's](https://github.com/quassel/quassel) code, because quassel has the great feature to offer a client/server technology, where the server connects (as IRC client) to the IRC network and the Quassel client is "just" the UI. So, one does not need to reimplement the whole IRC logic, but can focus on the UI.

[2018-06-04 11:31] koppor commented on #9
Related work:

- [webmacs](https://github.com/parkouss/webmacs) - actively maintained
- [conkeror](http://conkeror.org/) - not maintained ([repository](https://github.com/retroj/conkeror))
- [emacs browsin plugins](https://github.com/emacs-tw/awesome-emacs#browser)

[2018-06-04 15:08] KOLANICH opened #67 "Migrate from GitHub"
Consider moving away from GitHub due to the recent (though still open) acquisition by Microsoft and taking into account what Microsoft have made to its own websites (they (at least some of them) don't work at all without JavaScript enabled and have tracking scripts, if M$ done this (or something else unfriendly, like unfriendly shifts in privacy policy) to GitHub, I (and I guess some other self-re

[2018-06-04 16:43] edrex commented on #9
interesting to see webmacs also using pyqt/qtwebengine. the more downstream projects use that platform, the better blazed the trail will be for other alt browsers.

[2018-06-07 17:43] saltphish commented on #54
This is cool.
I am ready to work on this.

[2018-06-08 07:14] jri-sp commented on #54
Me too ! :-)

[2018-06-17 11:01] saltphish commented on #54
Then lets do it

[2018-06-18 06:59] georoot commented on #29
@gnarmedia the api and ssh server was ready for the project. It still might not be a production ready service but you can start off by writing a webapplication for the same. The time i started i used to work on with angularJs but now i think that emberjs might be a more stable option considering it provides a lot of services out of box.

[2018-06-18 15:20] gnarmedia commented on #29
@georoot for the purposes of being lightweight I was thinking more like react + express. I have never worked with ember and don't really like frameworks. If react was too heavy, we could probably replace it with preact without too much effort.

[2018-06-19 09:37] EMCM commented on #67
Why? What's the reason for doing so?

[2018-06-19 09:44] FredrikAugust commented on #67
Presumably because of the recent acquisition by Microsoft.

Although I would like to migrate away from github, I think that would kill this community rather efficiently, as github is still the dominating platform for OSS.

[2018-06-19 10:30] KOLANICH opened #68 "An optical pyrometer app for Android"
## Project description

Optical pyrometry is the way to measure the temperature of bodies by measuring radiation emmited by them.

So we need a low precision optical pyrometer app for Android to measure the temperatures of bodies hot enough to emit visible light. Why low precision? Because our equipment (a cam in a phone is not a spectrometer and Bayer filter is not a monochromator, but the app sh

[2018-06-19 23:37] KOLANICH opened #69 "WebONNX"
## Project description

The API to bring fast and efficient hardware-accelerated (on GPU & TPU) ML inference into Web.

1 Create a WebExtension Experiment (A WebExtension API) passing through native ML API using ONNX as a model format into WebExtension via [js-ctypes](https://developer.mozilla.org/en-US/docs/Mozilla/js-ctypes).

  * for Windows it should call into WinML https://msdn.microsoft.com/

[2018-06-20 00:21] KOLANICH opened #70 "WebPoW"
## Project description

The API to bring fast and efficient hardware-accelerated Proof-of-Work to the Web.

Taking into account widespread web mining and potential of PoW for deterring abuse and allowing monetization of websites without tracking their users, there is demand on an API using hardware resources more efficiently than current WebAssembly CPU PoW.

So

1 Create a WebExtension  interacti

[2018-06-20 17:56] georoot commented on #29
@gnarmedia frankly i don't mind the tech stack that is used on UI being a backend developer myself. The api is already written in nodejs and i think i ended up creating a dummy client in angular1.x for the purpose of testing. If you are really interesting in taking up the project i can clean up the api to make them more usefull and descriptive. I haven't worked on react so i won't be able to help

[2018-06-20 17:58] georoot commented on #67
https://github.com/open-source-ideas/open-source-ideas/issues/29#issuecomment-394415726 this might be something of a related issue, which i worked on some time ago. Afraid it's not at par with github and currently as far as i remember only allow some very basic functionality.

[2018-06-20 18:17] FredrikAugust commented on #67
Why not move to GitLab? Which is fully functional, and ships with a lot of the features GitHub has?

[2018-06-20 18:18] FredrikAugust commented on #67
Though @KOLANICH, please provide at least an explanation as to why we should do/consider this. This issue isn't really contributing to anything.

[2018-06-20 18:23] FredrikAugust commented on #65
Please provide a bit more thorough explanation of the project. This is _very_ vague.

[2018-06-20 18:38] FredrikAugust opened #71 "Have issue/project creators suggest labels regarding difficulty themselves"
Hey,

So as of now, I'm basically the only one updating the labels on the issues here, and since I don't really know much about 70% of the projects being suggested here, the quality of my suggestions are rather bad.

So, I'm proposing an update to the template where the creator is asked to fill in what he thinks should be the labels.

Please comment with your thoughts.

Thanks,
Fredrik

[2018-06-20 18:40] FredrikAugust commented on #59
@Itope84, no one has started on this project, so if you wanna take it, go ahead!

[2018-06-20 19:08] KOLANICH commented on #67
@FredrikAugust I have updated the top comment.

[2018-06-20 19:39] FredrikAugust commented on #67
Wonderful, thanks. 

Отправлено со смартфона Samsung Galaxy.
-------- Исходное сообщение --------От: KOLANICH <notifications@github.com> Дата: 20.06.18  9:08 ПП  (GMT+01:00) Кому: open-source-ideas/open-source-ideas <open-source-ideas@noreply.github.com> Копия: "Fredrik A. Madsen-Malmo" <mail.fredrikaugust@gmail.com>, Mention <mention@noreply.github.com> Тема: Re: [open-source-ideas/open-source-id

[2018-06-20 19:54] KOLANICH commented on #67
<details>
<summary>offtop</summary>
@FredrikAugust
1 Вот вы и спалились ...
2 А что json делает в почтовом сообщении от гитхаба?
</details>

[2018-06-20 21:06] FredrikAugust commented on #67
Я не знаю, лол

[2018-06-21 06:35] Itope84 commented on #59
Thanks, I have forked the repository...
I'll send you an email if I do need any help...

[2018-06-21 06:43] KOLANICH commented on #59
I ask you keep in mind one simple thing when making the website: it should be usable without JavaScript enabled, usage of third-party resources is discouraged and if you still have to use them, please use [subresource integrity](https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity).

[2018-06-21 13:58] mikaelbr commented on #67
I don't think we should take any rash decisions, and make a big deal out of currently nothing. These are all hypothetical worries motivated by, in my mind, something other than what is best for the initiative. It seems more motivated by the archaic notion that everything MS is evil by default. Even transitive ownership. This also evident by referring to Microsoft as `M$`.

I would also please ask,

[2018-06-23 21:13] FredrikAugust commented on #59
Agree with @KOLANICH. And keeping everything used open source would also be nice (e.g. fonts, imagery). And please refrain from making an "opt-out of javascript" type of website, as in a website which bases its functionality on javascript, and removes it by disabling js, but rather try implementing the base functionality without javascript, and rather use js for the icing on the cake.

[2018-06-23 21:34] FredrikAugust commented on #67
Though I agree with a lot of your points @mikaelbr, the worries brought on by the acquisition are not hypothetical, they are real, and justifiable just by looking at the list of [217 companies MS have acquired](https://en.wikipedia.org/wiki/List_of_mergers_and_acquisitions_by_Microsoft). It is hard not to look at that with skepticism. Whether Microsoft eventually proves said worries to be rational

[2018-06-27 11:15] FredrikAugust opened #72 "Website for grammar in different languages"
## Project description

So, over the past few months I've been trying to learn Russian (and Spanish before that), and naturally, over said period I've had to look up conjugations of verbs/nouns. Though the websites available for that have been lackluster, to say the least.

So, I've been thinking of creating a website which presents said grammatical rules in an orderly and easily digestible fashio

[2018-07-05 09:59] KOLANICH opened #73 "Implement syslog.h for Windows"
## Project description
Toolchains for windows don't have an own syslog.h . Windows has own logging system called Windows Event Log. I'd be nice to have a lib having unix-compatible interface and sending the messages to Windows log.

## Relevant Technology
https://docs.microsoft.com/ru-ru/windows/desktop/ETW/tracing-events
https://github.com/asankah/syslog-win32

[2018-07-05 18:06] xenotropic opened #74 "National Weather Service (USA) android app"
## Project description

 Right now the only open source app that pulls NWS data only shows alerts, hasn't been updated in six years, and it doesn't seem to work on my phone (does not appear in list of widgets) .

 https://github.com/justdave/nwsweatheralertswidget

 The app  I am proposing would pull data from the NWS API , and display it somehow on an android phone. Even just displaying textual d

[2018-07-06 04:47] mitchtbaum commented on #58
https://www.youtube.com/watch?v=dfoRdKuPF9I
https://www.youtube.com/watch?v=u7jQ8FELbIo

[2018-07-06 14:39] FredrikAugust commented on #74
You could also create a web app if you wanna make this a bit easier. That way it would be really easy for someone new to programming to work on this. But that's just a suggestion ;) Cool project!

[2018-07-07 21:17] FredrikAugust commented on #55
Look at #71. As of now it's really the only solution I think is feasible to implement, any other would (I think) simply be demoralizing for the one creating the issue, as it requires them to write a lot.

[2018-07-08 11:48] rybo111 opened #75 "OS-dependent CSS/JavaScript framework"
## Project description

A CSS/JavaScript library that styles web pages depending on the device's operating system, creating a simplistic and familiar user experience.

To save on resources, the project should load only the required files (e.g. do not load Android styles/scripts for an iOS user).

Suggested names for the project:

- OS Dependent Design (ODD)
- Website Tailored Framework (WTF)

## R

[2018-07-08 16:45] mikaelbr commented on #71
Sounds good to me. This was the plan all along also. For the issuers them self to estimate ballpark. The idea it self isn't for an accurate estimation of time used, but just to get an initial sense of the scope and complexity the original issuer imagines.

[2018-07-08 16:56] KOLANICH commented on #71
The problem with this idea that the labels should be chosen from existing subset and reused, otherwise there is no sense to have labels. Not sure if it is possible to grant strangers privilege to create and assign labels. Should we use StackExchange?

[2018-07-08 16:57] mikaelbr commented on #71
I don't think this is much of a problem per se, as there are humans adding them as actual labels?

[2018-07-08 16:59] KOLANICH commented on #71
Or maybe just add into the template a section for proposed labels, and a participant with privilege (may be a bot) will create them for a user if the label is reused in any other issue.

[2018-07-09 12:15] FredrikAugust commented on #75
Don't want to be that guy, but what is the point of using jQuery today, with new JavaScript features encompassing a huge portion of the feature set (most notably `document.querySelector` which is basically the same as jQuery `$('...')`).

[2018-07-09 12:18] FredrikAugust commented on #71
That was exactly what I was thinking. I'll see if I can't get around to making said bot, shouldn't be that hard. But for the time being, just make them tick off the labels they think is fitting and I (or @mikaelbr) can update them manually.

[2018-07-09 12:18] #71 closed

[2018-07-10 21:35] DomtronVox commented on #35
Just ran into this and thought I would throw in my two cents. Sorry if this is necro-ing a bit too much. The FOSS community already has a game that is similar though not exactly what you described. OpenClonk. www.openclonk.org

Basically it has destroy-able terrain, which is pixel based as opposed to grid based, and construction, which is mostly entity based but you can do some pixel changes with

[2018-07-10 23:04] rybo111 commented on #75
@FredrikAugust Perhaps. Although I've found ES6 support to be hazy for IE (e.g. .closest(), which I happen to use a lot with jQuery).

[2018-07-19 15:24] GriffinAustin commented on #74
Like this idea; will update when I have time to start planning.

[2018-07-20 14:04] aashishg commented on #72
http://mylanguages.org/
Russian language -> http://mylanguages.org/learn_russian.php
Is this website close to what you envisioned?

[2018-07-22 13:33] FredrikAugust commented on #72
@aashishg, more or less. Only thing I would change is that there is no ToC of tenses and casus. Thanks for the link though.

[2018-07-22 13:33] FredrikAugust commented on #72
I'll leave this open in case anyone want to have a go at it.

[2018-08-03 04:36] ppeters0502 commented on #74
This sounds interesting! I've done some android work before, and have worked in a team environment with source control, but I admit I'm new to contributing to an open source project. Would love to partner up with you guys on this if you're open?

[2018-08-04 11:15] FredrikAugust commented on #74
Sounds good, two people on board!

[2018-08-05 11:47] tonystark007 commented on #13
I also wanted to work on this. Can I join?

[2018-08-05 11:51] FredrikAugust commented on #13
@tonystark007 It doesn't appear anyone actually started on this, so go ahead! Let me know if you need help with anything :) :+1:

[2018-08-05 14:43] dannycolin opened #76 "Add programming language tags"
## Proposed change

Add programming language tags to issues and also show them on the website

## Motivation

This would help people to filter project ideas by programming languages.

## Proposed implementation

- Create a set of tags with the same color that looks like `language : JavaScript`
- Show them on the website. (btw where's the website source code, if we want to help?)

Suggestions, idea

[2018-08-05 14:59] FredrikAugust commented on #76
Hello,
Great suggestion, though there are quite some cases where the idea doesn't specify a programming language. Should we just ignore the tag on those? Or perhaps have a `language: any`? 
The source code can be found at my profile, under open-source-ideas-website (IIRC). At one point I will transfer it to this org, and make GitHub pages pull from that or a submodule here, instead of the current

[2018-08-05 15:57] FredrikAugust commented on #76
Would be great to get an opinion from @mikaelbr before implementing something like this.

[2018-08-05 16:04] FredrikAugust commented on #76
There we go @dannycolin. Tranferred the ownership to this organization and added a link in the README. The code hasn't been touched in ages (and to be fair, could do with a rework), so if you wanna remake/improve it, go ahead!

If you have any questions, would like help, or anything, don't hesitate to contact me! :smile:

[2018-08-05 18:09] dannycolin commented on #76
I think `language : any` should be enough but if anyone have a better solution i'm all ears ;). @FredrikAugust btw for the website, IIRC you can name the repository like so : `open-source-ideas.github.io` and it'll be automatically use by GitHub to create a website to the same URL address.

[2018-08-05 18:15] FredrikAugust commented on #76
Yeah, github pages for a user/org. That's probably better now that we've migrated. I'll do it right now :) Thanks for the tip @dannycolin.

And I agree that `language: any` should be enough, but if the task allows for it, I'd rather have `language: low-level` for tasks that require it (e.g. embedded etc.) and `language: high-level` for programming tasks where such fine grain control is not needed.

[2018-08-05 18:28] FredrikAugust commented on #76
Ta-da! Removed the `docs/` dir from this repo (and updated `README` links) and moved it over to open-source-ideas/open-source-ideas.github.io. Now that's all set and done for people to contribute! If you have any ideas for improvement, please don't hesitate to submit an issue on that repo, and I'll take a look (or better yet, submit a PR)! deddcc43b47dfa54ad6c69d7405d80b224784730 and 8c55822e5f4f3

[2018-08-05 18:59] KOLANICH commented on #76
The problem with `any` and `low-levep` tags is that they don't make search easier. For example a c++ dev comes. He searches for c++ and doesn't find some projects because they have no C++ tag. The same problem with missing tags. The one reporting the idea may not know that some language which suits better: the one chosen by the idea implementer. So it may be better to have no PL tags at all.

[2018-08-05 19:13] FredrikAugust commented on #76
That's a fair point. I think I'll just let this one stay open in case anyone comes along with a solution that also considers that point. 

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: KOLANICH <notifications@github.com> Date: 05/08/2018  8:59 pm  (GMT+01:00) To: open-source-ideas/open-source-ideas <open-source-ideas@noreply.github.com> Cc: Fredrik August Madsen-M

[2018-08-05 19:26] wolftune commented on #59
I suggest avoiding "OSI" for referencing this project. Call it "OS ideas" maybe. OSI reads too much lik ethe primary dominant entity Open Source Initiative, the org that founded the term and concept of "open source".

[2018-08-05 19:28] wolftune commented on #42
Oh, not an open-source competitor to Coursera itself (that exists: edX) but an open source *client* for Coursera. Maybe remame this issue "a free open-souce *client* app for Coursera" or similar

[2018-08-05 19:57] FredrikAugust commented on #59
Done @wolftune!

[2018-08-05 20:28] KOLANICH commented on #42
there is a word `MOOC` for them

[2018-08-05 21:47] dannycolin commented on #76
@KOLANICH I totally understand your point. At the same time, there's already a "Relevant Technology" section where people are putting information about which language the project should be written in. The tag ideas is pretty much the same thing but it add the ability to filter.

If we take your point in consideration I think the "Relevant Technology" section should also be reconsidered or redesign

[2018-08-05 21:51] FredrikAugust commented on #76
I think that's a pretty good idea. Optional explicitness; tell the creator of the issue that he/she should add a programming language if applicable, and if not leave it be.

By doing that I (or another maintainer) can swing by and slap on the label corresponding to the programming language suggested.

By doing this a C++ can search for any C++ projects, and if nothing shows up, he/she can scroll t

[2018-08-05 21:55] KOLANICH commented on #76
I won't since that section is just a suggestion and situated after the text describing the idea; when you have reached that section you usually have some understanding if the languagesnyou know are suitable for that.

[2018-08-05 22:00] dannycolin commented on #76
@KOLANICH maybe you won't because you know the project ;). But I'm sure a lot of people wil skip it. It should be obvious if a section is a "suggestion" or not. When you present something we don't need to thing "how I will see it" but "how someone else (for whatever reason) will see it".

[2018-08-05 22:06] KOLANICH commented on #76
In my opinion your vision of that section is strange and surprising.

[2018-08-05 22:16] dannycolin commented on #76
It's ok to disagree and debate the pros and cons of an idea but it isn't to dismiss it with an argument like "your vision of that section is strange and surprising."

Isn't that agaisnt your CoC (Being respectful of differing viewpoints and experiences). Btw it isn't something very welcoming to say to somenone.

[2018-08-05 22:27] KOLANICH commented on #76
@dannycolin, I'm sorry, if my comment may have looked impolite. You have told me that that I should think how anyone else would understand that section. I have clarified that in my opinion people would consider that section as a recommendation "this language may be useful" rather than a hard rule "if one is unfamiliar with this language this idea is not for him".

[2018-08-06 03:50] mickael-kerjean commented on #29
It would help much more people to contribute to projects like Gogs or Gitea directly instead of making yet another alternative.

[2018-08-06 06:28] brylie opened #77 "404 error on GH Pages website"
The website link for this project leads to a 404 error.

[2018-08-06 07:39] mikaelbr commented on #77
Thanks! Corrected to https://open-source-ideas.github.io/ now 👍

[2018-08-06 07:39] #77 closed

[2018-08-06 11:06] marcocastignoli opened #78 "Nile: decentralized, commission-free, local-economy focused Amazon alternative"
I already wrote the description of the project as if it's already an established organization, but it is not. I'm searching for developers, lawyers and advertisers interested in the project!
## Description
### Why?
We live in a society in which huge corporations have the power to influence economies and trends. Today Amazon is the leading company for selling goods across the web, they [don’t pay t

[2018-08-06 11:46] FredrikAugust commented on #78
Wow, this sounds really cool :open_mouth:! Hope it works out :) Would love to join, but I'm starting my studies soon, so won't have time to work on this full time, though if you end up building it in a language I'm familiar with, I'll definitely come help out! :)

[2018-08-06 12:01] paulcmal commented on #30
This reminds me of [urweb](https://github.com/urweb/urweb), a crazy experimental language where SQL is embedded deep within so that you can't compile SQL injections and such.

Also worth noting, there is no distinction between client and server code in urweb. The same codebase is compiled to a binary server-side and a JS script client-side if i remember correctly.

[2018-08-06 12:57] paulcmal commented on #78
I feel like the basis for your project is already covered by [OpenBazaar](https://www.openbazaar.org/), a fully P2P marketplace with support for many cryptocurrencies. Maybe extending Openbazaar to support delivery via local bike coops (there are a few) or to support local currencies / cash (with optional third-party escrow) could be an option?

[2018-08-06 13:17] marcocastignoli commented on #78
@paulcmal I already tried OpenBazaar, the problem that I see is about the "Getting started". The OpenBazaar server is written in Python or Go, this means that every shopper needs to have a machine with external software installed. I think that the average shopper doesn't have a running computer / server and doesn't want to install anything on his/her OS (if not on his/her smartphone). My idea is t

[2018-08-06 13:26] NorthFoxz commented on #78
The website can be hosted on IPFS and payments on smart contracts.
I can help with the project :D

[2018-08-06 13:26] Peppuz commented on #78
Bella Marco!
I love your ideas and share your thoughts about big companies, like Amazon that raise their capital exploiting locals and selling without even paying taxes.
I thought that this project should be full open source in order to get more people to contribute and share as well this Anti-Amazon propaganda. Decentralization on cities make sense, i agree, the vendor doesnt want to have too muc

[2018-08-06 13:27] AtHeartEngineer commented on #78
Typo: "when you when you are"

[2018-08-06 13:30] marcocastignoli commented on #78
@VictorBjelkholm that's a great news! Maybe the store part of Nile could be found upon OpenBazaar, thanks for the suggestion. I'm gonna search more about this!

[2018-08-06 13:31] paulcmal commented on #78
In my experience this is not a problem, especially when it comes to growing a local economy based on trust relationship with free-software activists. What is a major stopper though is key/data backup & recovery, which is usually not given enough thought leading to people losing access to stuff (and making them angry at p2p/selfhosting)

Well if you're not going to centralize, why not federate from

[2018-08-06 14:04] bigolol commented on #78
This has maybe a 0.0001% chance of succeeding, but damn I sure hope it does.

[2018-08-06 14:11] paulmillr commented on #78
Learn capitalism. You're focusing on shitty problems. Most folks don't give a crap about decentralization or local economy as long as something's cheaper and more accessible to them, see [Prime does its job better than local government in Canada](https://www.cbc.ca/news/canada/north/iqaluit-amazon-prime-1.4193665). That local economy "need" arises from overfed western view.

Focus on real problems

[2018-08-06 14:17] marcocastignoli commented on #78
@paulmillr thanks for the suggestion, and I totally agree with you, except

 I think that the only way to make the local economy to rise, is to give the local store the tools that made Amazon a successful service. And that's exactly the purpose of this project.

[2018-08-06 14:26] as1ndu commented on #78
I recommend you use http://foam.space for  proof of location when managing logistics

[2018-08-06 14:30] nerdbeere commented on #78
Great Idea!

In Germany/Austria there's a startup (https://atalanda.com) that tries to solve at least parts of what you are describing. It's not decentralized but still an interesting project though.

[2018-08-06 14:33] saiteja09 commented on #74
Sounds cool, interested in collaborating with you guys to build the app. I have done a bit of android development in the past, but like @ppeters0502 I'm also a bit new to open source projects.

[2018-08-06 14:39] sardaukar commented on #78
Not a big fan of Amazon, would love to help.

[2018-08-06 14:59] russellballestrini commented on #78
I would like to partner, when can we talk?

I drafted a blog post on Friday which details how I would tackle this problem, instead of building the market first I would build a free SaaS "value add" application for side gig and small business operators which would help them keep track of work-in-progress. This data would then be used to power recommendation engines, and a marketplace. The network w

[2018-08-06 15:00] ppeters0502 commented on #74
@FredrikAugust, if you already have a slack server set up, I'd love access!! From there we can figure out who wants to start where, what the app requirements should be, and get the ball rolling!

[2018-08-06 15:04] marcocastignoli commented on #78
@russellballestrini @sardaukar @NorthFoxz @FredrikAugust This evening (CET) I will crete a group somewhere (suggestion about the platform? Better if it's open source, Telegram is ok?), and add you if you want, so we can speak easily.

[2018-08-06 15:05] nadavdrewe commented on #78
I have already built a good portion of this in c# using websockets, mongodb, javaScript. The platform is token based, the payment mechanism runs on eos. I have working demos and a working server, plus various nsservicebus microservices handling message queing.

[2018-08-06 15:09] marcocastignoli commented on #78
@nadavdrewe Wow! :open_mouth: That's a great news, can I add you to [the future group](https://github.com/open-source-ideas/open-source-ideas/issues/78#issuecomment-410739889)? Can you help explaining your projects?

[2018-08-06 15:12] FredrikAugust commented on #78
@marcocastignoli we already have a slack group, but I agree with your "the more open source the better" philosophy, so telegram is fine with me.

[2018-08-06 15:12] sikrinick commented on #74
I am an Android developer, so if there any design or, at least, some chat to talk about, I would be glad to.

[2018-08-06 15:12] FredrikAugust commented on #78
And before someone points it out, I know telegram isn't entirely open source

[2018-08-06 15:13] sorki commented on #14
Relevant https://github.com/glowing-bear/glowing-bear

[2018-08-06 15:13] meyer9 commented on #78
I have experience with blockchain projects and I'm interested in contributing. Please add me as well. I've worked on a fork of OpenBazaar, but I have some ideas of how to make it more accessible.

Basically, OpenBazaar forked the IPFS network for almost no reason. The OpenBazaar network could run just fine on the main IPFS network. AFAIK, OpenBazaar was waiting on https://github.com/ipfs/js-ipfs t

[2018-08-06 15:17] nickdima commented on #78
@marcocastignoli I suggest using https://spectrum.chat It's a good compromise between a chat app and a message board. Using something like telegram would make it difficult to follow the discussions. A thread based system should be easier to follow, and searchable as well.

[2018-08-06 15:18] marcocastignoli commented on #78
@meyer9 @Aeolun I don't like the idea to implement a cryptocurrency.

Thanks! I totally agree with you. I think that for each problem there is a different solution, a platform like this one is huge, lots of different technologies will be involved, I don't want to advertise it focusing on just some of them.

[2018-08-06 15:19] sorki commented on #50
The answer (at least for me) is [Nix](https://nixos.org/nix/) which is a language agnostic package manager and is already used to wrap number of language-specific ecosystems (haskell, python, lua, perl, php.. - check the lists here https://github.com/NixOS/nixpkgs/tree/master/pkgs/top-level).

It is also possible to install Nix on most distributions and I strongly recommend doing so as it solves a

[2018-08-06 15:25] meyer9 commented on #78
@marcocastignoli That sounds good to me. I do think cryptocurrencies need to play a role in the platform to be truly decentralized, however I do not think we should focus our efforts on using cryptocurrency as anything other than a P2P payment platform. We can also simply use already-existing cryptocurrencies. We'll chat about it later once the spectrum chat gets set up.

[2018-08-06 15:25] marcocastignoli commented on #78
@russellballestrini @sardaukar @NorthFoxz @FredrikAugust @meyer9 @Aeolun We have the channel https://spectrum.chat/nile

[2018-08-06 15:28] FredrikAugust commented on #78
Will check in later. On my way home.

[2018-08-06 15:29] FredrikAugust commented on #74
Wonderful, there should be a badge in the Readme that takes you to it :))

[2018-08-06 15:30] FredrikAugust commented on #74
I'll set up a channel for you now

[2018-08-06 15:31] FredrikAugust commented on #74
#nws-app is up and ready for use :)

[2018-08-06 15:34] jesser360 commented on #78
@marcocastignoli I would be more than happy to help with development.
I am currently working on my own e-commerce platform that integrates different APIs including package tracking, payment systems (stripe and blockchain), and my own structured back-end for managing orders.
I have also looked in depth into the development of decentralized e-commerce app built on ethereum and what that would look l

[2018-08-06 15:40] snajpa commented on #78
Hey guys!

I'm a cofounder of a nonprofit organization, which does exactly what this issue is asking for.

https://vpsfree.org

If you guys want, we can launch it all over the world - we are just about ready for that. Up until now, we've been running OpenVZ containers, but now we have our own stack based on NixOS + LXC + ZFS:

https://vpsadminos.org/

We are pro-opensource and fully transparent.

[2018-08-06 15:43] benwaffle commented on #14
I recommend contributing to [matrix.org](https://matrix.org) - it already has a large user base, supports file uploads, stickers, end-to-end encryption, is federated, and bridges to other networks including IRC. The client is at [riot.im](https://riot.im/app)

[2018-08-06 15:47] marcocastignoli commented on #78
@jesser360 Thanks a lot! Please join https://spectrum.chat/nile

[2018-08-06 15:47] nadavdrewe commented on #78
Yes, add me to the group. I fully agree - don't use blockchain, use
traditional infrastructure. I have telegram and spectrum. My spectrum
username: deathmachine. Send me a link to the telegram group and I will join

On Mon, Aug 6, 2018 at 4:40 PM, Pavel Snajdr <notifications@github.com>
wrote:

[2018-08-06 15:50] nadavdrewe commented on #78
Done. :)

On Mon, Aug 6, 2018 at 4:47 PM, Marco Castignoli <notifications@github.com>
wrote:

[2018-08-06 16:02] sorki commented on #14
@benwaffle while not strictly required it's probably better to run your own matrix bridges (if you care about privacy) which is quite similar to running ZNC to achieve IRC persistence. Both of them require VPS + taking care of the bridge/bouncer which is why people rather go to slack or irccloud (please don't recommend irccloud as it's not open nor free solution).

[2018-08-06 16:03] jjeffryes commented on #78
Adding in a system to support the exact use case described here should be entirely doable within OpenBazaar. These features are on the long-term road map, but if someone wanted to contribute to them before that, we'd be happy to help them do so.

Regarding support for web and mobile, we're working on both of those things right now. After we complete support for multiple coins in a single node thos

[2018-08-06 16:07] djmrr commented on #78
This sounds stellar!

[2018-08-06 16:12] deusofnull commented on #78
Plz add me to the group!  I would love to help!  Something like this would be a major challenge to run and operate, but a decentralized online shop is sorely needed to confront monopolies.

[2018-08-06 16:14] snajpa commented on #78
Here's a live API of vpsFree:

https://api.vpsfree.cz/

As I was saying, we really need to integrate with some blockchain, so that we could do the "cloudy" hourly billing for resources.

A lot more info about us is on our knowledge base:

https://kb.vpsfree.org/

I think what we do could serve the purpose of "open community-run cloud" just fine - we just didn't have the luck to attract anyone outs

[2018-08-06 16:16] meyer9 commented on #78
**Everyone can join here:** https://spectrum.chat/

[2018-08-06 16:17] placer14 commented on #78
Hi all. I'm a developer on github.com/OpenBazaar/openbazaar-go. We created OpenBazaar as an open and free protocol to support exactly the idea that you are attempting to create. We don't object to you starting anew, but at least take along some of the wisdom that we've developed over the past 5+ years working on this project.

tl;dr: OB1, the team working on OpenBazaar, would love to help.

Key ta

[2018-08-06 17:05] dnk8n commented on #78
A lot of proof of concept work can be done using chatops. For an example, see [libretaxi](https://github.com/ro31337/libretaxi).

Then I would like something like libretaxi to be rebased on a federated system like [matrix](https://matrix.org/blog/home/).

The way I understand it local nodes (stores) in this case would be responsible for infrastructure costs. Private data secured on the nodes own d

[2018-08-06 17:07] erlend-sh commented on #78
In a similar vein as OpenBazaar, there’s also
https://www.originprotocol.com

[2018-08-06 17:08] Chris-Fourie commented on #78
Hi there,

this is something that I have been thinking about for a while. I have also been following OpenBazaar and really like the break down they have just given.

I am keen to get involved.

What makes sense to me in terms of incentivising a group of local store owners to maintain an instance of a system like this would be to have the ability to create a federated network of instances that is w

[2018-08-06 18:11] soaxelbrooke commented on #30
I think this is a fantastic idea.

Re: security - I think this can be very effectively handled by role-based access control, like PostgreSQL allows.  This way, even if the end user is trying to access other's info, the rows simply don't show up to them.

[2018-08-06 18:15] dufferzafar commented on #14
KDE Konversation is an IRC client. It looks pretty standard right now, but they're working on a new UI: https://blogs.kde.org/2017/09/05/konversation-2x-2018-new-user-interface-matrix-support-mobile-version

It'll have matrix support too!

[2018-08-06 18:26] varunpant commented on #78
Love to help

[2018-08-06 18:29] FredrikAugust commented on #78
Please join the spectrum.chat @varunpant. We're currently in the middle of organizing, but we'll get together (all of us) and talk shortly

[2018-08-06 18:36] stealthyim commented on #78
Hey @marcocastignoli if you want a mobile decentralized communication integration, we'd love to work with you at https://stealthy.im 👍

[2018-08-06 18:54] anishkny commented on #63
[BigQuery GitHub dataset] could be useful for this

[2018-08-06 19:40] steckerhalter commented on #78
too bad it's driven by ads again. haven't you understood that ads are most despicable thing of our time. fuck ads and fuck those that build stuff with ads.

[2018-08-06 19:42] DrEloyd commented on #78
Is there an alternative to an ad based platform, perhaps adopt a co-op model to further drive the local first mentality?

[2018-08-06 19:42] FredrikAugust commented on #78
@steckerhalter please refrain from using language like that (read the CoC). Try to convey your argument in a constructive manner instead of just bashing on ads.

[2018-08-06 19:45] gagmaker commented on #78
Great idea!
However, please move away from github. It is microsoft now. They claimed multiple time they've changed, but really would you believe microsoft when they payed $7.5bln for the company evaluated just over $2bln?

[2018-08-06 20:56] mikaelbr commented on #55
Moved to https://github.com/open-source-ideas/meta/issues/6

[2018-08-06 20:56] #55 closed

[2018-08-06 20:57] mikaelbr commented on #59
Moved to https://github.com/open-source-ideas/meta/issues/5

[2018-08-06 20:57] #59 closed

[2018-08-06 20:58] mikaelbr commented on #67
Moved to https://github.com/open-source-ideas/meta/issues/4

[2018-08-06 20:58] #67 closed

[2018-08-06 20:58] mikaelbr commented on #76
Moved to https://github.com/open-source-ideas/meta/issues/3

[2018-08-06 20:58] #76 closed

[2018-08-06 21:42] elfeffe commented on #14
Like Rocket.chat?

[2018-08-06 21:43] rapsacnz commented on #78
Funnily enough, there is an Amazon competitor in New Zealand called thenile.co.nz. It is books focused, like Amazon was in the early days. I use it for all my books now.

[2018-08-06 21:47] nadavdrewe commented on #78
Guys guys guys... we need hours of chat and multiple diagrams. Bounded
contexts. Data models.. break down into layers. Break down into services.
You can't just extend and go. Don't rush into writing code without prep
work. Trust me.

On Aug 6, 2018 10:43 PM, "Caspar Harmer" <notifications@github.com> wrote:

Funnily enough, there is an Amazon competitor in New Zealand called
thenile.co.nz. It is b

[2018-08-06 21:49] FredrikAugust commented on #78
@nadavdrewe I don't think anyone's doing that. We are in the phase of planning, discussing et cetera. Nothing's being rushed.

[2018-08-06 22:44] marcocastignoli commented on #78
Hello everybody, we decided to move on Slack. Please join us using [this link](https://join.slack.com/t/nileorg/shared_invite/enQtNDEyODAzODQwOTUxLTIyMTJhZmZlM2ZlMTdlNzQ1YWNmNDEyYjQ5ZWY5YjAxM2E2YTkwOTliZGIyZDliYzdmNzQ5NjY5YTNjMWU0ZTU)

[2018-08-06 22:45] FredrikAugust commented on #78
Regarding the move to slack:

[2018-08-06 23:00] marcocastignoli commented on #78
Tomorrow evening starting from 18:30 CET we will start writing a collaborative version of the whitepaper, everyone is welcome, just join us on Slack.

[2018-08-06 23:06] derhuerst commented on #16
see also https://github.com/mafintosh/webcat

[2018-08-06 23:32] jonhearty commented on #78
Loved seeing how many people commented on this -- shows how big of a problem it is and how important a solution is to the world.

We're working on a lot of this at Origin Protocol where we're using Ethereum and IPFS to decentralize marketplaces with a specific focus on sharing economies and the fractional usage of assets.

Our JavaScript library, Origin.js (launching on mainnet in the beginning of

[2018-08-06 23:39] marcocastignoli commented on #78
@jonhearty No one will ever move all the forces into a single project because I think every technology fit a better scenario. But what about creating a showcase for all the markets? So you can see markets coming from OpenBazaar and others coming from your project and others again from other protocols?

[2018-08-06 23:52] jonhearty commented on #78
@marcocastignoli we're built on Ethereum, so hard for us to do this currently for projects built on other technologies, but philosophically I agree with your sentiment and this definitely aligns with what we're doing. We want to help standardize the way to represent listings on the blockchain and allow any marketplace to build on top of our protocols and developer tools. If everyone is speaking th

[2018-08-07 01:39] livoras commented on #78
It works. This is exactly the same thing we're doing in China and we've verified this model. This idea is
still young and the scale of users are growing fast.

[2018-08-07 01:41] milimetric commented on #78
Since you’re just bootstrapping this, you should really take a look at the SOLID platform that Tim Berners Lee is building at MIT: https://www.vanityfair.com/news/2018/07/the-man-who-created-the-world-wide-web-has-some-regrets/amp

It enables you to decouple customer data from the ecommerce service itself, and I think it would give your project a big competitive advantage in today’s more privacy-c

[2018-08-07 02:07] NorthFoxz commented on #78
@livoras do you have the demo website?
I'm interested and want to help, btw I'm located at Taiwan.

[2018-08-07 02:39] AdityaAnand1 commented on #78
If you need a kick-ass android client, then count me in! (Although, I'd be willing to lend a hand in pretty much any part)

I actually had exactly this same idea just a couple days back and I was thinking by becoming decentralized, the venture also loses it's profitability so I wasn't sure how to approach this. But decentralization is definitely the way to go and as FOSS, a strong enough community

[2018-08-07 03:40] livoras commented on #78
@NorthFoxz We base on WeChat mini-program, leveraging on social network app helps a lot.

[2018-08-07 04:14] milewski opened #79 "A extremely easy to use JSON2CMS"
## Project description

As a developer, i work for many clients, some of the projects i usually take are static sites generated thought webpack + webpack-html-plugin, vue, react, angular etc, these projects always require some sort of CMS where the clients can input the data, and this data get feed to the frontend by REST API endpoints or a static json with the whole data dumped to a dir where web

[2018-08-07 04:25] piedoom commented on #78
Very neat concept.  I'd encourage readers to envision this in areas outside of your home country.

I think the problem that should be most pressing is how to get people to use it.  Even without funding, there's ways to incentivize the use of a product.  I would find a more narrow demographic (e.g., villages and cities that have internet through phones but poor infrastructure) and market there firs

[2018-08-07 05:26] hapishyguy commented on #78
Add me in the discussion group too

[2018-08-07 05:37] knoxxs commented on #54
Me too

[2018-08-07 05:38] knoxxs commented on #53
This is also one of my most precious idea from about 10 years now. Have a lot of input on it. Let see if enough people are ready to give it a try then would love to discuss further.

[2018-08-07 06:01] lenormf commented on #78
Ignoring Openbazaar to create another Amazon controlled by you is a terrible idea

[2018-08-07 06:03] marcocastignoli commented on #78
@lenormf we want to collaborate

[2018-08-07 07:12] KOLANICH commented on #78
It looks like usage of the service is not private.

How about security? What if someone compromised one or all of these oracles (under an oracle here I assumme a setup with the software retrieving the info from the websites of central banks and putting it into blockchain. So what do you mean under "diverse"? Software in a single machine takes info from different websites? Different vms with the sa

[2018-08-07 07:40] ahopkins commented on #30
I think dgraph is already pretty close.

https://github.com/dgraph-io/dgraph

The problem with GraphQL by itself is that it still requires you to create a middle layer that maps queries and mutations to your dB schema.

Dgraph had all the mapping internally and uses a GraphQL like syntax. It exposes an http endpoint so you don't even need a backend per se. I'm not enough of an expert with it yet t

[2018-08-07 07:40] steckerhalter commented on #78
@FredrikAugust

yeah, well. if I need to explain why ads are bad I'm probably wasting my time. but there are many alternatives. make a co-op and let people donate.

[2018-08-07 08:44] jnv commented on #75
How does this idea compare to e.g. http://nativecss.com/ or https://framework7.io/ ? You just need to switch style based on user agent.

IMO backward compatibility and terser API.

[2018-08-07 08:53] jnv commented on #45
This is the point of [N-API](https://nodejs.org/api/n-api.html#n_api_n_api), though many native Node addons interact directly with V8. Also Ryan Dahl's [Deno](https://github.com/denoland/deno) has interesting architecture which, theoretically, makes engine replacement easier.

[2018-08-07 09:57] paulcmal commented on #78
@FredrikAugust Please ask questions if you have any, but stop patronizing people about how they should talk. Especially when we're talking serious stuff: @steckerhalter's comment was not an insult or a personal attack against anyone, it was a strong political statement against advertisement and all the scammers and traitors making money out of this industry.

Who cares about a Code of Conduct when

[2018-08-07 09:58] marcocastignoli commented on #78
@placer14 Did you receive my email?

[2018-08-07 10:00] FredrikAugust commented on #79
Very cool! If you have started it already, do you mind posting a link to the code? :)

[2018-08-07 10:01] marcocastignoli commented on #78
@paulcmal Hey Paul, this evening 18:30 CET we will try to write down together a plan on Slack. We could also discuss about the best way to communicate. I also don't like Slack, we should replace it.

[2018-08-07 10:08] Manikkumar1988 commented on #42
Does Coursera have exposed API for this?

[2018-08-07 10:14] Manikkumar1988 commented on #25
@karuppiah7890 is this still Active?

[2018-08-07 10:27] mikaelbr opened #80 "Twitter bot for Open Source Ideas"
## Project description

It might be difficult to track new projects being posted in this repository. One way this could be improved is by having all new issues in this repo be tweeted to a Twitter account.

There might be some existing technologies for this that I'm not aware of, but my small initial research didn't uncover anything. Please let me know if you know of any.

## Relevant Technology

[2018-08-07 10:30] KOLANICH commented on #42
https://github.com/coursera-dl/coursera-dl/blob/master/coursera/api.py

[2018-08-07 10:32] FredrikAugust commented on #78
@steckerhalter You don't need to explain why ads are bad, I think we all understand that the use of ads has negative sides. Personally I do not like, nor condone, the use of ads, but this is not my project, and if I disagree, I can form an argument as to why I think ads should not be used. What I was referring to is your first comment, where you just say "fuck ads and fuck those that build stuff w

[2018-08-07 10:40] marcocastignoli commented on #78
@snajpa your vote count, but it's better if we speak about these kind of stuff this evening (or after this evening) so we can use a shared document to propose ideas.

[2018-08-07 10:41] FredrikAugust commented on #80
Good idea! 💡

[2018-08-07 10:50] FredrikAugust commented on #54
Hop onto the slack channel and discuss it! You can find a link in the README!

[2018-08-07 10:53] FredrikAugust commented on #75
Fair point @jnv, thanks for the feedback :)

[2018-08-07 10:55] FredrikAugust commented on #25
@manikkumar1988 based on the commit history, I'd say no. If you want to give it a go, let me know, and I'll help as best I can :)

[2018-08-07 11:00] Peter42 commented on #80
https://ifttt.com/ should be sufficient

[2018-08-07 11:01] FredrikAugust commented on #80
Good idea, but not nearly as fun ;)

Btw, is ifttt OSS?

[2018-08-07 11:02] mikaelbr commented on #80
@Peter42 Good point. Though, maybe IFTTT isn't the best if we want shared ownership/maintainability. Maybe this is so simple we don't need that.

[2018-08-07 11:02] ehamamrah commented on #80
I don't see moving to Twitter as a good idea, Github is better. At least, people can have a look at the repository after years.
I would recommend working on a platform to publish the new ideas in collaborating with this GitHub repo.

[2018-08-07 11:06] paulcmal commented on #78
I did not provide a single argument why ads are bad. Like i said, i would be pleased to expose actual arguments if some people want/need them, but i did not. My comment is not more constructed than the original was.

Will do, thanks :)

Sorry, i thought otherwise. I felt like the original post had a valid point which you tried to silence with legalese blabbery. Hope that cleared out the misunderst

[2018-08-07 11:26] mikaelbr commented on #80
@darshkpatel I guess you could use something like Zeits Now for free.

[2018-08-07 11:28] FredrikAugust commented on #78
I took this as an argument for why ads are bad. Correct, you're not explicitly saying what the downsides are, but I'd say it definitely outlined some of the social and ethical ramifications of advertisements and capitalism (though they are in several ways yin and yang) ("buying your way into people's minds").

Regardless, I'm glad we resolved this dispute so we can continue building cool open sour

[2018-08-07 13:27] vmchale commented on #29
So naturally you would use... `node`.

[2018-08-07 13:50] Timmmm commented on #62
Funny definition of "little work".

[2018-08-07 14:26] remram44 commented on #80
You might be able to abuse CI to do this, e.g. set up Travis/GitLab/... to run a task every day at 10am, and go over the issues and tweet them at that time.

The code for it (and CI configuration) do not need to be in this repo, and could be in `open-source-ideas/twitter-bot` or similar.

[2018-08-07 14:30] Thrilleratplay commented on #22
[SchemaSpy](https://github.com/schemaspy/schemaspy) is the essence of the idea I had.  @Nzen
 Thank you.

[2018-08-07 14:30] #22 closed

[2018-08-07 16:17] mikaelbr commented on #80
I think using [Webhooks](https://developer.github.com/v3/activity/events/types/#issuesevent/) and a tiny API layer on Now (given that it's Node.js) is less work, more flexible, and allows for continuous tweets instead of periodic updates. The API layer needs one HTTP POST handler, create tweet text from the issue title and post a tweet. If one want, this could also extend to work on different repo