[2019-07-08 15:59] SaiHarshaK commented on #150
@KOLANICH for the wget-stub, i made it so that in case it's not able to parse the cmd to aria2c equivalent, it would execute wget instead.

[2019-07-08 17:59] Roxxas456 commented on #188
Since the User is blind or has severe visual impairment, Settings (like Output through voice or haptic feedback) and switching to camera mode would be controlled via voice?

[2019-07-09 05:06] sunn-e commented on #188
That will not be our primary focus. Starting an app is very easy thing. I have a relative who can use his old Samsung android phone very well despite being completely blind. He uses "talkback" mode under accesibility setting option.  I found his cool article (https://www.insider.com/how-blind-people-use-smartphones-2017-2)

[2019-07-09 08:10] Roxxas456 commented on #188
Nice that sounds great. I have thought about the way the app communicates collision.
I think it should work like a car assistant (beep or vibrate when you are about to hit someone)
Because currently, I cant imagine how the voice would work if a person walks diagonal since afaik tensorflow doesnt support guessing the direction a person walks?
Also, there are some problems with **voice as feedback**

[2019-07-09 08:36] anshulxyz commented on #188
This is a very interesting project.

I think a regular interval of approx 5 seconds, saying "keep walking straight" would be nice than total silence until something occurs since it'll tell the person that:
1. He is on the right path
2. The path in front is clear
3. And the software is working

[2019-07-09 20:29] sunn-e commented on #188
You both are correct. You guys understood what I'm trying to do. Should we begin? At least we can start with a basic Tensorflow api Android app. As time passes, we can come up with some novel approaches or train with our own dataset. I'm currently working on two research papers based on object detection, that is the reason I thought my resources might be useful. I have all major cloud platforms to

[2019-07-10 04:10] ItsNickBarry commented on #187
@jeffslofish Looks very good so far.

[2019-07-10 04:57] anshulxyz commented on #188
I am interested. Currently working on some projects at work. One of them involves object detection in images, we've been using YOLOv3. I would like to learn about the depth detection, such as how far the person in front of us is, is he in the colliding distance. Or at what speed is he coming towards us.

[2019-07-10 14:48] Roxxas456 commented on #188
I'm interested aswell but quiet busy till the end of next week

[2019-07-11 08:06] sunn-e commented on #188
Great, I have worked on YOLO too. We can consider it. Some research work is needed though. Google scholar may help.

[2019-07-11 08:08] sunn-e commented on #188
No issues, We can start whenever you get time.

[2019-07-12 11:45] den32ds commented on #10
But Script12 and Victor Mono don`t have available sources

[2019-07-14 21:13] KOLANICH commented on #189
I don't think it is a good idea.

1. navigator app would have to listen. This means mic permission and privacy issues.
2. navigator app would have to detect if people are speaking and detect the smarker phrase for repeating. Means constantly doing inference on sound. It is a power consumption and heat dissipation issue.

3. and these all for what? A person driving a car should pay the most of atte

[2019-07-14 21:18] KOLANICH commented on #150
Thanks! Let's do the future discussion in the projects repos.

[2019-07-14 21:18] #150 closed

[2019-07-14 21:27] KOLANICH commented on #188
It seems to be of comparable complexity to a self-driving car.

[2019-07-15 00:45] ItsNickBarry commented on #189
@KOLANICH I'm not convinced it's a good idea, either.  It's a minor UX improvement that existing providers should maybe consider, but probably doesn't justify building an entire navigation application.  However, to address your points:

1.  It's only a privacy concern if the audio is uploaded to a server.  This would not be necessary for the specified functions, and users could verify that there i

[2019-07-15 06:30] KOLANICH commented on #189
1. One cannot make sure that the app corresponds to the source unless he has built it on a trusted machine. One will have to constantly verify app integrity after that.
2., 3. you are probably right.
<details>
<summary>offtop</summary>
It was not about ethical implications. It was about that it may not worth it. Some drivers speak actively. Some drivers are concentrated on driving. Most of drivers

[2019-07-15 08:52] sunn-e commented on #188
@KOLANICH We will work in increments.

[2019-07-15 09:59] anshulxyz commented on #188
So, how do we get started?

[2019-07-15 17:37] jsbroks commented on #188
I have background in object detection, I can help out if needed.

[2019-07-16 05:34] sunn-e commented on #188
thanks @FredrikAugust  for assigning labels. That should summarize what we should be working on.

[2019-07-16 05:35] sunn-e commented on #188
Great. What have you used for object detection?

[2019-07-16 05:39] sunn-e commented on #188
I am creating a GitHub repo for time being.
I will send invitation to join the organization to everyone that has contributed to it.
I  am thinking of creating a slack or gitter to keep up with each other.

[2019-07-16 06:46] sunn-e commented on #188
Please join the chat room. :) https://gitter.im/The-Amba-Project/community?utm_source=share-link&utm_medium=link&utm_campaign=share-link

[2019-07-18 22:12] nishitmehta1 commented on #156
This use case is already satisfied by https://www.justwatch.com/

[2019-08-02 18:55] 24hari1998 commented on #188
Hey guys I am also interested in the project , I got some experience in Machine learning but anything i can learn on the fly and do it if needed. I would like to contribute as i am planning to do a similar project for my college as well.

[2019-08-05 11:05] ludwigbald commented on #189
I agree that this problem exists. It has previously been adressed by:
* showing directions on screen
* The option to play only important commands (Google maps)
* Automatically turning down media volume
* Adding a "repeat last command" button on the tactile interface

I haven't seen a timing manipulation and I'm not sure how much good it would do.
Politeness is valued differently in different cultu

[2019-08-10 17:39] jarble commented on #165
Alternatively, it might be possible to automatically translate some Sympy functions to JavaScript using [JS2Py](https://github.com/PiotrDabkowski/Js2Py).

[2019-08-12 07:05] ShubhamTatvamasi commented on #113
Can someone tell me how to block all these paths using nginx?

[2019-08-13 20:03] aquibbaig commented on #14
What do you make better than Irssi(for terminals)? It provides everything already

[2019-08-19 07:32] coma123 commented on #182
I'm interested to contribute in this project. Is it started?

[2019-08-19 09:10] anshulxyz commented on #11
SHould update the link of the project in the [README.md](https://github.com/open-source-ideas/open-source-ideas#mysticmodelibreread) as well.

[2019-08-20 13:03] KOLANICH opened #190 "EMF screenshot app for Windows"
## Project description

Most of screenshot apps capture raster images. But the stuff drawn on screen is essentially vector. There are some vector screenshot apps for Linux, but I haven't managed to google one for Windows. It's quite surprising since MS has a file format which is just a series of calls to WinAPI do draw something on a screen/printer.

The API for EMF creation creates an own device

[2019-08-21 18:44] KOLANICH opened #191 "Morphable and tweakable hashtables/dictionaries for python"
## Project description

I am writing a python lib for data processing, cleansing (includes aggregating separate datasets and detection anomalies). I have already implemented preprocessing framework. The data are preprocessed, to each row an identifier (a tuple of strings) is assigned. Then we want to lookup the data by any prefix fast.

But as I understand there are some issues.

A naïve way to do

[2019-08-22 16:52] efx commented on #46
Couple extra links for mining PDFs from a security perspective:
1. Didier Steven's [excellent pdf-parser.py](https://blog.didierstevens.com/programs/pdf-tools/) for low level probing.
    i. Some folks are [building automated workflows](https://cincan.io/tools/pdf-tools/) for malware analysis of PDFs using them
2. Though not Python, Phil Harvey's [exiftool](http://owl.phy.queensu.ca/~phil/exiftool

[2019-08-22 17:01] remram44 commented on #191
It seems to me that you want a trie? Not sure, your example is not very readable (what is 'key'?)

This should be easy to implement, and you can use something like Cython to make it faster if you need to.

Because it's a common data structure, there are also existing libs for that, but I'm not sure how efficient or complete they are ([marisa-trie](https://github.com/pytries/marisa-trie), [python-t

[2019-08-22 20:13] KOLANICH commented on #191
Hmmm.., probably I really want it! Thank you!

In my case it is usually a string. A `multikey` in my case is a `tuple` of keys..

[2019-08-22 20:15] #191 closed

[2019-08-23 12:03] schasse commented on #85
not 100% stable, but i'm using this for the last months
https://github.com/schasse/tmux-easymotion

[2019-08-24 11:43] AronSchoffer opened #192 "Standardized guide-website with reputation system"
## Project description

A [*Wikipedia*](https://www.wikipedia.org/)-like website where users can read and submit guides for any subject. Using a [*Stack Exchange*](https://stackexchange.com/tour)-like reputation system, the best guides rise to the top and can be edited by anyone with enough reputation. Ensuring higher quality, up-to-date guides.

### Reputation system
If you don't know what a repu

[2019-08-24 18:47] remram44 commented on #192
Sounds like WikiHow and similar? It doesn't seem like there should be multiple such websites (it would just make it harder to find guides) so I'm not sure if there's any benefit in this being open-source 🤔

[2019-08-25 03:46] Maikuolan commented on #192
Not sure if it's quite what you're going for, but on the surface, it sounds very similar to [MediaWiki](https://www.mediawiki.org/wiki/MediaWiki).

[2019-08-25 04:11] remram44 commented on #192
MediaWiki is a generic wiki system, it doesn't have author reputation. However it might be enough for this and in fact already exists in the form of [wikibooks.org](https://www.wikibooks.org/)

[2019-08-25 09:09] AronSchoffer commented on #192
Thanks for the feedback, appreciate it!
I'll take a bit to think about it and look into Wikibooks before I'll respond though.

[2019-08-25 09:55] Manishfoodtechs commented on #192
I like your idea of mix. I may agree to fund your project if it is going to
be like 'knowledge base' kind of depository. Further this knowledge base
should get added to any website by API as their knowledge base.

What I mean is described in below example.
Suppose someone is starting a website hosting business then he can get an
API from the project to Integrate free knowledge base. Just check kno

[2019-08-25 12:03] AronSchoffer commented on #192
@remram44 and @Maikuolan:
It seems Wikibooks is indeed what I was going for. I'll look into it further but for now, we should probably close this issue right? (again, I'm pretty new at all open source stuff)

[2019-08-25 12:06] AronSchoffer commented on #192
@Manishfoodtechs I don't really understand what you're saying but it seems like it would be a whole other project. Maybe you should open a new issue with your idea so we close this one.

[2019-08-25 12:06] Maikuolan commented on #192
I've been in open source for a while, I guess (relatively speaking), but I'm very new to any kind of participation in this repository (open source ideas), so I can't say much on that note yet. I'm sure someone else will pipe in soon enough though. :-)

[2019-08-25 12:08] Maikuolan commented on #192
I agree about this. Idea is definitely interesting, and I can see potential for it, but it's not really quite the same as the original idea brought up by this issue.

[2019-08-25 20:58] KOLANICH opened #193 "A unified interface for interaction between IDEs, build systems, compilers and linkers"
## Project description

There are many build systems for C++. All of them are crap. And all of them have problems with the way compilers and build systems interact.

* different compilers have different flags for the same functionality. This causes many-to-many problem when all build systems have to implement code to handle each compiler.
* doing the same work twice.  There are many compilation co

[2019-08-26 00:09] remram44 commented on #193
Please don't be so negative. A lot of build systems have tried to address exactly that, like CMake. Consider pointing out specific improvements or explaining why contributing to those projects is not a good option, please.

You approach seems to depend completely on the hope that every tool will adopt a single standard. I don't think this is reasonable. Having plugins that can translate from this

[2019-08-26 06:20] KOLANICH commented on #193
Contribution to CMake is really not a good option: they have put it into own GitLab with reCaptcha. Also noone really wants to write CMake modules because CMake language is terrible. But CMake has some properties without which any other system is unneeded:
1. it doesn't require python or VM
2.supports multiple compilers

There are some quite nice build systems without python or JVM, like bake, but

[2019-08-26 22:20] KOLANICH commented on #193
In fact the main problem here is many-to-many and lack of introspection. Replacing processes with threads and reusing stored state is just a nice side effect. The problem here is that it may require some redong of what how compilers work, but I don't feel like it is very extensive. Additions require to just parse the blob, iterate over the jobs in it, start a thread for every job within a limit, w

[2019-08-29 21:57] solo474 opened #194 "Plug : A plug and play interface for any frontend code base"
## Project description

This is an electron desktop app, which can plug and play any front-end code base, by managing Nodejs, npm or yarn versions.

## Relevant Technology

Electron
isomeric-git
styled-components
Nodejs
yarn

- [ ] Beginner - This project requires no or little prior knowledge of the technolog(y|ies) specified to contribute to the project
- [ x] Intermediate - The user should have

[2019-08-30 00:59] remram44 commented on #194
What does "plug and play" a code base mean?

[2019-08-30 08:49] solo474 commented on #194
Provide A url of your repository
Click on  "Create Workspace"

based on socket.config.js file in the repository

It is like a CI configuration file but for manual human workflow

It will clone repository
it will download appropriate NodeJs version binary of that operating system.
it will download appropriate version of "yarn"

Afer completing successfully

Provide following buttons to workspace
St

[2019-08-30 08:54] manginav commented on #188
Hey I have experience in backend apis if needed help please add me to the project

[2019-08-30 15:06] remram44 commented on #194
So really it does `git clone ... && nvm use && npm install && npm run`?

[2019-08-30 17:27] solo474 commented on #194
In your command you did not specified non version. And you down loaded nvm before executing the command

[2019-08-30 17:41] remram44 commented on #194
I'm just not sure people would use this. Wouldn't it be more useful as an IDE plugin, rather than a standalone GUI?

[2019-08-30 17:52] solo474 commented on #194
IDE plugin is another option. But it is arguable as how many ide plugins. IMHO it worth to bring a try and see how many people uses it.

[2019-08-30 17:55] roymoran opened #195 "Build something awesome: A platform for developers to meet, build, and ship software together."
### Update:
We've started working on this project on [slack](https://join.slack.com/t/project-unic0rn/shared_invite/enQtNzIwMjQ0NDMzODQ2LTdlNDA1MDViMTMzOGYzYzJjM2Q4N2ZmMjQyYWQxNjBiMjkxOTk4MGE0MmZmZTZkMTM1ZTliMmYyYjU3ZjdjMTM). I'm on there as roy - DM me if you'd like to contribute.

## Project description

This idea is partially inspired by this initiative, I would like to build a web app that let

[2019-08-30 17:57] roymoran commented on #195
Feedback or additional ideas are welcomed!

[2019-08-31 04:06] rakzhodekams opened #196 "World Cleaner"
For **Educational** Proposes Only - Not only for Children

~ In a Monkey world everything would work like... ~

    ~ Monkey cannot impose his will of Power but can motivate Yours!!

### Intention:

    Learn by Educating Your self

Animated Example: [The Condition of Illusion](https://odicforcesounds.github.io/The-Condition-of-illusion/)

"Each Positive Contribution that Benefit other Living Bein

[2019-08-31 04:47] rickywid commented on #195
Looks like a good starting point. There are some areas we need to discuss with the rest of team such as:
**How are we going to retain members and keep them engaged**
This topic has been an issue we've been trying to tackle since the early stages of PU. We already tried some methods such as weekly-progress reports, team-lead calls, PU admins providing support to other team-leads etc....

**There sh

[2019-08-31 22:30] mittalyashu commented on #195
I really love the idea, but most of the time when people start to create this kind of project they just end up in creating a slack community.

### Suggestions

* Connect with GitHub/GitLab/BitBucket for login since it's all about developers
* Use GitHub/GitLab/BitBucket APIs to fetch open source project _(title, description, tags, languages)_ and show them on website based on used interests.

[2019-09-01 13:35] amirouche commented on #163
@KIRA009 Hello, did you try something?!

[2019-09-01 19:46] KIRA009 commented on #163
@amirouche, really sorry I totally forgot about this. Will check your repo first thing in the morning. Can you make a guide as to how to run it locally?

[2019-09-01 19:49] amirouche commented on #163
@KIRA009 This : https://github.com/amirouche/qadom#how

[2019-09-01 19:56] KIRA009 commented on #163
Thanks, and can you brief me on what you have done till now?

[2019-09-01 20:24] amirouche commented on #163
I put together the peer-to-peer network component and there is an web ui to
post question on the network.

[2019-09-01 22:55] roymoran commented on #195
Your suggestions make a lot of sense. In this case we should be able to integrate some of these apis like GitHub and Slack.

[2019-09-02 04:31] mittalyashu commented on #195
What do you think about the tech stack?

My go to tools would be: Node.js, Vue.js, PostgreSQL/MongoDB, ExpressJS.

[2019-09-02 05:43] KIRA009 commented on #163
Do you have discord? I would like to continue the conversation there

[2019-09-02 13:38] FredrikAugust commented on #194
Why would you want to specify the `yarn` version? I've never heard of a situation where you wouldn't simply want the newest version.

[2019-09-03 01:44] roymoran commented on #195
@mittalyashu We've started the planning, design, and some of the development. Most of us are devs - so happy to get a hand on design and dev work too. here's what we're thinking for the tech stack.

- Frontend: Gatsby, React, TypeScript.
- Backend: C#/.NET Core, EF Core, MySQL, Slack/Discord API

[2019-09-03 01:46] roymoran commented on #195
We're working on this on slack. If interested join [here](https://join.slack.com/t/project-unic0rn/shared_invite/enQtNzIwMjQ0NDMzODQ2LTdlNDA1MDViMTMzOGYzYzJjM2Q4N2ZmMjQyYWQxNjBiMjkxOTk4MGE0MmZmZTZkMTM1ZTliMmYyYjU3ZjdjMTM) and DM me. I'm on there as @roy.

[2019-09-05 16:53] losnol opened #197 "New Web Broswer with new paradigm"
## Project description

### Intro:
Today, the browsers are basically technologies build upon HTML. While it's great and have a robust support and standards, we're are currently building new concepts upon an old base.

New Web frameworks use JavaScript (or alike ) to create some way to use the DOM. Somethings it can get very nasty and difficult to build huge modular web projects/interfaces based on

[2019-09-05 19:00] KOLANICH commented on #197
Do you mean custom tags? They are already implemented and widely adopted (for example by Google).

[2019-09-05 19:05] KOLANICH commented on #197
It seems there is no need of classical OOP in CSS. Could you mind a use case?

[2019-09-05 19:10] KOLANICH commented on #197
I don't quite understand. Do you mean some declarative non-Turing-complete framework  for AJAX applications? Something like html but driven by the data got from websocket without any bit of server-supplied JS? Like a mix of IRC and X11, where server takes role of X-client and a browser tab takes role of X-server?

[2019-09-05 20:23] solo474 commented on #194
I have an experience in past that a defect not reproducing due to latest version in developer machine.

[2019-09-05 23:23] losnol commented on #197
Hello there. Thanks for the reply!

Oh. My bad. I was meaning something different.
On web development in HTML, we use some tags with attributes and something inside.

For example:

`<li data-type="veg" data-distance="2miles" data-identifier="10318" data-owner-name="someName">`

My idea was to abstract this and separate concepts. I think it'll be clear if I present some pseudo-code (just a initial

[2019-09-05 23:27] losnol commented on #197
I usually can't override data the CSS on some children of a tag. Sure, sometimes is dangerous, but I think it can have a better approach by heritage, with some rules.  Maybe some simple OO concepts, that uses some composition or heritage. But maybe I can work around with another ideas too. It was what I tough initially.

[2019-09-05 23:32] losnol commented on #197
I wasn't thinking by this perspective, but it's quite interesting.
My idea is, let's say (very simplified), generate byte-code build for the pages and put on the server. This is what I'll get with a REST GET from the server. And then on my browser I do the logic to get back the data and render the page on the browser.

[2019-09-09 11:27] sunn-e commented on #188
I looked into this and this really is of level of an autonomous vehicle. I think I underestimated the problem.

[2019-09-09 11:45] wmertens commented on #188
Some blind people have learned to navigate with echo location, they click
their tongue and they listen for the echoes. Maybe a simple app would be to
generate a continuous series of clicks and allow changing the clicks with
your thumb on the screen (volume, frequency)

Wout.

On Mon., Sep. 9, 2019, 1:28 p.m. Sunny Dhoke <notifications@github.com>
wrote:

[2019-09-15 06:49] sunn-e commented on #188
@wmertens I recently saw a samsung ad where there wwas an app called "good Vibes". That was a good idea too. I wonder is there any open source alternative.

[2019-09-15 14:53] pearl2201 commented on #188
I don't think we need a depth detection. You can use a simple sensor like hc sr04 sensor to check if something in front. I think about blind staff (Arduino + hc sr04 sensor+ buzzer), it detect a obstacles or stair and alert by some "beep" sound.

[2019-09-16 02:09] ItsNickBarry opened #198 "Spoiler-free fictional universe wiki platform"
## Project description

When engaging with a literary or cinematic fictional universe over a long period of time, it's easy to forget certain details that become important later.  It's not as easy to look up those details on the internet without learning too much: wikis, the most reliable sources of such esoteric information, invariably contain spoilers.

I propose a wiki platform which allows use

[2019-09-16 09:44] sunn-e commented on #188
@pearl2201  that sounds like a good project

[2019-09-23 14:38] augustohp commented on #91
I am [a bit late][1] to the party but I think this solves the issue: https://github.com/augustohp/ship

[1]: https://twitter.com/augustohp/status/1169247744017321984

[2019-09-25 20:08] VictorioBerra commented on #127
Thats not free @aksappy

[2019-09-27 05:37] KOLANICH opened #199 "Speech synthesis middleware for *nix OSes"
## Project description

It seems like *nix OSes lack anything similar to SAPI5. So it is proposed to implement it.

The arch is ifluenced by the way it is done for OpenCL:

* The main shared library implementing the common interface and ICD (Installable Client Drivers, the term is borrowed from OpenCL spec) loading
* separate shared libraries implementing the interface
* filesystem location where

[2019-10-08 19:00] Conan-Kudo commented on #50
Isn't this basically what [PackageKit](https://github.com/hughsie/PackageKit) does?

[2019-10-08 23:12] KOLANICH commented on #50
@Conan-Kudo, thanks for the info. PackageKit definitely does a part of the job: it provides unified user interface. But it seems it doesn't act as a middleware.

I mean the following. In order to install a package correctly into a distro we cannot use package managers as black boxes doing installation. Quite the opposite, installation should be done by something that can do it. In our terminology

[2019-10-09 20:10] roymoran commented on #199
Cool project, thanks for sharing. Is there an active slack/discord channel where you're working on this?

[2019-10-09 21:29] KOLANICH commented on #199
I am not working on this. I have enough work to do even without that.

I neither use slack nor discord. I guess an IRC channel should be better. But currently it doesn't worth.

[2019-10-12 20:17] james2mid commented on #196
It's interesting getting a peak into your mind with your website and manifest etc, but I don't really understand what the purpose of the project is?

[2019-10-14 08:15] james2mid commented on #196
Apologies, I've only just started reading through "Principles of this idea" and I'm liking what I see.

[2019-10-14 11:18] FredrikAugust commented on #195
This has been completed!

Check out the product over at [projectunicorn.net](https://projectunicorn.net/), and the source code at [projectunic0rn/pub](https://github.com/projectunic0rn/pub).

Amazing work everyone who contributed to the project! I can't wait to see the product evolve and grow :)

[2019-10-14 11:18] #195 closed

[2019-10-14 14:44] larsonnn commented on #91
never to late

[2019-10-14 14:55] larsonnn commented on #197
Are you willing to push in the market or do you want to try something different and maybe get some ideas and solutions to support the existing technologie.

[2019-10-14 16:27] losnol commented on #197
Hello!
I'm thinking on the second option by now.
Maybe, if this goes well, I'm into developing something new for the market.

[2019-10-14 17:29] amirouche commented on #197
I sympathize with the background story behind this idea

YAML is not meant to write big document [refernce needed]. It is good for small configuration files and anyone that had to deal with Ansible (gasp) will agree.

Really, JSON is not easy to read nor to write by hand.

Maybe microxml is what you are looking for https://www.w3.org/community/microxml/

In the strict sense of MVC, the view does O

[2019-10-14 17:36] amirouche commented on #197
I will add that calling that a "new paradigm" is bold claim when the surface is very similar (client-server architecture, HTTP network protocol, wanna-be MVC approach).

I sympathize with the background story behind this idea. But the proposal is not enough. It is not clear what it must achieve.

Does aim to cancel legacy cruft and backward compatibility?

My idea is to rely on peer-to-peer tools

[2019-10-14 17:37] amirouche commented on #163
@KIRA009 Sorry, I prefer not use discord. look up my email in a git repository.

[2019-10-15 09:11] anshulxyz commented on #188
Google Maps now helps visually impaired people cross the street and stay on course

https://www.theverge.com/2019/10/10/20908882/google-maps-better-walking-directions-help-people-visual-impairments

[2019-10-15 12:14] losnol commented on #197
That's a point. I'm still thinking what will be the best choice. The idea is to write clean and simple code, with some complexity and can be manageble by the browser engine.

I agree, but I'm trying to make something a little familiar too for the actual devs. This is subject to change and defined better with time.

Well... I think that it have to be done something to styling, but it's complicated.

[2019-10-15 12:18] losnol commented on #197
Maybe I was too optimistic or exaggerated. But I see some new ideas and maybe a path to achieve.

I was thinking in make the legacy compatibility as a long term solution. But in a distant future, maybe it won't be needed anymore.

[2019-10-15 12:28] sunn-e commented on #188
https://github.com/aamba

[2019-10-20 19:38] cloudson commented on #91
It seems that we have one less idea on this repository 😄.
Thanks for everyone who joined the discussion and @augustohp for make it happen.

[2019-10-20 19:38] #91 closed

[2019-10-22 23:52] xenotropic opened #204 ""All The Words That I Know" game"
## Project description

This is based on [a facebook post by author-editor Nathan J. Robinson](https://www.facebook.com/njrobinson?__tn__=%2CdCH-R-R&eid=ARAN9ochWGYkn1RDEgqGbBkfeTYOQqHrJ5TCA5nhHh_9PXYZFUwN8pSwTtLnceWnzAgJ_FDrJA6hjf6j&hc_ref=ARQ0a54wcpHiZ1Dj-sy-nsvmKuYxg4ixNlL-Sn5t8E83ceMfs_nIALVYaO43iUqsjvA&fref=nf), relevant extracts below:

Your mission, should you choose to accept it, is to cre

[2019-10-23 02:40] remram44 commented on #196
I read most of the pages but still have no idea what this is about. Can you add a description (in English) of what the finished product is supposed to be about?

[2019-10-23 02:48] remram44 commented on #197
This seems like you need to put more thought into this before you post this as a project idea. It is really not clear what you think you are doing. You are describing things that feel like they could be implemented as a JavaScript framework, running on current browser technology unmodified; in fact it reminds me of [Dart](https://dart.dev/).

If you don't need help and are just "thinking out loud"

[2019-10-23 02:49] remram44 commented on #198
This seems like a good idea! There are plenty of wiki platforms and the like for fictional universe, but you'll get spoiled every time. The data on when things happen/are discovered is usually there, it would just need some software support to not show you those spoilders :sweat_smile:

[2019-10-23 02:59] remram44 commented on #199
Sounds like [speech-dispatcher](https://freebsoft.org/speechd) ([github](https://github.com/brailcom/speechd))?

[2019-10-23 04:57] KOLANICH commented on #199
Thanks, it is!

Here is its repo: https://github.com/brailcom/speechd

[2019-10-23 06:49] amirouche commented on #197
Also see https://en.wikipedia.org/wiki/Solid_(web_decentralization_project)

[2019-10-23 19:47] aakashsinghbais opened #205 "Open Computing - Skynet sans Intelligence"
## Project description

To create a system to harness the computational power of idle computing devices like mobile phones and computers volunteering in this system. The idle computational power will be used towards helping build a global virtual computer with the total processing power equivalent to several super computers and will be used to help the scientific community/organisations lacking su

[2019-10-24 01:15] KOLANICH commented on #205
What will make people to spend own money and battery charge on that?

[2019-10-24 02:43] aakashsinghbais commented on #205
Money and battery charge are not a problem for everyone. For example educational institutions often have computer labs with hundreds of computers which remain switched on 24×7 (unless a student is responsible enough to switch them off after using). So, since we don't expect these computers to sleep and dream at night as we do...what do they do when nobody is around to use them? Well, they keep whi

[2019-10-24 03:08] remram44 commented on #205
[BOINC](https://github.com/BOINC/boinc) is open-source (GPL)

[2019-10-24 03:12] #205 closed

[2019-10-24 13:16] xbais opened #206 "Universal Book Link/Map"
## Project description

**BACKGROUND:** The rate at which humanity progresses depends very much upon how efficiently the next generation adopts the knowledge and ideas of their ancestors. But with new knowledge being generated each day, and new books of varying qualities, writing styles and languages being written everyday, it is very important to organize all that knowledge in a systematic way, s

[2019-10-24 19:17] KOLANICH commented on #206
Closely related: #53

[2019-10-24 19:32] KOLANICH commented on #205
turned on doesn't mean consuming the same power when 100% utilized. Modern computers are interrupt driven, most of the time they sleep. You can approximate the consumed power by heat dissipation. When computers compute they are hot. When they are idle the are pretty cool.

[2019-10-25 01:05] aakashsinghbais commented on #205
Yes, I agree. Thanks.

[2019-10-28 13:08] losnol commented on #197
Hello!
I have a good idea of where to start. I have the Technologies. Further requirements analysis should be done. But, by the Project nature and the idea, I think it's better to do a more definitive planning during the developing.
To summarize, at starting point, it should focus on creating an environment in Groovy with the frameworks I pointed. Then focusing on mapping W3C standards on the init

[2019-10-29 13:36] YaMo97 commented on #204
This could be a nice simple game. Some similar games are Scramble, Hangaroo, Jumble words, etc.

Talking about the technical aspect of this game, we can use a Tree Data Structure to store the inputs of the user, which makes it easier and optimal to check for duplicates with linear complexity (O(n)), similar to bucket sorting.

This could be also made a Mobile Game, with a decent childish UI and UX

[2019-10-29 13:40] YaMo97 commented on #204
Moreover, we can introduce a timer, to make it more challenging, which when runs out resets the score to 0.

[2019-10-30 16:47] james2mid commented on #53
This is a fantastic idea! Count me in!

We could also expand this to eventually scrape the Internet and organise information automatically. I have a feeling this is already being done rather successfully by companies such as Google and IBM. It's a shame it's not open source.

[2019-10-31 10:43] Kreijstal opened #207 "Terminal program that takes description of character and searches for character/emoji/cjk"
## Project description
Imagine you want to search for an emoji but you dont want to boot up a GUI terminal program or browse the web but can get directly search through description or browse the character code from the terminal

could work like this:

$ unicode --emoji sushi
:sushi:
$

## Relevant Technology

could be a bash file or something more advanced
## Complexity and required time

### Comp

[2019-10-31 11:07] jri-sp commented on #207
Something like this https://github.com/b4b4r07/emoji-cli ?

[2019-10-31 11:11] Kreijstal commented on #207
That doesn't return the emoji just the `:emoji-name:` but yes, ideally it would be nice if you could somehow interact with it to get the character that you want

[2019-10-31 11:19] derhuerst commented on #207
There's also [`chars`](https://github.com/antifuchs/chars).

[2019-10-31 17:02] KOLANICH commented on #207
also python `unicodedata` module.

[2019-10-31 20:04] ItsNickBarry commented on #207
I've added a CLI to my emoji suggestion library.  See [here](https://github.com/ItsNickBarry/emojideas).  Search is based on keywords as well as character name, and there's a `fuzzy` option.

[2019-10-31 20:37] fire17 opened #208 "Approachable OSI"
Hi there!
First of all just for contex, I just googled
"Suggest idea open source" and got here.

So let me thank you,
I was developing an idea about building an app for suggesting open source ideas.
So thank you so much for already making this! It's one more project checked on the list :)

Anyways I hope to get more familiar with the current OSI platform (GitHub issues oriented) soon but I believe

[2019-11-01 02:57] remram44 commented on #208
Duplicate of https://github.com/open-source-ideas/meta/issues/5 (and possibly #195?)

[2019-11-01 04:36] fossguy commented on #204
@YaMo97 Great ideas about enhancements to a nice simple game like this one.

I just want to touch on one point you made earlier:

I don't think we don't need to store the words that have been entered into a `tree` and perform sorting/searching algorithms or the like. I think a `Set` would suffice and would allow for O(1) look ups for looking at words already in the `Set` (the data structure inhere

[2019-11-01 04:40] fossguy commented on #204
@YaMo97 Great ideas about enhancements to a nice simple game like this one.

I just want to touch on one point you made earlier:

I don't think we need to store the words that have been entered into a `Tree` and perform sorting/searching algorithms or the like. I think a `Set` would suffice and would allow for O(1) look ups for looking at words already in the `Set` (the data structure inherently d

[2019-11-01 04:45] fossguy commented on #204
@YaMo97 Great ideas about enhancements to a nice simple game like this one.

I just want to touch on one point you made earlier:

I don't think we need to store the words that have been entered into a `Tree` and perform sorting/searching algorithms or the like. I think a `Set` would suffice and would allow for O(1) look ups for looking at words already in the `Set` (the data structure inherently d

[2019-11-02 20:13] FredrikAugust commented on #208
Hello! Thank you for your contribution :)

The current website we have was hacked together by me quite some time ago, and it has not stood the test of time (nor was it very good when I made it). If you would like to create a better website for the project, that would be immensely appreciated, and I would love to help you get started. I sadly don't have time as of now to help you actually develop t

[2019-11-02 20:15] FredrikAugust commented on #207
I added developer tooling to this as well, as most people who use the command line are developers, and I think it would be helpful for quite some people looking to add emojis to their code or similar (and don't own a computer with an emoji-insertion feature).

[2019-11-03 20:15] Kreijstal commented on #207
There is also [unicode.vim](https://github.com/chrisbra/unicode.vim)

there turns out to be already too many existing tools, so I'm thankful for that, and the tools people posted here, I dont think there is a need for this tool anymore

[2019-11-03 20:15] #207 closed

[2019-11-06 15:53] TheSameerAli commented on #204
Sounds interesting. I'll set up an initial GitHub repo mock (with some implementation) and see where we can go from there

[2019-11-06 20:00] Kreijstal opened #209 "Screenkey clone for Windows"
## Project description

[_Describe the project the best you can. Give any background information or link to resources that are necessary to understand the problem it is intended to solve. The more you elaborate on your idea, the easier it is to accomplish._]

Basically a program that records your keys and can display on the screen a box that show what keys you pressed
![image](https://www.thregr.o

[2019-11-06 20:09] Kreijstal commented on #208
Also, I would like the list of projects that were suggested but got closed because a solution was found or because there were already existing projects with that idea, would be fun.

[2019-11-06 20:33] remram44 commented on #208
This could be done with GitHub labels, unfortunately only one person can apply labels.

I think an ad-hoc platform would have the advantage of allowing crowd-sourcing of labels, via voting *à la* Steam.

[2019-11-06 22:17] Kreijstal commented on #176
add machine learning on top of it just for fun.

anyway I am still not sure how would exactly the user would interface with it, can you make an example

[2019-11-06 22:20] Kreijstal commented on #206
how would the user interface would look like?

[2019-11-12 17:07] fire17 commented on #208
For starters... Thanks you for the replies!
As for the OSI site...
The GitHub Issues is kind of a great DB, well managed, with great API
(Wondering if you can make new comment through the API? Sounds basic)

Even the user management can stay here I.e "sign in with GitHub"

But this could be the social network of my dreams. I want it to have tight front page with latest tending, overall traction, c

[2019-11-12 17:44] remram44 opened #210 "Portable / pluggable job submission system"
## Project description

Job submission systems are common in scientific computing (e.g. TORQUE or PBS). They allow you to start a job (some script) and then later on check the status of that job and get the output and log for it.

However this can be useful for more than just big companies and clusters. It is common that you might need to download and transcode a few videos, or render some 3D scen

[2019-11-12 18:01] ha0ye commented on #181
It would be great to work off of or integrate with some existing work out there, e.g. https://github.com/usds/us-forms-system

[2019-11-13 21:41] TheSameerAli commented on #204
I've started some initial work on this but still under setup/mvp dev phase. Will update with some more info in a week or so but feel free to check it out and provide feedback.

[2019-11-14 09:53] amritghimire commented on #204
I have created a preliminary app  at [@amritghimire/word-game](https://github.com/amritghimire/word-game/) and deployed it at [https://word-game.amritghimire.now.sh/](https://word-game.amritghimire.now.sh/) . I am working on validating the words currently.

[2019-11-15 22:07] TheSameerAli commented on #204
Hey, I've created an initial MVP and deployed up here: https://thewordsiknow.sameerali941.now.sh/ - Do check it out. I'll be adding more features very very soon!! https://github.com/TheSameerAli/TheWordsIKnow - I'll be working to tidy up some contributing and project management process sometime tomorrow so feel free to go through issues and contribute if you like!

@amritghimire - Great start, che

[2019-11-16 16:46] TheSameerAli commented on #208
@fire17  - I'll pick this thing as my side-project, I've been searching for a project like this for a while. I'll get started on this and give an update soon about the progress. I like your vision of having this kind of full-fledged open source community social network!

[2019-11-16 16:48] TheSameerAli commented on #208
@fire17  - I'll pick this thing as my side-project, I've been searching for a project like this for a while. I'll get started on this and give an update soon about the progress. I like your vision of having this kind of full-fledged open source community social network!

We can create a slack account to have all the comms about this there if you wish

[2019-11-16 21:34] jshankarrepo commented on #188
Sounds Interesting and moreover, I have already started working on this project and all the comments helped me get a new perspective on to solve the issue.
To start with, we can record a video in a park with the track (similar to a self-driving car) with an angle of body rotation (eg: record video with an accelerometer fitted to a cycle). Then use a smartphone camera to view the road and guide the

[2019-11-16 21:42] TheSameerAli commented on #208
https://join.slack.com/t/osireimagined/shared_invite/enQtODM5NzQ5OTI2ODg2LTdlMDI3OTlmYWQ5YzlhOWRlNGQ0MDE4MjdmNDEwZmM0NzVhZmIzNjhlMzU2OTViYWY0ODc0MTI4YzA5YjI1NDQ - Let's all join this slack (whoever wants to contribute) and have all comms there

[2019-11-18 06:23] blaggacao commented on #130
https://keybase.io/blog/keybase-ssh-ca

[2019-11-19 05:06] darshkpatel commented on #130
Yup, thought so

On Mon, 18 Nov, 2019, 11:53 am David Arnold, <notifications@github.com>
wrote:

[2019-11-19 05:35] sunn-e commented on #188
Can anybody find or build something like this?

[2019-11-21 09:09] KOLANICH opened #211 "A GUI for exploring HTTP Archive files"
## Project description

It is possible to capture HTTP conversations into HAR files with devtools available in browsers and third-party tools like mitmproxy.

But it is inconvenient to explore them with a text editor because redundant info is saved (that is the same for all the requests) and often in base64, so they are large. And the tools lack the feature to load the captures.

HAR files are jus

[2019-11-21 13:31] FredrikAugust commented on #211
This is a really good one I use at work: https://toolbox.googleapps.com/apps/har_analyzer/.

[2019-11-22 06:38] sunn-e opened #212 "An application that generates thought experiments"
## Project description

I came across a youtube video yesterday at the end of which the guest was asked what would he like to give as a task for fun. It was a video on evolutionary psychology if you are interested. The guest gave a thought experiment. " Imagine what will be the society be like once Elon Musk succeeds in colonizing the Mars. "

This make me curious and took me back to how Einstein

[2019-11-22 06:39] sunn-e commented on #212
#188 for our previous idea

[2019-11-22 06:43] sunn-e commented on #212
https://plato.stanford.edu/entries/thought-experiment/ to learn more about what is a thought experiment

[2019-11-22 10:04] KOLANICH commented on #212
I don't feel like it is a beginner level. And I don't think it is possible to generate meaningful experiments without human expert knowlege and common sense. I guess first the scope should be limited to quantum optics.

The second let's imagine that a human has a hypothesis he wanna test. He makes a simplified model to this hypothesis in quantum mechanical framework using density matrices in terms

[2019-11-22 12:15] sunn-e commented on #212
Beginner as in sense of developing the software not the actual thought experiment. For that we can scrape data from reddit or other sources. Simply assume it as a text generator trained on thought experiments data along with other text such as shower thoughts. I hope I made sense.

[2019-11-22 12:17] sunn-e commented on #212
I think I attached a very strong definition source here . Avoid this. Simple wikipedia definition is what you need.

[2019-11-23 13:53] KOLANICH opened #213 "Fast semi-userspace filesystems"
## Project description

FUSE filesystems are slow because of context switches. I have idea how to make everything fast for some large subset of file systems.

More precisely file systems that
* allow:
    * reads of some bytes within an existing file
    * writes not changing the size of the stream
    * memory mappings
    * xattrs reading
* disallow
    * creation of files
    * movings
    * re

[2019-11-26 06:13] sunn-e commented on #212
https://github.com/Thought-O-Nator
People who are interested can join the organization. Message here or over gitter and I will send invite to you.

[2019-12-03 13:03] FredrikAugust commented on #211
Apparently, you also have [this one](http://www.softwareishard.com/har/viewer/), but I prefer Google's.

[2019-12-05 22:56] fire17 commented on #208
Opened upwork request
Hope it works!
Added this description:::

I would like to build a modern looking website for this (currently horrible) site:
https://open-source-ideas.github.io/

The idea is it's really cool, a platform for open source ideas. It deserves a proper site. Later on I'd like to add users, and some networking features, maybe an app down the line, but first we have to update the si

[2019-12-06 16:39] fire17 commented on #208
@FredrikAugust
I've put up an offer on upwork 💪🏾
#soon
![Screenshot_2019-12-06-18-31-05](https://user-images.githubusercontent.com/9356048/70339030-b750c780-1856-11ea-9f29-6995dda9726a.png)

Contract title:
Design Build & Publish a website for OSI

***Milestones:
A - 50$***
Build a first functional version of the site. This means forking the current one, updating the ui (desktop and mobile), and c

[2019-12-06 18:08] KOLANICH commented on #208
I vote for rejecting this gift.

[2019-12-06 19:46] remram44 commented on #208
@KOLANICH No one here is telling you how to spend your money, why the obnoxious reaction? Are you going to offer the same pique to @FredrikAugust who could spend his time on helping Mozilla instead of managing this space?

[2019-12-06 20:44] KOLANICH commented on #208
I mean it is very unusual to see someone in the internet hiring a dev to work for an open-source project, especially the one like this one. You know where one can obtain some free cheese.

Making a new website with social networking features would mean
* having servers and paying for them
* having server-side software and paing someone to maintain it, including looking for hacking attempts and dea

[2019-12-07 22:09] jusdepatate commented on #198
So you just need a wiki with a good moderation team ready to remove any spoiler ?
Then the only difficulty is to get an active&good mod team not to make the wiki there are plenty of wiki software easy to host if i understand correctly

[2019-12-08 06:25] ItsNickBarry commented on #198
@jusdepatate No, spoilers are only spoilers when not presented in the right context, and this context must be built into the data model.  When adding information to the wiki, a user would have to intentionally cite a source  incorrectly for spoilers to appear.

Also, because these would not be written in prose, it might be okay if certain citations remain invisible until verified.  (In the case of

[2019-12-11 23:32] fire17 commented on #208
Hey there,
Firstly thanks for the your wisdom, it is appreciated.

I'll share how I see it and hope you correct me where there's fault.

The site's backbone is and will be on GitHub. There are a bunch of hosting solutions, but I don't think we need to create something from scratch. There's already a strong community here, and the current site is functioning, simply outdated.

Any improvements to t

[2019-12-12 01:30] gabrielt-prathivys opened #214 "AI alone with the Periodic Table"
Hello everybody.
I'm starting with programming, i'v worked with art, design and health. Well, i said that because i can have a very different point of view, and some (many) ideas, but can't execute.

I'v seen a lot of papers about AI:
Until now no one has created a neural network, or game, where the lego pieces are the elements of the periodic table. Reaction and responses? linnus pauling electron

[2019-12-12 02:12] remram44 commented on #214
This is a research question and not an easy one 😅 not really an open-source program. You might want to apply for a PhD student position if you are really interested in the question, honestly. Regardless, I'm sure there has been attempts in the area, but I would wager that acquiring enough data for any meaningful training is more difficult than you think, because physics at this level of not comple

[2019-12-12 02:36] gabrielt-prathivys commented on #214
Lets see if other opinions shows up.
Acctualy, i can't imagine any better use to AI then manipulate molecules with one outcome, or create some structures interacting with real material properties. Some people are trying to sistetize material but only with 3D rendering purpose for gaming. And we already print WiTh Atoms, like the IBM logo.
 But thank you for you time.
![IBM_in_atoms](https://user-i

[2019-12-12 06:36] KOLANICH commented on #214
Only if you have access to a high vacuum STM.

[2019-12-12 09:25] FredrikAugust commented on #214
Wow, cool and unique idea. Hope you are able to create this!

[2019-12-12 09:49] FredrikAugust commented on #208
Thank you very much for your interest in improving this community @fire17! I do however also see the concerns raised by @KOLANICH. My stance on this will be the following; as long as the interests of the website correspond to those of this GitHub community, I see no reason for why it should not exist, and I will happily promote it. I do not, however, wish to take upon myself any responsibility whe

[2019-12-12 09:50] FredrikAugust commented on #208
Regarding donations, I do not think it's worth setting up at this point, as I don't think a lot of people would actually donate, and we don't really have any costs that we need to cover ATM.

[2019-12-14 10:17] KOLANICH opened #215 "dpkg trigger lib for python"
## Project description
dpkg allows to register triggers so the apps get notified when a it does something relevant to them. Usually this is used to invalidate and update some caches. It is configured by writing special files to specific locations. Then dpkg calls the binaries configured to be called.

python has a built-in mechanism for plugins called entry points. one package can register them us

[2019-12-14 15:42] remram44 commented on #215
I am a bit confused, do you want triggers to be executed for packages installed from wheels directly (not DEB packages)? Or Python libraries that have been turned into DEB packages and installed that way?

[2019-12-14 17:09] KOLANICH commented on #215
Yes.

It is a bit problematic to package every python package into a deb and all other packages for package managers. It is far more convenient to use pip.

Also: the hooks provided via entry points not necessarily should be specific to deb, they can be translated into hooks for other package managers. So I just install the module for deb (a fedora user installs a module for dnf), install a packag

[2019-12-14 17:36] remram44 commented on #215
It is not clear to me whether this needs to interact with dpkg/dnf. Couldn't those be "pip hooks"? It is not clear to me why you need Python or pip to translate those into hooks for dpkg so that dpkg runs them, rather than having pip run them directly.

Of course, if you follow that thought, it already exists in distutils (basically, functions you stick in `setup.py`), though I don't know if that

[2019-12-14 19:57] KOLANICH commented on #215
pip triggers are also needed for the same purpose, but for pip. https://github.com/pypa/packaging-problems/issues/308

It is not clear to me whether this needs to interact with dpkg/dnf. Couldn't those be "pip hooks"? It is not clear to me why you need Python or pip to translate those into hooks for dpkg so that dpkg runs them, rather than having pip run them directly.

No, it is different. setup.

[2019-12-14 21:54] remram44 commented on #215
This seems like a very corner-case use case (you're making a package manager on top of pip), which might be better served by making your own change to pip. I am not sure if there are other use cases.

Isn't it easier to make a DEB package for your own library, and write the correct hooks yourself? Rather than implement this whole system with all kinds of security consideration, that might not be u

[2019-12-14 23:55] KOLANICH commented on #215
Not quite.

It is, but it is an incorrect approach. It is obvious that the abstraction is needed. My programming experience is that: every time I was lazy enough not to implement the needed abstraction, it caused only suffering and in the end I had to implement it. Better early than late. I need this abstraction in multiple places, not only file2package mapper, but also for a tool doing some dirty

[2019-12-16 15:19] reeshabhkumarranjan commented on #182
Any updates on this project? The repo has just 4 commits till now.

[2019-12-17 05:34] keerthivasan-r commented on #182
nope, still its not started.. Looking forward for people to contribute.

[2019-12-17 17:10] MarchWorks commented on #214
It will be great if someone splits this idea into milestones

[2019-12-17 17:42] MarchWorks commented on #209
What is the goal of this?

[2019-12-17 19:17] KOLANICH commented on #209
WUT?

[2019-12-17 19:36] KOLANICH commented on #149
BTW: https://github.com/palant/js-analysis

[2019-12-17 19:53] FredrikAugust commented on #209
I'm sorry, but I will close this as you barely provided any explanation as to what your idea really is. Please do resubmit it with a more elaborate explanation.

[2019-12-17 20:03] KOLANICH commented on #209
Not resubmit but just fill into the existing. Or maybe just delete it without closing.

[2019-12-18 01:02] gabrielt-prathivys commented on #214
Hi March! Thank you for the promptitude. I was just testing the responses from the community, i really appreciate that.

I don't even know how to set the milestones here in the site, but i will look for it.
let me think about it...and give me what you saw in your imagination too, please.

Maybe:
1)  Create a visual interface for the atom? Spheres around Spheres? no setting for spins (that can be i

[2019-12-18 01:15] gabrielt-prathivys commented on #214
let me think about it...and give me what you saw in your imagination too, please.

Maybe:

Create a visual interface for the atom? Spheres around Spheres? no setting for spins (that can be in a second moment)
Create a Set of atoms that can interact, a MVP...we can start with Hidrogen, Oxigen and try to make than interact becoming water? just 3 Balls with magnets bending to H20.
After Water we can

[2019-12-21 16:54] KOLANICH opened #216 "Virtual devices for QEMU and Bochs"
## Project description

Android phones use chips that often lack free open-source drivers. To develop these drivers it is needed to be able to load the drivers into a virtual computer and allow them to interact with something that behaves like hardware.

It would be much more convenient if it would be possible to
* develop a model of a device from its datasheet using a combination of SystemC/Syste

[2019-12-21 16:59] remram44 commented on #216
Isn't it easier to write the driver than the virtual device?

[2019-12-21 17:11] Manishfoodtechs commented on #216
Why only QEMU ? what about LXC hypervisor ?

I m not sure about LXC on Android. But, I believe LXC should work on
Android  as later OS having Linux in behind,

why I am inclining more for LXC hypervisor over QEMU or KVM because of
difference in resource usage.

please check out difference between kvm / QEMU and LXC.

https://dev.to/manishfoodtechs/creating-your-cloud-infrastructure-like-google-clo

[2019-12-21 17:12] KOLANICH commented on #216
I guess no. Most of complexity of virtual devices is in devices itself. We don't need to implement the devices themselves accurately, only their interface documented in datasheets. They can be written in a high-level language (even python). Also it can be done only once. Once you have a device model, it can work with any OS when that OS needs drivers.

But drivers are a bit different. They run in

[2019-12-21 17:36] KOLANICH commented on #216
1. LXC is not a hypervisor.
2. One cannot use LXC to emulate hardware.

[2019-12-21 19:23] Manishfoodtechs commented on #216
I don't know will this be any use for your project. Give a look on
https://halium.org/ . Kindly take Halium Project as only a share from my
side.

On Sat, Dec 21, 2019, 23:06 KOLANICH <notifications@github.com> wrote:

[2019-12-21 20:17] KOLANICH commented on #216
Thanks for the info.

[2019-12-25 21:26] Fastigit opened #217 "A gateway from KNX to Philips HUE"
## Project description

Why would one put any effort in developing a gateway from KNX to Philips HUE? There are already several available (https://www.ise.de/de/produkte/ise_smart_connect_KNX_Hue) ?!?

The KNX bus topology traditionally uses twisted pair and thats what available gateways to the Philips HUE system are made for. However it becomes apparent that the classic twisted pair is not ideal

[2020-01-05 08:53] Kreijstal commented on #209
Well, basically, it is a program that creates a window which shows which characters you are typing at the moment.

[2020-01-05 08:57] Kreijstal opened #218 "Emoji IME for windows"
## Project description

[_Describe the project the best you can. Give any background information or link to resources that are necessary to understand the problem it is intended to solve. The more you elaborate on your idea, the easier it is to accomplish._]
Basically, something similar to Japanese MS-IME but for emojis, where you can type emojis with your keyboard, and there is a very fancy autoc

[2020-01-05 09:10] Kreijstal commented on #209
When streaming a gameplay or typing shortcuts on a program it allows viewers to see what you are typing

[2020-01-05 09:13] Kreijstal commented on #209
I thought it was pretty clear that I wanted a clone of the screenkey program that is not available for windows. Do I need to explain how screenkey works, or why do I need it?

[2020-01-05 14:54] Maikuolan commented on #218
This sounds like a cool idea; definitely would be useful, IMO. 😊 :+1:

[2020-01-06 14:06] FredrikAugust commented on #209
Looks better, but please provide some more detailed information regarding how it could be implemented.

You could also explain why you need this, as it seems you got a pretty good solution for it already in your gif.

[2020-01-07 14:04] Kreijstal opened #219 "Archiver helper"
## Project description

[_Describe the project the best you can. Give any background information or link to resources that are necessary to understand the problem it is intended to solve. The more you elaborate on your idea, the easier it is to accomplish._]
Wayback machine is a great resource but sometimes it doesn't have a complete archive of a website and it doesnt crawl all those little websit

[2020-01-07 16:02] KOLANICH commented on #219
1. @Kreijstal, you must delete all the traces of the template from your message. I have written a GitHub Action that can close the issues having issues like this one automatically. It is likely be added here soon. Though it is not so trivial to make it do the needed stuff itself automatically. Also IMHO modifying someone else messages is an extreme measure that shouldn't be used with the situation

[2020-01-08 13:50] Kreijstal commented on #219
The template should probably have those strings as comments  like this `` I never knew I had to delete them, so I though it was fine, but thank you.

[2020-01-08 17:11] FredrikAugust commented on #114
Why was this closed @aschrijver?

[2020-01-08 17:15] KOLANICH commented on #219
Then we definitely need such an app. The measures of WA are draconian indeed. Earlier it was possible to use wget to crawl the websites, then collect only the needed URIs using grep, then rewrite them to W.A. uris using sed, then use wget again to archive them to WA, and do everything within a few minutes (assumming each item to archive is from 15 to 30 MiBs).

[2020-01-08 20:55] HoussemBenTaher commented on #182
Hello, I'd like to be part of this project, it seems cool and actually I had kind of a similar idea to this before.
I hope I can be a good help for you.

[2020-01-09 06:49] keerthivasan-r commented on #182
@HoussemBenTaher Welcome aboard. Thanks for joining. Where do you think you can contribute?

[2020-01-09 12:13] HoussemBenTaher commented on #182
I'm more of a backend developer, I can help with creating the backend code for this.

[2020-01-09 12:19] keerthivasan-r commented on #182
@HoussemBenTaher Great, Can we discuss in this thread? [Discuss on Tech stack](https://github.com/Kreijstal/diytest/issues/4)

[2020-01-11 06:07] pambrocio commented on #182
I would like to contribute to this

[2020-01-11 16:47] aschrijver commented on #114
Oops, accidentally.. thx for the heads up!

[2020-01-13 22:01] Kreijstal opened #221 "IPcam to webcam in Windows"
## Project description

Basically, a windows program that can take an ip webcam and convert it into a webcam stream, this sounds like a very interesting project that no open source program has ever done.
## Relevant Technology

Manycam does this but is not open source.

### Complexity

- [ ] Beginner - This project requires no or little prior knowledge of the technolog(y|ies) specified to contribu

[2020-01-19 20:27] KOLANICH opened #222 "Automatic creation of anti-tracker extensions settings for websites"
## Project description

I can use NoScript. Some also can but don't want to toggle noscript settings and troubleshoot and analyse the shit. They are ideal targets for blackmailing them with "allow scripts and trackers or go out of my site".

Currently these users have to allow scripts globally, including all the trackers, exploits, malware and similar shit. This is definitely not OK.

If they have

[2020-01-24 19:52] numan98khan commented on #211
I am really interested in this project but it seems that such a solution already exists. So is this issue going to be closed or is there still innovation we could achieve here?

[2020-01-24 23:31] KOLANICH commented on #211
Innovation? No. But rewriting that in C++ just to stay away of Node and NPM won't harm.

But to rewrite

[2020-01-24 23:31] #211 closed

[2020-01-25 17:16] numan98khan commented on #210
Sorry for seeming like a total noob, but can't all of this done via putty?

[2020-01-25 17:18] remram44 commented on #210
Only in the same extent that all rclone does can be done via a web browser.

[2020-01-25 17:28] numan98khan commented on #210
I see your point. I'll start my research now.

[2020-01-27 20:09] KOLANICH opened #223 "A converter between grammars DSLs"
## Project description

### Parsers

When one needs to parse a text-based format, he needs a parser library. There are 2 kinds of parsers:
* hand-coded
* generated from a formal description written in a special DSL using a parser generator. This descriptions are usually called `grammar`s.

I consider the latter as the most sane approach for the most cases.

### Grammars

Most of grammars DSLs are

[2020-01-27 20:26] HarshitPatel25 commented on #138
It is a very interesting project for beginners and theirs a lot to learn about this.

[2020-01-30 07:40] KOLANICH commented on #50
https://framagit.org/upt/ , but only for python packages

[2020-01-31 19:22] derhuerst opened #224 "CLI tool for GitHub Checks"
## Project description

[`travis-watch`](https://www.npmjs.com/package/travis-watch) & [`ci-watch`](https://github.com/juliangruber/ci-watch) are incredibly useful for my daily dev workflow, especially because it exits with a non-0 exit code when the CI fails, so I can do things like `travis-watch && npm publish`.

Creating a CLI tool for every CI provider out there probably doesn't make sense, bu

[2020-01-31 19:29] derhuerst commented on #224
We shouldn't reinvent the wheel, but work on this over at https://github.com/juliangruber/ci-watch/issues/7.

[2020-01-31 19:45] KOLANICH commented on #224
If you need a library for outputting into console text formatted with control codes (will be especially helpfull if you wanna render a colorful table), you can use my [`RichConsole.py`](https://gitlab.com/KOLANICH/RichConsole.py). It is a bit smarter than stuff like `colorama`, `colored`, `plumbum.colorlib` and other analogues.

[2020-01-31 19:56] derhuerst commented on #224
For Node, [`chalk`](https://www.npmjs.com/package/chalk), [`ansi-escapes`](https://github.com/sindresorhus/ansi-escapes), [`ansi-diff-stream`](https://github.com/mafintosh/ansi-diff-stream) and [`ora`](https://www.npmjs.com/package/ora) will help you. Also, [`render-ci-matrix`](https://github.com/juliangruber/render-ci-matrix) is just waiting to be used.

[2020-01-31 21:42] KOLANICH commented on #224
They won't, I try hard to stay away of npm, node.js and its commonity as much as possible. [There are serious reasons for that.](https://www.google.com/search?q=npm+backdoored+packages).

But I am aware of them. Of them only `chalk` does something similar to the stuff done by my lib.

[2020-01-31 22:35] derhuerst commented on #224
Not trying to convince your to use Node.js here. 😉 Mentioned these libs just in case someone wants to implement this in Node.js.

[2020-02-04 04:06] ddzero2c commented on #85
[https://github.com/ddzero2c/tmux-easymotion](https://github.com/ddzero2c/tmux-easymotion)

[2020-02-04 04:36] yutakatay commented on #85
https://github.com/Morantron/tmux-fingers
https://github.com/fcsonline/tmux-thumbs

[2020-02-07 13:58] james2mid opened #225 "Report Website Errors"
## Project description

Website allowing people to submit errors they encounter in websites across the Internet. This could be regarding layout/styling issues, with HTML or CSS, or with the content on those websites.

Process:
1. Choose website (or create a new entry)
2. Enter error details and evidence such as screenshots
3. Error submitted internally (or potentially externally to company's own s

[2020-02-07 16:07] remram44 commented on #225
This sounds like a spamming risk. 😅 A lot of websites can barely keep up with *security* issues. Is there any evidence that website owners would want to be part of this?

[2020-02-07 21:11] james2mid commented on #225
No evidence at all. It just bugs me when I have to find the company's twitter or an email to notify them about it, so I came up with this idea.

[2020-02-08 02:11] KOLANICH commented on #223
https://gitlab.com/KOLANICH/UniGrammar.py

[2020-02-08 02:11] #223 closed

[2020-02-08 16:44] KOLANICH commented on #225
The companes that care have a feedback form. If they don't, why do you expect them fixing it?

[2020-02-11 20:14] FredrikAugust commented on #85
Cool idea!

Could you please follow the format of the template next time?

[2020-02-11 20:45] schasse commented on #85
Btw, I improved my plugin, renamed it and me and some friends are using it for quite a while. Check it out and tell me what you guys think.
https://github.com/schasse/tmux-jump

[2020-02-12 07:35] afjoseph commented on #85
Just started using it yesterday. Good job, @schasse!
I'll be sure to make a PR/issue if something looks weird

[2020-02-12 10:27] schasse commented on #85
Thanks. And sure, if you have a problem, just open an issue and I'll look into it!

[2020-02-13 12:25] beppe9000 commented on #209
Related: https://github.com/justinfrankel/licecap

[2020-02-13 13:04] beppe9000 commented on #194
Would this be a web app to run github js/node repos ?

[2020-02-14 11:48] sfadiga commented on #185
Hi there, I implemented the first idea (hover over a digit to increment it). It's here:
https://github.com/sfadiga/AdvancedSpinBox
The other about units I think that it is too domain specific to bind it to the component implementation. The QSpinBox already have a suffix feature (simple label) that might be useful for a general use of 'units'.

[2020-02-14 16:39] KOLANICH commented on #185
Thanks a lot!

[2020-02-15 11:54] chidiwilliams commented on #15
@shime Where would the data be stored? What kind of notification system?

[2020-02-15 15:40] shime commented on #15
@chidiwilliams I originally thought about using sqlite3 or something like that. I would probably use email for a notification system when a new error happens.

[2020-02-16 18:07] FredrikAugust commented on #185
Does this satisfy your request @KOLANICH? If so, perhaps we can add this to the "Completed" list?

[2020-02-16 20:24] KOLANICH commented on #185
https://github.com/open-source-ideas/meta/issues/13

IMHO: the essential goals are finished since we can manipulate single digits. Other goals can be achieved by adding features.

So, according to the Approach 2, it can be considered completed. But it needs a consensus in our community, IMHO it is a bit unfair if we 2 alone decide if it is completed.

Should we do the following procedure: we wait

[2020-02-16 20:26] KOLANICH commented on #185
Message for voting.

[2020-02-22 14:22] losnol commented on #214
Hello! I'm interested. I'm planning on starting a master course on Machine Learning on Biology (and this work can be nice to model some protein molecules). Also, I'm studying software engineering, agile and I can help with the prototype. Also I can translate the business model into the software. And I'm brazilian too : D (so... sorry for the english too!  xD ) . How is the status of this idea? If

[2020-02-22 16:59] chidiwilliams commented on #15
@shime I've had a go at this. Some features are still missing but please let me know what you think. https://github.com/chidiwilliams/trackerr

[2020-02-22 19:52] gabrielt-prathivys commented on #214
Hi, it will help a lot if we can talk some details in portuguese, you can send me an e-mail, or any one interested, on gabrielt.prathivys@gmail.com

 I'm very conservative about how to start, as business manager i can tell that the foundation provide the results...
 Lets think about strategies to get there, you are the early ecangelist of the ideia, after we get together it will become a snow ball

[2020-02-22 19:59] remram44 commented on #214
You guys really think you can solve [computational chemistry](https://en.wikipedia.org/wiki/Computational_chemistry) on your own, or even come close to the state of the art?

[2020-02-23 00:00] losnol commented on #214
I'll send a e-mail.

I know some people that work with Chemical Engineering. I think a good start is the Standard Model of particle physics for interactions. Because what we see in high school normally isn't totally compatible with this state of art model. Basically it's a chess game. 3 main classes of particles (quarks, leptons, bosons) and 3 of 4 main universal forces (electromagnetism, weak and

[2020-02-23 00:04] losnol commented on #214
I don't know if I can come close to the state of art. But I'll try to do a decent model and put into open source. ML It's my area of reseaech, and maybe I can model something. With open source, maybe some people can help with this complicated problem too. So it's a hard question to answer at the moment.

[2020-02-23 03:47] gabrielt-prathivys commented on #214
Your both answers here and in my post show me exactly that you are the kind of people that can make it happens, i don't even know any language of programming, but i'm in the biggest community in the world...i what a project in that bunker in the artic too, people to help will appear, just lets talk talk and talk about good ideas and sketch something, its better a draw then nothing.
And @remram44 ,

[2020-02-24 20:18] gabrielt-prathivys commented on #214
I found a """Game""" ready:
https://en.wikipedia.org/wiki/GAMESS_(UK)

It´s in C, but there is a lista on Wiki with molecular programs in Python.
Most of then are free, should we ask the code?
And our meeting tomorrow on skype? received my e-mail? if you cant choose any day in the morning.

Cheers!

[2020-02-24 21:32] losnol commented on #214
I think that, if possible, we should stick with open source libraries. But I think is worth to check it, and maybe explain the situation. in most of academic code, there's some "reaserch only distribution". So I don't know if they're willing to share some code to the project.

[2020-02-25 02:29] gabrielt-prathivys commented on #214
I'v made contact with all the Free/Open softwares, looking the ones made in Python, i'm shure they will be glad to help, not only with the codes (that some is actually already opened) but giving some advices and beign updated for further suggestions and upgrades.

The sticks are connecting, maybe this pile can be a tower.
From nothing to 70%?? Do you know any algorithm or system, or clue of where

[2020-02-25 19:35] KOLANICH commented on #214
If one needs a free open source quantum chemistry simulator, one of the few having GPU acceleration is cp2k. But quantum chemistry suites won't replace human domain knowledge, the hyperparameters have to be set by a human. Among the most important ones are pseudopotentials - approximations of a nuclei potentials which main purpose is to optimize computation making it feasible and which were carefu

[2020-02-25 20:50] gabrielt-prathivys commented on #214
Thaks a lot for your opion and paticipation, we will save it and use it in the right moment.
 All of you have much more expertise then me, i see it so simples, because all that ajustments and variables, can be updated  in further upgrades by the community.

I realky just whats to change the dinossaurs and cars from games in machine learning tests, to balls with some sort of magnectic atraction and

[2020-02-25 22:22] losnol commented on #214
Particles want to get the less energetic possible. One solution (simplifying a lot) it's to use particle swarm optimization to cauculate the local minimum for the potential energy of each particule and check all particle configurations. The problem with this solution is the complexity O(particules*number_of_possible_orbitals) that can be huge. Probally the IA will have to cut some branchs in this

[2020-02-26 15:23] #214 closed

[2020-02-26 15:25] gabrielt-prathivys opened #226 "Atoms + A.I."
After some previous conversation we closed : https://github.com/open-source-ideas/open-source-ideas/issues/214
Lets start:

https://github.com/gabrielt-prathivys/Atoms-AI

## Project description

Create a  interface where the A.I. can solve puzzles and games using atoms.

## Relevant Technology
C++, JAVA, PYTHON

### Complexity

- [X] Advanced - The project requires the user to have a good underst

[2020-02-26 15:27] gabrielt-prathivys commented on #226
https://github.com/gabrielt-prathivys/Atoms-A.I./issues/1#issue-571447455

 [ ] #1 - Cut out existing complex codes, to create the simplest possible interaction of 3-5 kinds of atoms, in a interface that the A.I. can try to solve simple puzzles and get a score.

 Show to the A.I. that we want water, and a box with Hydrogen, Oxygen and some tools (yeah, let's simplify and get easy in the beginning)

[2020-02-26 15:32] gabrielt-prathivys commented on #226
@FredrikAugust
@MarchWorks
@KOLANICH
Same issue, better manners, we count on your opinions.

[2020-02-26 17:30] KOLANICH commented on #226
Why to flood with issues instead of editing existing ones?

[2020-02-27 20:48] Manishfoodtechs opened #227 "OSINT for Epedemics and Virus outbreaks like Corona Virus"
## Project description

Today everyone know about Corona Virus and how lethal it is to humans and economies.

History is full of such breakouts by lethal microorganisms.

Can we develop a OSINTS ( Open Source Intelligent System) that can help world medical scientist, doctors , government or even common person to understand the old / new diseases breaking out to humans in different geographical are

[2020-02-28 15:00] FredrikAugust commented on #227
Could you please fix the checkboxes?

[2020-02-28 15:10] FredrikAugust commented on #226
I must agree with @KOLANICH here. Please refrain from recreating issues;

1. I have to re-add labels
2. We lose the previous conversation (which I didn't really see any issues with)
3. People who followed the previous issue will have to find this to continue following the development of the project

Furthermore, there didn't seem to be any bad manners in the previous thread. People were critical t

[2020-02-28 22:57] gabrielt-prathivys commented on #226
Hi There, after some conversation with our firts developer interested in the project (Losnol), i think a fresh star with less speculation and more milestone could be better accepted by the community.
I believe people don´t understand what is the idea, and I tried to be more accertive closing the Issue and starting this one.
 I´m new here, i´m sorry.
** I´v tagged as IoT because of others ideas tha

[2020-03-03 21:07] MCOfficer opened #228 "A sequential mixing software similar to MixMeister"
## Project description

A linear (sequencer style) mixing software for studio mixes. Essentially a clone of [MixMeister](http://mixmeister.com/), which has apparently been dying for years .

There are a couple OSS mixing programs around, the most relevant probably being [Mixxx](https://mixxx.org/), but most software in this field focuses on live mixing and/or dual deck style. MixMeister was one of

[2020-03-03 21:47] Santosh-Gupta commented on #10
Does anyone know if this font is a combo too? Seems that it's custom made

https://pbs.twimg.com/media/DckSZXxV0AAFmOF.jpg?name=orig

[2020-03-04 04:49] rubjo commented on #10
Looks like a mashup of two different fonts with little in common to me (different heights, too).

[2020-03-08 14:02] coder006 commented on #227
Any idea what can be done here? I am available to help if someone with expertise in the relevant field can help in coming of a broader understanding of what should be done.

[2020-03-11 09:22] Jaytru1995 commented on #227
If there's already a laid out work structure, then I think it's best to share with the house otherwise when do we begin with discussing the scope?

[2020-03-11 18:46] BenjaminHoegh commented on #227
what about this? [Novel Coronavirus (COVID-19) Infection Map](https://hgis.uw.edu/virus/)
it is open source a do get its data from WHO, you could make a fork of it and begin to develop some AI/ML into it

[2020-03-13 07:35] leob commented on #227
Real-world requirements please?

[2020-03-16 08:21] sladyn98 commented on #224
@derhuerst This sounds like a really cool idea, I was thinking of keeping it independent of ci-watch and building a golang powered library. What do you think ?

[2020-03-16 08:30] sladyn98 commented on #63
@KOLANICH Sounds interesting, sounds like dependabot ?
Is this project idea still viable ?

[2020-03-16 11:37] derhuerst commented on #224
@sladyn98 👍 If Go is the language you're familiar with, go ahead! (no pun intended) And I guess a library for this will be valuable for other tools & integrations relying on the live GitHub Actions status.

For me, *personally*, a CLI is necessary for this tool to be convenient enough. But I could build a CI wrapper around it, if you want.

[2020-03-16 12:57] Manishfoodtechs commented on #227
Thank you for all responses. Here is first raw document. Please help to improve the document. You can join any of the team mentioned in document wiki.
 https://github.com/Manishfoodtechs/OSINTHRH/wiki

[2020-03-16 21:32] KOLANICH commented on #63
@sladyn98, not quite like dependabot, AFAIK dependabot is about dependencies being outdated. This proposal is about best practices. I mean there are lot of repos that are inconvenient to use because they lack something, that can be added automatically. For example `.editorconfig` files. Or for example lot of repos use `setuptools`, but store the metadata in `setup.py` when at least some of it can

[2020-03-17 14:04] sladyn98 commented on #63
@KOLANICH Yeah got it, Some of the features that I can see would need to be addressed
a) Would the bot be run by the user on a specific set of repos or would it just scan github for all python repositories, because there are a huge number of python repositories on github.

Would we want the user to provide the repository ?? This makes sense because it would then open the PR's in only those reposit

[2020-03-17 17:19] KOLANICH commented on #63
it is meant to just scan.  with maybe some optimizations. Basically search GH using its API for repos matching criteria to implemented fixes, then marking them as found, then trying to fix the issues in them (without downloading the full repos, we usually need to fetch a few files), then sending PRs via API, 6hen marking the repos as already visited.

maybe yes, for dealing to repos in manual mode

[2020-03-17 23:30] ItsNickBarry opened #229 "Online recipes considered harmful"
## Project description

Online recipes tend to be badly formatted.  An aspiring chef, struggling through a recipe's process, is frequently forced to return to the ingredient list for quantity information, wasting valuable time, burning countless meals, increasing food insecurity by raising staple crop prices, and exacerbating runaway climate change.

Recipe publishers are entrenched in their ways,

[2020-03-18 09:54] FredrikAugust commented on #229
I think this would work well for simple recipes, but how would you handle e.g.

Of course, this is slightly exaggerated, but situations like these could occur.

[2020-03-18 20:00] ItsNickBarry commented on #229
I think for simple repetitions of the ingredient, it would be fine to repeat the quantity.  Maybe the first insertion into the directions would be bold 100% black, while subsequent insertions would be bold 80% black.

The case where the ingredient name is included in an unrelated noun phrase ("butter dough") is more complex, but a neural network might be able to recognize that it's not an ingredie

[2020-03-18 20:03] FredrikAugust commented on #229
You wouldn’t need a neural network for this, a simple bigram classifier would probably suffice. This is quite easy to implement with `nltk`.

[2020-03-19 12:06] sladyn98 commented on #63
@KOLANICH I could begin with a basic Proof of concept using golang, I will build something initial and share it with you :)

[2020-03-19 12:59] KOLANICH commented on #63
Thanks, just please keep in mind I am mainly interested in python repos, and ... tools for python are mainly written in python. So we need an interface. I guess shared memory pages with ring buffers to pass messages. At least following message types are needed:
* "I have checked out the repo, please do the fixes if you can"
* "I have done some fixes, please commit them (here is the serialized huma

[2020-03-19 19:49] Geeshgirl opened #230 "CODERS NEEDED URGENTLY FOR PROJECT IDEA THAT COULD HELP WITH OUR CURRENT CRISIS"
Rejiggit stores ideas and shows you what to do with your current inventory of supplies.  Share your ideas with us so that others may benefit!

Rejiggit is an online community where you are invited to share your ideas so that others may benefit from them. Whether for a homemade irrigation system or a self-named cake recipe, Rejiggit shows you what others have done with what you own now.

Imagine a

[2020-03-19 19:50] Geeshgirl commented on #230
If I haven't posted this in the correct place, please let me know where it should be.  Thanks so much!!!

[2020-03-19 21:46] ItsNickBarry commented on #230
@Geeshgirl This seems like more of a business idea than an open-source idea.  The application would not be particularly complex, but it would benefit from development by a centralized team early on in order establish a consistent architecture.  With that said, I like the idea and might be able to help.  I would go with a Ruby on Rails back end with Vue on the front end.

If you'd like to discuss,

[2020-03-19 23:12] Manishfoodtechs commented on #230
Idea is good. This respository do same job of telling your Open Source Idea to others and getting some contribution from them.If your idea is unique you will get some labels by maintainers of this respository.

1. Rejiggit should be Open Source. I think it is. Create rejiggit respository ; make it MIT; add some docs or wiki pages.
2. with WordPress, I noticed rejiggit site loading time is too much

[2020-03-20 05:39] KOLANICH commented on #230
Why have you created a website before you have an imp and why wordpress, which is a CMS, but for your purpise you don't need a CMS, you need a completely custom engine?

[2020-03-20 08:08] FredrikAugust commented on #230
Please, please do not use titles like that.

[2020-03-20 08:10] FredrikAugust commented on #230
And don't remove the time estimate block. Either add it back in, or I will close the issue until you add it back.

And a side note; using titles like that, and deferring from the issue template gives me as a project maintainer a very bad impression of your project.

[2020-03-20 11:17] Geeshgirl commented on #230
Sorry, I’m very inexperienced in this. Can you please guide me towards a more appropriate title?

I don’t know what the estimated time is.  Should I just write unknown?

Sent from my iPhone

[2020-03-22 21:12] KOLANICH commented on #230
1. You need a data structure. It is basically a variant of a trie called `set trie`. It allows to populate it with sets and query for the sets that are supersets of the set you use as a query. There are plenty libs for tries that can be persisted on disk, but they need some adaptation to be used as a set trie.
2. Basically what you propose is called an "Alchemy game". There are plenty of such game

[2020-03-23 11:57] AmruthPillai commented on #204
Here's my submission to this awesome Open Source Idea:
https://github.com/AmruthPillai/All-The-Words-That-I-Know

I have tried to implement multiple difficulty levels as well, with **Easy, Medium and Hard**, where the hard difficulty level would expect you to enter at least an 8 letter word and gives you only 60 seconds to do so.

**You can play the game here: https://pillai.xyz/word-game**

<img

[2020-03-23 15:27] sladyn98 commented on #224
I have started with a CLI application called hawk-eye: https://github.com/sladyn98/hawk-eye

[2020-03-23 17:55] FredrikAugust commented on #204
Wow! Great work @AmruthPillai <3 Looks and feels wonderful! @xenotropic, would you say that your wish has been fulfilled?

[2020-03-23 18:00] xenotropic commented on #204
Definitely.

[2020-03-23 18:01] FredrikAugust commented on #204
Hurrah! Another completed project :)

[2020-03-23 18:11] FredrikAugust commented on #204
Added the project to the completed hall of fame in the README! Thank you to @xenotropic for the suggestion, @AmruthPillai for the final product, and @TheSameerAli and @amritghimire for great attempts!

[2020-03-23 18:11] #204 closed

[2020-03-23 18:14] #10 closed

[2020-03-23 18:22] xenotropic commented on #74
@FredrikAugust this one can be closed as complete, credit to @azz-eddine - just realized that this hasn't been done since you closed the other one I suggested.

http://nws.overnightproject.com is one of the main ways I get weather info now!

[2020-03-24 00:11] xenotropic commented on #204
Hey @TheSameerAli is the code for yours still available? The repo you linked is gone.

[2020-03-25 06:58] FredrikAugust commented on #74
Done! Great job @azz-eddine!

[2020-03-25 06:58] #74 closed

[2020-04-02 15:32] binoyudayan opened #231 "Django support for firebase - authentication, collections and document"
Hello

The idea is to use firebase cloud services for the website. As far as I know, the basic idea of firebase is server less deployment. I run into a situation like I need to use firebase and django together. I have implemented authentication using [firebase admin](https://github.com/firebase/firebase-admin-python) and [firebase-webui](https://github.com/firebase/firebaseui-web).
At the moment I

[2020-04-02 15:35] #231 closed

[2020-04-03 06:56] binoyudayan opened #232 "Firebase support for django - authentication, firestore and cloud functions"
## Project description

The idea is to use firebase cloud services for the website. As far as I know, the basic idea of firebase is server less deployment. I run into a situation where I need to use firebase and django together. I have implemented authentication using [firebase admin](https://github.com/firebase/firebase-admin-python) and [firebase-webui.](https://github.com/firebase/firebaseui-we

[2020-04-03 08:48] FredrikAugust commented on #232
Could you please fix the checkboxes? Thanks.

[2020-04-03 08:50] FredrikAugust commented on #232
Also, how does this fall under "Security"? I understand that security is important to the application, but from what I gathered, it's not the focus of the idea.

[2020-04-03 08:57] binoyudayan commented on #232
Yes, it's not the focus of the idea. I have kept 'security' as the application has to handles authentication and user sessions without any flaws. If you think, we can't keep security, I'll remove it.

[2020-04-08 13:35] ocdtrekkie commented on #221
This is probably no longer needed, is it? https://blogs.windows.com/windowsdeveloper/2019/10/15/announcing-windows-10-support-for-network-cameras/

[2020-04-08 13:58] ocdtrekkie commented on #11
LibreRead is back at https://github.com/mysticmode/libreread but it does need contributors if people want it to go anywhere. The original readme links are now valid again!

[2020-04-11 10:01] aakashsinghbais commented on #206
That should depend on the platform as in  android / iOS or PC / Mac / Linux..

[2020-04-18 13:19] kurdin commented on #225
@james2mid I had this idea many many years ago but I could not finish implementation.
https://www.youtube.com/watch?v=r23yoDcKOZw
Still, this is a good idea and could be a useful service

[2020-04-20 09:56] james2mid commented on #225
@kurdin That's an awesome video and a really good implementation concept! I'm glad somebody else thinks it has potential too.

[2020-04-22 16:43] michelanthony13 opened #233 "Demokratix project: a collective intelligence platform based on Laravel"
## Project description
In a world where Democracy and pluralism are under assault, I firmly believe that its time for us (citizens) to stand up and bring our leaders back to the base. According to the recent report from the Economist Intelligence Unit (EIU, FT1), there are only 22 countries that foll under the Full democracies  category within the Democracy Index.
Knowing all that, I want to devel

[2020-04-27 02:28] #233 closed

[2020-05-02 14:53] AdrienDS opened #234 "Browser extension to capture full-page screenshots in all screen sizes"
## Project description

[Chrome Developer Tools](https://developers.google.com/web/tools/chrome-devtools/device-mode#responsive) and [Firefox Developer Tools](https://developer.mozilla.org/en-US/docs/Tools/Responsive_Design_Mode#Using_Responsive_Design_Mode) both have a mode to simulate multiple device sizes. And both have an option to take either a full-page screenshot or a screenshot of the visi

[2020-05-03 22:39] mjarkk opened #235 "A general API helper programming language"
## Problem

To better explain the project description i firstly need to tell the problem i have.
So i wish to write a native app for every platform but this takes a lot of time to do because every platform works just a bit different and thus requiring a lot of code for a lot of the same things.
The biggest issue to me here seems to be the code between the API call and the application deciding that

[2020-05-04 12:52] Aravindha1234u commented on #167
Hey, Just now look at this project and took some time to make a basic port scanner with Port Forwarding check. I have done this for Daemon TCP and working on UDP connection.
Do check my Repository
[Port Prober](https://github.com/Aravindha1234u/PortProber)

[2020-05-08 13:44] derhuerst commented on #224
FYI there's also [`actions-cli`](https://github.com/remorses/actions-cli) now.

[2020-05-08 13:47] sladyn98 commented on #224
Cooler :P

[2020-05-09 13:01] FiddleINC commented on #182
Is this project still on?

[2020-05-09 13:16] FiddleINC commented on #147
This is a cool idea. I really like to work on it.

[2020-05-10 19:27] Kartikkh commented on #138
Hi Guys,
Is this taken?

[2020-05-10 20:45] lipfreitas commented on #234
You can open Google Chrome Inspector
Press CTRL+SHIFT+P
Type Capture and select one of the options:
![image](https://user-images.githubusercontent.com/21109081/81510152-145d1780-92e6-11ea-857e-a93b42f9855a.png)

[2020-05-12 11:43] apurvmishra99 commented on #219
Hi,
I had a crack at doing this and although I'm still looking for ways to improve it, I believe it already achieves the functionality @Kreijstal was looking for.

You can check it out here [Archiver](https://github.com/apurvmishra99/archiver).

Thank you for the idea!

[2020-05-13 07:32] FredrikAugust commented on #219
@Kreijstal would you say this fulfills the requirements for the issue?

[2020-05-13 07:33] FredrikAugust commented on #138
I don't think so @Kartikkh.

[2020-05-13 07:34] FredrikAugust commented on #182
I don't think it's being worked on @FiddleINC, so feel free to work on it! :)

[2020-05-17 07:01] #177 closed

[2020-05-18 17:38] sanchezcarlosjr opened #236 "7 Full Stack App Ideas for Developers"
## Project description
https://www.youtube.com/watch?v=JTOJsU3FSD8

1. 0:43 - Archives headlines from Fox News & CNN every 15 minutes
2. 2:05 - Uses ML to predict sporting event outcomes
3. 2:55 - Generates artistic photo filters based in ASCII characters
4. 3:48 - Is an MMO version of GeoGuessr
5. 5:03 - Sends SMS texts anonymously to users within close proximity
6. 6:11 - Runs a survey about clo

[2020-05-19 03:52] forresthopkinsa commented on #132
I agree that this is something much needed

[2020-05-19 14:46] veaceslav3 commented on #175
@drex44 you can try using https://app.gosandy.io/

[2020-06-05 04:52] aakashsinghbais commented on #233
@michelanthony13 , why did you close it? It was a nice project.

[2020-06-06 02:01] RoseKimball commented on #138
I'm interested in working on this.

[2020-06-07 08:18] TheOtterlord commented on #235
Hello @mjarkk.

I think that you should have a look at [Flutter](https://flutter.dev). It is Google's mobile sdk programmed in Dart. They are currently working on web & desktop support too. If you are looking for something other than app creation, Dart compiles into many languages and has lots of plugins on [pub.dev](https://pub.dev).

[2020-06-08 21:30] dqisme commented on #10
Also please check [Hactor](https://github.com/dqisme/Hactor) - A mashup between Hack and Victor Mono.

[2020-06-08 21:40] dqisme commented on #10
Also, please check [Hactor](https://github.com/dqisme/Hactor) - a mashup between Hack and Victor Mono italic.

<img width="632" alt="preview" src="https://user-images.githubusercontent.com/11534233/84083141-5eb6de80-a9e1-11ea-8bf7-0fc2cdc21a1e.png">

In addition, this solved the selection shaking problem like this:
![selection-shaking-problem](https://user-images.githubusercontent.com/11534233/840

[2020-06-15 18:09] Kreijstal commented on #219
@FredrikAugust it has the idea https://github.com/apurvmishra99/archiver/issues/3

[2020-06-17 07:13] FredrikAugust commented on #219
So can this be closed @Kreijstal ?

[2020-06-17 10:06] mjarkk commented on #235
@TheOtterlord Thanks for the suggestion but that's not necessary what i want.
It indeed allows me to make native looking apps that are resalable and "fast" but it's not native code.

My problem with flutter is that it's kinda limited to 1 style app, if you want to have the best apps you still want to write native apps that are as native as they can so on windows i want a uwp app because that's wha

[2020-06-18 07:02] TheOtterlord commented on #235
Fair enough. Flutter does not nearly have as many designs as I would like either. It seems that making a new language could be needed as compiling C++ for the web would not work. Maybe the app class/object could contain a theme parameter. The default would be "native", but people could extend a theme class to make their own or set it to one of the already built ones that we need for platform compa

[2020-06-18 15:24] mjarkk commented on #235
I image it to work similar to [openapi-generator](https://github.com/OpenAPITools/openapi-generator) where you have 1 thing in their case being the open api schema and in our case the api code and you transpile it into x programming language files.
There are i think a few parts to this:
- Compiler
	1. Tokenize the code
	2. A library for every language that uses tokens to convert into other code
-

[2020-06-18 18:02] TheOtterlord commented on #235
If we make the language simple enough, we may end up missing out on some native things that some apps need. We could fix this by adding the ability to add native code (especially during development) using a specific function in our API. Though this would probably be decided later.

I imagine we would be supporting types with things like `int` or `str` because of the lower level languages requireme

[2020-06-19 09:29] SaiHarshaK commented on #150
Are there any requirements for a project to go Hall of Fame in the project's README.md?

[2020-06-19 09:33] FredrikAugust commented on #150
Only that it's completed @SaiHarshaK. If this is completed, I can add it when I have time, or you can create a pull request to add it to the README :)

[2020-06-19 10:13] TheOtterlord commented on #235
I have had a go at both languages, and I believe golang would work better. It is more flexible, which is important when creating our tokeniser.

[2020-06-19 10:24] SaiHarshaK commented on #150
I see will do that.

[2020-06-19 12:25] TheOtterlord commented on #235
I've created a simple tokenizer in Golang, just to test my skills.

[code]

It works pretty well for a prototype, though I have not written any tests yet. And this is just a concept of the language.

It has occured to me that we are getting to the point where we need to begin planning, coding and documenting.

Assuming we would not be building Flutter libraries, this would be a multi-repository pr

[2020-06-19 20:23] mjarkk commented on #235
@TheOtterlord Thanks for all the comments!

Yes, my idea to do that was via code like this in the programming language as also described in the original issue body:
[code]
If lines like this are added and the user wants to use the transpiled code they must first define these functions in their language (dunno how our transpiled code should read these but this is also not a too hard of a problem to

[2020-06-20 07:33] TheOtterlord commented on #235
Cool, I'll keep working on my tokenizer for practice.
I'll also try to parse it into JavaScript.

Let me know how you get on ;-)

[2020-06-22 18:57] mjarkk commented on #235
HeyHey i've worked this weekend a bit on a tokennizer and made some nice progress but still lots and lots to do of course.
i think i will make my code public once i'm at the point where i can start writing the part that transform the tokens into other code like typescript, go, rust, etc..

Til that point i will keep a TODO list in this comment up to date.
-  Parsing stage 1 (Parse the code into ty

[2020-06-23 07:27] TheOtterlord commented on #235
Ok. Looks like your making good progress.
I'm happy to parse into TypeScript once you've set up the repo.
Let me know if there is anything you need me to do in the meantime ;-)

[2020-06-23 09:44] mjarkk commented on #235
That would be amazing!!
I'll keep you up to date.

[2020-06-26 13:05] TheOtterlord commented on #235
Quick question.

What language are you using for the tokenizer?
I feel like writing some tests based on your schema above.

[2020-06-26 20:09] loganranji commented on #138
Good project to begin learning in this space

[2020-06-26 21:53] mjarkk commented on #235
Rust.

Currently i write tests for the code i'm working on but you could add more if you want to.
Somewhere this weekend i'll put my code in a repo then you can easily write some more tests if you want to :)

[2020-06-27 14:59] mjarkk commented on #235
I've created a temporarly repo: https://github.com/mjarkk/general_programming_language
If we are at the point where we can compile a simple file to some other language i think we can create a github organization for this project

[2020-06-28 09:06] TheOtterlord commented on #235
Cool. I'll have a look and try to create some validation tests.

[2020-06-30 09:47] mjarkk commented on #235
Hey @TheOtterlord ,

I'm during the week quite buzzy with work so you won't see me working to much on this project during work days.
Maybe it's a good idea if we have a slack, discord, etc... where we can communicate simple things more quickly for this project :)
Do you have any suggestions for message any messaging platforms?

[2020-06-30 10:26] TheOtterlord commented on #235
This is a bit early, but once we create an organization, we have access to [team discussions](https://help.github.com/en/github/building-a-strong-community/about-team-discussions) which will allow us to communicate and also seperate discussions about different things. For example, we could have one about work on the programming language and one about the API. I think this would be the best option,

[2020-06-30 11:04] mjarkk commented on #235
Ah i didn't know about the team discussions, it seems like a good option as it is on the same site as the code.
I suppose we do that once we have a github organization.

[2020-06-30 14:53] TheOtterlord commented on #235
Yeah, it should help to keep everything in one place

[2020-06-30 18:07] mjarkk commented on #235
sure lets use github issues to communicate in the mean while.

[2020-07-03 11:57] glesserd commented on #171
You can try https://hypothes.is/ . Then, use the API (  https://h.readthedocs.io/en/latest/api-reference/v1/ ) to export the annotations in the format that you want.

If you are using firefox an unofficial extension exists: https://github.com/diegodlh/unofficial-hypothesis-extension/releases/tag/v1.441.0.15

[2020-07-05 20:37] nomi9995 commented on #172
I can make easily android package manager because I make my own package manager for my company but I have no resource for the deployment of package manage I need AWS ubuntu instance. if anyone wants with these resources can collaborate with me

[2020-07-05 23:07] KOLANICH commented on #172
@nomi9995 the idea is that the libs are shipped from the apks that are installed. I mean the apks are distributed currently with all the dependencies within apks. We need to identify the individual libs within them and extract them, if there is no, or just discard, if we already have the lib. And then repackage apks and do it automatically on instalation and updates. So no huge servers are needed,

[2020-07-06 06:16] nomi9995 commented on #172
@KOLANICH I want to make android package manager like [NPM](https://www.npmjs.com/)

[2020-07-06 07:12] KOLANICH commented on #172
`like NPM` really sucks. There is no need in a yet another malware-plagued package manager.

[2020-07-06 08:35] nomi9995 commented on #172
@KOLANICH NPM is best to package manager now. It opens the way for the developer to make own packges

[2020-07-06 08:41] imvetri opened #237 "A component builder / Application builder"
## Project description

Modern web development is getting complicated for no reason. It has come to a point that its complications can be abstracted behind a UI.

Currently front end development is diversified into Angular, React, Vue, svelete many many more. With the growing pace of these tools and tool kits it gets nearly impossible for new comer into this technology a worth of the time they spe

[2020-07-06 15:51] KOLANICH commented on #172
worst

[2020-07-09 20:51] sanchezcarlosjr opened #238 "Justice online for LATAM"
## Project description
https://www.youtube.com/watch?v=XlqmCLr97dU

## Relevant Technology
An open-source platform for justice online as ERP justice. Maybe this is a startup idea. Maybe an ISO justice standard.

## Complexity and required time

### Complexity

- [ ] Beginner - This project requires no or little prior knowledge of the technolog(y|ies) specified to contribute to the project
- [ ] In

[2020-07-09 21:02] KOLANICH commented on #238
Please, either put the text describing your idea instead of youtube (Google proprietary piece of shit) link, or close the issue.

And, please, say more clearly. I don't understand what you mean.

Also: "third world" is the term of Cold war times meaning states that have claimed neutrality. After the dissolution of Sovet Union and losing its status as a superpower the term has lost its meaning.

[2020-07-09 21:05] #238 closed

[2020-07-15 00:48] lailashahreen17 commented on #138
This should be a fun project to work on.

[2020-07-15 13:10] brunowego opened #239 "Bump version of files mapped on a root project file"
## Project description

A simple software, when running, update version of files that are mapped in a `.bumped` file. Any extension are supported.

Example of `.bumped` file:

[code]

## Relevant Technology

## Complexity and required time

### Complexity

- [ ] Beginner - This project requires no or little prior knowledge of the technolog(y|ies) specified to contribute to the project
- [x] Interm

[2020-07-15 13:15] TheOtterlord commented on #239
So I imagine the program would look for something that matches a semantic versioning pattern and replace it with the new version number?

[2020-07-15 13:20] brunowego commented on #239
Exactly!

[2020-07-15 18:04] TheOtterlord commented on #239
Cool. I'll give it a go 😄

[2020-07-15 18:24] KOLANICH commented on #239
https://github.com/peritus/bumpversion

[2020-07-15 18:40] TheOtterlord commented on #239
@KOLANICH while this looks good, it does not seem very active and there are a lot of issues. Also the build seems to be failing.

[2020-07-15 18:52] KOLANICH commented on #239
@TheOtterlord, I personally don't use this tool. Instead I use `setuptools_scm` - the tool fetching versions from git tags.

[2020-07-16 14:23] TheOtterlord commented on #239
@brunowego I've completed a working program created with Go. I still need to add documentation, but it basically follows the schema above. I also have not created a release yet as I don't know how to create an installer for a command line tool. If anyone here happens to know how, any help is appreciated. I'm going to do some research soon, but for now you can build it using `go build`.

Let me kno

[2020-07-16 18:16] TheOtterlord commented on #239
@brunowego I've updated my repository with better documentation and cleaned up the code. I've also added an installation method. You'll need [Go](https://golang.org) installed, but once you do, you only need to run one command.

[code]

Then you can run the command using `SemanticBumper` appended by your `.bumped` file. Head over to the [repository](https://github.com/TheOtterlord/SemanticBumper)

[2020-07-19 10:32] TheOtterlord commented on #239
@brunowego I think I have implemented everything that it needs, but I will be adding to this over time. I just added a method to [update](https://github.com/TheOtterlord/SemanticBumper#update) the software so that you can take advantage of any new additions.

I think I've implemented everything you mentioned in your issue, but if you think I've missed anything or have any ideas to improve it, feel

[2020-07-20 12:14] jschoet opened #240 "Wifi2hifi like Program + App based on the BlackHole driver."
## Project description

The Idea is to write a program which is able to send audiostreams from MacOS systems over wifi to an app on IOS devices for listening.
So basically an up-to-date and open source version of WiFi2HiFi Station and Wifi2Hifi app.

## Relevant Technology

Most relevant language will be C, maybe Swift on IOS side. First idea is to use BlackHole as a starting point to route the au

[2020-07-21 20:17] brunowego commented on #239
Yeah! Thanks a lot for this. Exactly I'm looking for. Great work!

[2020-07-21 20:17] #239 closed

[2020-07-27 13:47] php-coder commented on #30
I'm glad that I'm not alone who came to idea that many apps are built around SQL queries and it might be beneficial to use them as a source of true.

I agree with @ahopkins that in 2020 we should only focus on backend side that exposes data through API:

It's turned out that the last month I worked on something similr: https://github.com/php-coder/query2app But I chose a little different approach:

[2020-07-27 13:58] wmertens commented on #30
By exposing the SQL to the client, you can never change your database unless you have full control over your clients.

Also, business logic can be quite complex and you would have to implement it in the database itself. For example, a user can only upload an avatar for themselves, group admins can do it for users in their group.

[2020-07-27 20:28] raff7 commented on #229
A simple bigram classifier might work fine, but using a fine tuned Bert model would probably offer better flexibility for weird cases like the ones mentioned above, the only problem would be to come up with a good dataset..

[2020-07-28 10:04] FredrikAugust commented on #229
Absolutely. Good point @raff7.

[2020-07-31 19:48] KOLANICH commented on #54
@k2name

[2020-08-05 05:39] k2name commented on #54
Hi. Not have time for this project now. Maybe later, as beta-tester :)

[2020-08-06 08:40] Exter-dg commented on #184
I want to work on this. I have just started learning about wireshark.
Can you please give a little more insight about the project?

[2020-08-06 10:05] KOLANICH commented on #184
I just provide the path to extcap server binary. The library exposes the API to introspect and change the server settings. The library itself deals communication to the server, including subprocess calling, server crashes, restarts, lack of permissions and parsing the stream into a sequence of pcap frame.  It provides a way to register a callback  function, cwlled on each frame. pcap frames bodies

[2020-08-09 18:05] Efreak commented on #172
If you're looking to reduce disk usage on your own system, you may be able to get something like fdupes/jdupes to just create replace duplicate libraries with hardlinks. That won't help with the APK size, but it should certainly help with the files that have been copied out of the APK.

[2020-08-09 18:22] Efreak opened #241 "Github Release Updater/Manager"
## Project description

An application to manage and keep up to date binaries released on github. For example, on linux, I've got ~/.local/bin (or wherever you keep stuff) and on windows I've got a c:\programs folder. Both contain single-binary executives that are downloaded directly from github. Both require manual updating of the software.

[getbin](https://github.com/suyashkumar/getbin) looks g

[2020-08-09 19:46] KOLANICH commented on #172
Thanks. But the most of android apps don't contain native libs, but have a lot of java dependencies bundled. And the native libs bundled are rarely of the same versions and are built non-reproducibly, so thir hashes very likely to be different.

[2020-08-09 20:14] KOLANICH commented on #241
I have a tool called [prebuilder](https://github.com/KOLANICH/prebuilder.py). It is not very finished (and not very updated, I mean I have not yet pushed the version I have in private)... But one of its goals was to create binary packages (currently only deb is implemented) from prebuilt GitHub releases (also it can build software using Autotools, CMake and Meson and can automatically package it,

[2020-08-09 20:15] #215 closed

[2020-08-10 06:37] FredrikAugust commented on #241
Regarding this, I don't see why these projects don't belong in the hall of fame. It's still a contribution to the open source community, and you've given others the possibility to join in, as well as shared your vision of the project.

[2020-08-10 07:41] KOLANICH commented on #241
<details>
<summary>offtop</summary>
The mission of this community is to accelerate implementation of projects (sometimes from +∞ to finite time) by bringing manpower to them. When an idea author had finally had to do everything himself, it means that publishing the idea here haven't resulted in additional manpower. It doesn't mean that there is something wrong with the community, may be something

[2020-08-10 07:52] KOLANICH opened #242 "Drop-in replacement to GhostScript"
## Project description

GhostScript is damn vulnerable piece of C code. But many apps and libs rely on it. It makes impossible to get rid of it. It means we have to stay vulnerable.

There are some other libs for pdf rendering written in memory-safe languages, such as pdfbox.
I wonder if it is possible to create a native lib having the same interface ghostscript has, but using memory-safe libsl so

[2020-08-13 12:42] pycoder2000 commented on #184
What will the requirements be to make such a library?

[2020-08-13 22:27] KOLANICH commented on #184
@pycoder2000, what do you mean?

`requirements.txt`? It is unneeded, dependencies must be specified the way available to the package manager, such as `setup.cfg`.  `subprocess` and `struct` are already in python standard library. But you may need a library parsing extcap grammar. Extcap grammar is a text-based grammar, so you may need UniGrammar + parser gens to develop it properly (read [the manu

[2020-08-15 00:56] KaKi87 opened #243 "Synced mail client"
## Project description

There are many mail clients available for every platform, but none that supports all platforms and sync between these.
For instance, I'd like to be able to login an e-mail account on my PC and automatically see it appear on my smartphone.
The only credentials I'll have to type are username and password for the app, once per device, while the rest is synced.

## Relevant Tec

[2020-08-15 05:23] guyharris commented on #184
See also [chapter 8.2 "Extcap: Developer's Guide"](https://www.wireshark.org/docs/wsdg_html_chunked/ChCaptureExtcap.html) in the [Wireshark Developer's Guide](https://www.wireshark.org/docs/wsdg_html_chunked/), which shows examples of the command-line arguments, and standard output, that an extcap program/script should have.

[2020-08-15 21:50] bdsl commented on #140
I don't think there's anything difficult here from a software point of view. Assuming the request is for a git repo, rather than specifically a repo on this website github.com, I think it's just about choosing tools and configuring them to allow anyone to commit but not 'force push' or erase history.

It's just a question of whether anyone wants to run such a service. The people running it would n

[2020-08-15 22:11] bdsl commented on #180
This seems to be primarily a lexicography project rather than a software project. I'd start by finding out if if people want to do the lexicographic work before developing custom software.

[2020-08-15 22:45] bdsl opened #244 "Trunk Based Development team nudging tool."
## Project description

## Treehugger

A tool to nudge members of a software team towards following the practice of [trunk based development](https://trunkbaseddevelopment.com/) (TBD).

If a team is trying to adopt TDB, and pass the [Continuous Integration Certification Test](https://martinfowler.com/bliki/ContinuousIntegrationCertification.html), but they find that too often their code is held up

[2020-08-15 22:48] bdsl commented on #244
Although I had the idea, I'm not actually likely to use this at the moment.

[2020-08-15 22:58] remram44 commented on #140
I think it would be nice to have some motivation for this idea. What is a use case of such a system? Preferably that is not already covered by wikis or pull requests?

[2020-08-16 18:20] KOLANICH commented on #184
My goal is not to extend wireshark, but react on captures in realtime. I.e. I start an app which activity is captured, I start an another app written by me (in python), but using the extcap library that uses an extcap host (I am particulary interested in USBPcap which captures USB frames). My app observes the activity of the foreign app and maybe interacts with it in the way, dependent on the capt

[2020-08-18 10:08] KOLANICH opened #245 "A WebExtension to detect and automatically revert sabotage in web pages"
## Project description

Lot of web pages have built-in sabotage to force their users to enable JavaScript in order to force them into executing malware. When JS is executed, it undoes the sabotage, but then the browser executes malware written in JS.

Often this sabotage is easy to revert just by using devtools inspector, just "inspect element" and then disable the checkbox.
But now this sabotage

[2020-08-18 22:02] val-storm commented on #11
What is the status here? I was embarking on a similar project, but, wondering what happened to this.

[2020-08-18 22:33] ocdtrekkie commented on #11
@mysticmode isn't actively developing the codebase but it is free for someone to take and run with. If you develop an alternative solution I would also love to hear about it.

My end hope on this was something that I could run inside Sandstorm.io but I haven't packaged anything for that yet.

[2020-08-19 08:00] FredrikAugust commented on #243
_What_, would you like to see appear automatically?

[2020-08-19 09:38] KaKi87 commented on #243
The newly added e-mail address.

Example use case :
1. I'm on my PC and I create an account on the e-mail client. I add my personal e-mail address to it.
2. I log in the e-mail client from my smartphone. Thanks to the synced e-mail client, I can now access my personal e-mail address from it.
3. I'm at my work office and I login on the e-mail client from my workstation. I add my professional e-mail

[2020-08-19 15:15] stefnotch commented on #165
I would like to point out that this is already sort of a thing using [pyodide](https://github.com/iodide-project/pyodide/), which fully supports sympy! 🎉

[2020-08-20 16:22] KaKi87 commented on #245
Do you have examples of websites that does this ?

[2020-08-20 18:23] KOLANICH commented on #245
Yes I do have. But prefer not to call them.

[2020-08-20 18:26] KaKi87 commented on #245
Well, there's no way to truly understand then make implementation without having websites to try.

[2020-08-20 20:08] KOLANICH commented on #245
You can discover such websites yourself. Just disable JavaScript and use the browser in this state for some time. And try to visit some of your favorite websites. Or non-favourite. The problem is that if a website takes such measures, it means its owners decided it is better for them to keep the folks like me away of their website. Fortunately not everything is that bad. Sometimes the problems are

[2020-08-21 01:38] KaKi87 commented on #245
I do know websites that does require JavaScript, yet it's nothing about tracking stuff that uBlock already blocks, but functional dependency : for instance, websites developed with front-end frameworks like VueJS (I do some), ReactJS or AngularJS among others simply won't work without client-side JS because it's purely based on it. Yet they can have tracking and that's uBlock's purpose.
JS is also

[2020-08-21 05:50] KOLANICH commented on #245
No, the sites I mean don't use these frameworks.

[2020-08-21 07:27] BenjaminHoegh commented on #245
You do know that just because they require you to use JavaScript doesn't mean its a malware? Also, Google already scan websites for malware and if it found one they remove the website from the search result for 30 days and then make a new scan to see if the malware is still there

[2020-09-01 16:15] FurkanKambay commented on #58
well, nvidia did it

[2020-09-03 22:42] naturallymitchell commented on #58
Link?

[2020-09-04 11:47] FurkanKambay commented on #58
@naturallymitchell It's a part of their new "Omniverse Machinima" which isn't available right now but you can register for beta here: https://www.nvidia.com/en-us/geforce/news/omniverse-machinima/

They're calling the tech Audio2Face (which I guess is not the same thing with what I suggested; I might've jumped the gun while watching the live stream - but I guess this way might be even better since

[2020-09-11 06:50] KOLANICH opened #246 "A next gen preprocessor for C++"
## Project description

C++ preprocessor really sucks. It is text-based and is too dumb. It is unsuitable for implementing C++ language extensions.

The next-gen preprocessor should be AST-based. A user should be able to define AST transformations using a semi-declarative DSL based on C++ itself. Declarative part is a separate DSL, that embeds code in memory-safe subset of C++, the DSL is then tra

[2020-09-16 17:08] umairsyed613 commented on #209
I tried to create something similar its not yet perfect but will be :) Here is the [SourceCode](https://github.com/umairsyed613/WinScreenKey)
![WinScreenKey](https://github.com/umairsyed613/WinScreenKey/blob/master/demo.gif)

[2020-09-17 11:52] KaKi87 commented on #209
How about [Code52/carnac](https://github.com/Code52/carnac) and [KaustubhPatange/Kling](https://github.com/KaustubhPatange/Kling) ? Both open source, found using [alternativeto.net](https://alternativeto.net/software/screenkey/?license=opensource&platform=windows).

[2020-09-17 12:48] EndrII commented on #209
just do not use windows

[2020-09-17 20:15] burakswe commented on #245
Hey @KOLANICH
May I ask if you're still trying to find a proper extension for this? If not, I can create a Chrome extension for this. I haven't created any Chrome extension before, but I'm sure, I will do something.

[2020-09-17 21:24] KOLANICH commented on #245
I am not trying anymore, I am prettu sure that there is no.

Feel free to do everything you want, I currently have no time for im0lementing this idea - that's why I have posted it here and not started myself.

Please note: I (and most of people who need such kind of an extension use Firefox, because in it it is possible to disable harmful APIs) use Firefox. Though it may be easy to port since Fire

[2020-09-17 21:38] burakswe commented on #245
I’ll go with Firefox then. Thanks!

18 Eyl 2020 Cum, saat 00:25 tarihinde KOLANICH <notifications@github.com>
şunu yazdı:

Burak
burakdev.com

[2020-09-25 12:06] KOLANICH opened #247 "Set of tools to manipulate git history"
## Project description
Sometimes one needs to extract a part of another project, which unfortunately is a monorepo, into an own repo.

Often there may be multiple forks of the same project in the form of just copying and then applying own patches.

Often they don't preserve the info about which exactly version they have taken.

So we need the following set of tools:

1. identifying commit the most

[2020-09-28 03:40] aaronleopold commented on #132
I've been working on an electron app that's somewhat similar lately, much smaller scale than what was outlined above though. Mainly, it just streams audio from YT playlists, and I'm working on adding both Spotify and Soundcloud connections.

[2020-09-30 10:12] KaKi87 commented on #132
Since you're only talking about local music, what would be the real advantage of using the same software in all platforms ? They all have the same features anyway.

[2020-09-30 10:15] KaKi87 commented on #247
At which point exactly are you loosing the git history ? Normally you never do.

[2020-09-30 19:22] KOLANICH commented on #247
@KaKi87, when other projects copy dirs from other git repos.

[2020-09-30 19:24] nabijaczleweli commented on #247
"merging unrelated histories" is just `git-filter-branch(1)`. The first point is also probably `git-filter-branch(1)`.

[2020-09-30 20:20] KOLANICH commented on #247
@nabijaczleweli, how can just `git-filter-branch` reconstruct the history?

Project A: `a -> some changes in the targeted dir -> unrelated changes in other dirs -> b -> targeted dir moved -> c -> ... -> d`
Project B: `copies a dir from commit a and does some changes (let's call them x)-> unrelated changes in other dirs  -> some changes in the targered projects (let's call it y) -> copies code from

[2020-09-30 20:29] KaKi87 commented on #247
[That's actually doable](https://medium.com/@ayushya/move-directory-from-one-repository-to-another-preserving-git-history-d210fa049d4b).

[2020-09-30 20:51] KOLANICH opened #248 "EMU10K1 backend for LLVM"
## Project description

EMU10k1 is a DSP embedded into some old sound cards by Creative Technology. Has very limited instruction set, no branching and no loops, usually arithmetics.

Unfortunately assembly listings are not very readable. Would be more readable if the stuff was written in a limited subset of C.

So I wonder if it is possjble to create an LLVM backend for  it;

## Relevant Technolog

[2020-09-30 21:02] KOLANICH commented on #247
The algo you mentioned is very time-consuming and labour-consuming without the right tools (git filter-branch --tree-filter is prety universal but damn damn damn damn slow. BFG repo cleaner is faster, since works directly with index, but is very limited and by now is dead in the sense have not updated since 2018. And creating the right tools is also in scope of this idea). So almost  noons uses th

[2020-09-30 22:11] Thrilleratplay commented on #132
@KaKi87 That is not necessarily the case as it could have plugins for streaming services.  However, I will try to explain the use case of when I opened the topic.

I have a bunch of music on a my Linux laptop at home.  Here, I use [beets](https://github.com/beetbox/beets) to fix or alter tags, embed album art, etc.  I used my android phone to play music using [Vanilla Music](https://github.com/van

[2020-10-01 07:48] KaKi87 commented on #132
Okay, I understand.
However, I never heard about a platform that would allow us to use the same code for a desktop and a mobile app.

[2020-10-02 06:15] forresthopkinsa commented on #132
Kotlin mutliplatform, Flutter, React Native, etc

[2020-10-02 07:53] KaKi87 commented on #132
Using these platforms, you can do multiplatform desktop (Win + Mac + Linux)  OR multiplatform mobile (Android + iOS) but not both at the same time.

[2020-10-02 18:32] forresthopkinsa commented on #132
I'm pretty sure that at least Flutter allows for a very unified codebase

[2020-10-02 19:01] KaKi87 commented on #132
Not as unified as NodeJS for Win/Mac/Linux for instance.

[2020-10-04 15:48] mysticmode commented on #11
I just retrieved the domain http://www.libreread.org today, which I was owning two years ago. I'm going to work on this project again.

You could find about the history and my idea of working on this project in the README section linked below. https://github.com/LibreRead/server/blob/main/README.md

Thanks!

[2020-10-08 06:02] KOLANICH opened #249 "A sanitizer for office file formats"
## Project description

Office file formats are dangerous, they can contain OLE objects and links to remote objects.

It is unsafe to open files from untrusted locations.

We need software capable to remove all suspicious ole objects from office documents.

## Relevant Technology

* Office Open XML
* Open Document Format
* Compound Document Format

## Complexity and required time

### Complexity

[2020-10-08 07:16] KaKi87 commented on #249
I'm not sure how useful that would be considering all office software disable these by default and show you a warning when trying to enable these...

[2020-10-08 07:59] KOLANICH commented on #249
@KaKi87, I don't rememberr that it was the case the last time I have received a `.doc` with an OLE object (and I use Office 2010).

[2020-10-17 18:07] Slinger commented on #61
In case it's useful, here is an [example/tutorial on bundling the Conscrypt security provider directly within an app](https://github.com/Slinger/Conscrypt-Bundling-Example). Also see [this pull request](https://github.com/AntennaPod/AntennaPod/pull/4077) for an example of this implemented in a real app.

Doing this on a global OS-level would be brilliant. Given the strength of Xposed, it might be

[2020-10-17 18:56] KaKi87 commented on #61
Excuse me, but what are "security provider" and "userspace" ? Thanks

[2020-10-18 06:25] KOLANICH commented on #61
@KiKat87,

1.

2. https://en.wikipedia.org/wiki/User_space

[2020-10-22 13:09] Nitemice commented on #221
You can use OBS to do this. It has built-in support for output as a webcam stream, and can handle various source including an IPcam.

[2020-10-22 13:27] Nitemice commented on #198
An example of a website that does something like this is [this Veronica Mars fansite](https://marsinvestigations.net/).
It has a dropdown menu in the top-right corner which allows you to select the last episode you've seen, and limits what appears on the site based on that.

From playing around with it a little, it seems like basically every chunk of info is tagged by what episode it's revealed in

[2020-10-22 13:40] TheOtterlord commented on #198
@Nitemice There will always be one fan 😆

Jokes aside, this is a really interesting way of doing it. It does not have to be as indepth as the example above either. You could tag either pages, sections or paragraphs, the problem is keeping it moderated. You'd probably end up with a system that could be overthrown by a few trolls, or so strict that every edit needs to be checked by a mod unless the

[2020-10-23 06:44] Nitemice commented on #198
At that point, it becomes less of a programming/software problem, and more of a management/moderation problem. And even then, I think it would be highly dependant on the fandom in question. If it's something high-profile, or where even a small spoiler could really ruin everything, then that would be bad. But even then, it's not really that different from the typical spam any community/wiki is like

[2020-11-04 13:59] ammannbe commented on #92
Is someone already working on this project or still interested?
I also thought about a control panel which is docker based, has a plugin system and a small core. The main goal would be flexebility and usability, so you can extend the core by other docker container (doesn't matter which programming languag which shall communicate via e.g. redis. So it does not matter which programming language is u

[2020-11-04 14:13] KaKi87 commented on #92
What about https://github.com/ajenti/ajenti ?

[2020-11-04 14:51] JortvD commented on #92
Well, sadly, the project kinda went dead because of a number of reasons. I would like to pick it up again though. The core concept was at the moment of working on the project that, especially for ease of use, flowcharts would be used to describe the experience for the users of the hosted servers (and maybe the communication between interfaces like databases). This would also make containerization,

[2020-11-04 15:33] prastowoagungwidodo commented on #92
Thank you for your attentions guys. I'm very interested about this project, but dont have much time to develop this project, and because it;s not updated for so looong time, i feel give up. But, If you guys want to contribute for this project, i'll go to the fire and let's make it happen. I'm so exited now XD

[2020-11-05 12:14] ammannbe commented on #92
That sounds really interesting. We should clearly specify a rough concept and try to find more contributors.
It should be possible to answer all points in [stanier's reply](https://github.com/open-source-ideas/open-source-ideas/issues/92#issuecomment-411981871).

Have you guys already done some work, concepts, etc. or do we start from zero?

[2020-11-05 14:11] JortvD commented on #92
I did already start on some parts of the projects 2 years ago, but stopped partially because some them really need to be reworked. It may also be smart to take a fresh look on the concepts I came up with back then. There is also the question of which programming language we will be using. My preference goes out to JS and NodeJS, as it is what I'm good at and there are more possible contributors, s

[2020-11-05 15:00] TheOtterlord commented on #92
I would be interested in working on the project. I have quite a lot of experience in NodeJS and Electron and can work on this a couple of hours a week. I don't use slack, but if once you start a repository and set out the plan, I'll be happy to fork and contribute where I can.

[2020-11-05 17:25] JortvD commented on #92
I've started working on some concepts over at https://github.com/JortvD/meta. I've also cleared the main repo: https://github.com/ijo-sm/ijo.

[2020-11-07 17:15] shravan20 opened #251 "OhMyLearning : Centralised Hub for Learning Resources"
## Project description

A GitHub Repository, which acts as Centralised Gateway to one of the finest and best space for resources for any beginner to learn from. The repository will learning resources and materials for a beginner to advanced learner to learn from any domain and stack.

## Relevant Technology

Technology used : **Markdown**, a light weight markup language.

Existing System : There a

[2020-11-07 19:02] KaKi87 commented on #251
For everything related to high-tech and maybe more, the [awesome learning resources](https://github.com/lauragift21/awesome-learning-resources) list and the [awesome](https://github.com/sindresorhus/awesome) project in general are the best FLOSS knowledge management resources available out there. 👍

[2020-11-07 20:46] shravan20 commented on #251
This is not just confined to TECH learning only. This covers all other aspects as well, like Marketing and sales, Architecture and Engineering, Communications, Science and Technology, Governmental, Health and Medicine and also Law and Public Policy..

A to Z learning Space 💯

[2020-11-07 21:44] KaKi87 commented on #251
I know, just saying.

[2020-11-08 11:56] KOLANICH commented on #251
@shravan20, the discuesion #53, and especially Metacademy, are highly related. That is not a git repo, though, but it may be possible to redesign Metacademy as a federation of git repos.

[2020-11-09 14:52] GrpeApple commented on #243
Why not add a biometric feature to avoid someone getting in?

[2020-11-09 19:33] KaKi87 commented on #243
This project would work like a password manager, meaning the synced accounts credentials would be encrypted with a master password and that one itself won't be resettable.
The user really has nothing to loose if he looses the master password, except the time he'll spend to re-creating a new account.

[2020-11-10 04:14] GrpeApple commented on #243
Then my point still stands, use a **biometric** _feature_ if the **master** **password** is a _hassle_ to write, like me. Who has _115_ characters in a **master** **password.**
So I often store the **master** **password** to another one,
the password manager has a **master** **password** with random characters or generated at a length of 40 on the _original_ **password** _manager_ which doesn’t ma

[2020-11-10 04:45] GrpeApple opened #252 "Sharing Modded APKs"
## Project description
Share Modded APKs to people.
I don’t know if it is illegal and I don’t know where to start.
I am not going to support the project.
[Github repository](https://github.com/GrpeApple/ModAPKs)

## Relevant Technology
Android, Java, and ?

## Complexity and required time

### Complexity

- [ ] Beginner - This project requires no or little prior knowledge of the technolog(y|ies) s

[2020-11-10 06:20] KOLANICH commented on #252
1. An XPosed module may  be much better than a modded APK for some cases.
2. There exists a software for applying binary patches onto installed apks bytecode. It contains large quantity of binary patches within itself.

[2020-11-10 09:49] KaKi87 commented on #252
Aptoide.

It requires root.

Lucky Patcher, which also requires root.

[2020-11-10 18:32] virtadpt commented on #243
@GrpeApple Your password strategy kind of doesn't make sense in light of modern password guidelines.  If you can't remember your master password because its structure isn't cognitive (i.e., it's not something that you can remember, like a sentence)... what the heck is your threat model?

[2020-11-11 05:49] GrpeApple commented on #243
# TL;DR, Too Long; Didn't Read: I do not make any sense.

Well, then. I will upgrade my password generator to 115 characters. On that different password manager.
I can remember my master password, and if I cannot remember, I have to use many backup plans that does not make sense anymore.
It does not make sense that I will have to remember my 115 character password, but I enjoy doing that and it ha

[2020-11-11 11:58] GrpeApple commented on #243
Oh.... Thank you.
Indeed my password strategy doesn’t quite make sense.
But for users who want to do what they like, a biometric feature can help. In my opinion, of course.

[2020-11-11 12:04] GrpeApple commented on #252
@KaKi87

Lucky patcher can work without root, by modifying the apk.
Can see, why my idea is bad. Thus validating that I will not support this.

[2020-11-11 12:46] KaKi87 commented on #252
Well, whoever wants to build modded APKs either publish on their own on a repo (when open source) or on a website (when proprietary), or join a team that already has a publishing platform.

So, if you just want to create modded APKs, you can just create your own repo, and if you want to create a centralization project, you can go for an [https://github.com/sindresorhus/awesome](https://github.com/

[2020-11-11 14:50] GrpeApple commented on #252
I am tired of this. I will reopen it when something changes.

[2020-11-11 14:50] #252 closed

[2020-11-12 20:34] HamzaAnis commented on #251
A GitHub repository to store the resources would be a good option?

[2020-11-12 20:57] shravan20 commented on #251
Yes

[2020-11-12 21:01] shravan20 commented on #251
I believe it's the best solution for Resource Management System

[2020-11-15 11:56] HamzaAnis commented on #251
Github LFS supports 1 GB of a free storage. It will be sufficient for this?
You can read it here. [LFS](https://docs.github.com/en/free-pro-team@latest/github/managing-large-files/about-storage-and-bandwidth-usage)

[2020-11-16 19:18] shravan20 commented on #251
Yes, we can store the media contents in a drive/cloud and give the link and description in the repository.

[2020-11-17 14:51] shravan20 opened #253 "Github Readme Dynamic Quote Generator"
## Project description

A simple project using Node.js to return dynamic quote image for profile README.md file with different themes, font style, design and adding jokes based on query strings.

## Relevant Technology

Tech Stack: Node.js, Express.js

## Complexity and required time

### Complexity

- [x] Beginner - This project requires no or little prior knowledge of the technolog(y|ies) specif

[2020-11-17 15:01] KaKi87 commented on #253
Why not pure markdown quote ?

[2020-11-17 15:13] shravan20 commented on #253
Final output will be markdown based. But hosted app will be a Node.js

[2020-11-17 19:17] virtadpt opened #254 "An API-based Chernoff face server for visualizing data."
## Project description

[Chernoff faces](https://en.wikipedia.org/wiki/Chernoff_face) are a way of visualizing multivariate data by mapping a variable to a facial feature (e.g., weight to head shape, mass to size of eyes, wind speed to length of nose, background radiation count (in counts per minute) to hair).  While Chernoff faces are a part of some data analysis packages (such as R) there does n

[2020-11-17 19:21] shravan20 commented on #254
What's the outcome of the whole project?

[2020-11-17 19:24] virtadpt commented on #254
A general purpose, API driven Chernoff face generator (multiuser), where you can pump data into an API after mapping data fields to facial features, and watch the face change in realtime.

An alternative to bar graphs, heat maps, scatterplots, and so forth.

[2020-11-17 19:47] KOLANICH commented on #254
IMHO: it may bs better to just write a lib generating the needed SVG in Haxe, and then transpile to all the needed languages. In server solution HTTP may be a bottleneck, and for local usage HTTP is a bit inconvenient - one has to start a server.

[2020-11-17 23:48] KOLANICH opened #255 "Free Open-Source USB 2.0/3.0 extension pack for VirtualBox"
## Project description

While VirtualBox is free software itself, some essential parts, like USB 2.0 passthrough, were moved into a proprietary closed-source paid (for everything except personal, eductional and evaluational use) extension pack. QEMU has an own impl of USB passthrough, it may make sense to make an extension pack plugging QEMU impl into virtualbox plugin. There is a small issue that

[2020-11-18 13:13] solo474 opened #256 "random-sources a JavaScript library"
## Project description

random-sources is a JavaScript library that provides various functions to generate random numbers and series of numbers generally useful as test data for various libraries and applications
## Relevant Technology

JavaScript and or mathematics
Ideas, code, and code reviews both are welcome

## Complexity and required time

Fundamental knowledge of programming and or mathemat

[2020-11-18 14:05] shravan20 commented on #256
I am interested to collaborator along. Feel free to connect shravan@ohmyscript.com

[2020-11-18 14:12] solo474 commented on #256
Please feel free to create issues, reviewing the code, or creating pull requests by adding new features or documentation

https://github.com/fars20/random-sources

Or if you need more info we can discuss in the same thread as it will be useful for the understanding others.

[2020-11-18 19:55] virtadpt commented on #254
HTTP may be a bottleneck for very large servers (like a public one for everyone and their backup to play with), but when it's run in a lab, office, or at home (which are the use cases I had in mind) there won't be that many users hammering on it.  As for local usage, if the user needs to do data analysis like this, chances are they're not averse to setting it up (folks set up R, matplotlib, scipy,

[2020-11-19 20:19] paulo-raca commented on #184
I just implemented that: https://github.com/paulo-raca/extcapy

Please take a look and let me know what you think

[2020-11-20 03:34] mnearents opened #257 "UI for file storage using cloud provider"
## Project description

In an effort to reduce my dependency on services provided by big tech companies like Google Drive, Facebook, Gmail, etc. I looked around for an alternative to Google Drive. Dropbox was an option, but the pricing is ridiculous if you have less than a couple hundred GB of storage. So, my idea is to build an open source web/mobile app to replace apps like Google Drive and Drop

[2020-11-20 06:09] EndrII commented on #257
[NextCloud](https://snapcraft.io/nextcloud)

[2020-11-20 06:23] mnearents commented on #257
Well that’s good news for me. Thanks.

On Thu, Nov 19, 2020 at 10:09 PM Andrei Yankovich <notifications@github.com>
wrote:

[2020-11-20 07:41] KOLANICH commented on #184
@paulo-raca, though your lib is useful, this idea is opposit to the one proposed here. Your lib is for writing extcaps for wireshark, the idea is about the lib using extcaps in own apps without wireshark.

I think that you should really use `pylint`.

[2020-11-20 10:00] thecatte commented on #241
Hello there,
Recently I made a prototype of this idea.
https://github.com/thecatte/ghbin

It surely lacks some of the requested features and is unstable but I'm planning to develop it in spare time.

Cheers

[2020-11-20 11:52] paulo-raca commented on #184
🤦‍♂️ Sorry, I misread it

Thanks for the suggestion, I'll do it

[2020-11-22 21:35] FredrikAugust commented on #256
@solo474 Please select the correct categories for your idea. This does not belong to all of them.

[2020-11-25 09:21] solo474 commented on #256
@FredrikAugust generation of random numbers is used across virus applications. Suggest the categories.

[2020-11-25 10:24] TheOtterlord commented on #256
@solo474 I'd probably say `Developer Tooling` (and maybe `Security`, but I'd probably leave that out as normally more specific programs are used for that).

[2020-11-26 15:20] solo474 commented on #256
@TheOtterlord Thanks for suggesting, The random numbers generated from this will be pseudo-random numbers.

[2020-11-26 16:26] TheOtterlord commented on #256
Yeah I thought so

[2020-11-30 11:54] KOLANICH opened #258 "Language-agnostic open source library fingerprinting solution"
## Project description

There are lot of libraries and there are lot of software using them. Sometimes known open-source libs used in software are minorly customized. We wanna know which libraries were used, which versions of them and what pieces of the code were changed.

The usual approach for this is extracting some features from code (control flow graph, signatures) and matching them against t

[2020-11-30 12:29] TheOtterlord commented on #258
Hm, `git` could be useful here. You could compare the extracted library with the original at the chosen point in time (probably the version release tag). Since `git` does not care what language you are comparing, you could see the exact differences. Anyone know of any pitfalls that would prevent an implementation like this?

[2020-11-30 14:53] KOLANICH commented on #258
git is useful here to check out versions only. The problem is detecting the modifications to open-source without having their source. I.e. someone used a foss lib, embedded it into own software, but did some modifications, so when used with the upstream version, the software fails. Then he used a optimizer, so the decompiled source doesn't strictly match the original one. Most the original symbols

[2020-12-06 09:30] KlimaRitter opened #259 "drop down clipboard manager when pressind and holding Ctrl + v"
## Project description

A small program, that, if you paste something using Ctrl + v, when holding down shows a drop down list of prior elements in your clipboard you can navigate trough with your arrow keys and simply paste with enter.

[2020-12-06 10:16] KaKi87 commented on #259
1. You didn't followed the template
2. You can use any existing clipboard manager app (e.g. : CopyQ) and assign it this shortcut

[2020-12-06 10:23] KlimaRitter commented on #259
I am sorry I didn't follow the template, but I had no idea how to answer most of the questions.

[2020-12-06 12:46] #259 closed

[2020-12-06 12:47] FredrikAugust commented on #259
I'm sorry, but at least _try_ to provide some insight into your idea. I'll reopen the issue if you fix it, but I'd suggest making a new one instead.

[2020-12-08 09:11] dshiryu commented on #134
It really depends on what the intended use is. While the project name says "text to speech", considering the IPA observation, one might consider the end goal isn't an Alexa of sorts, but instead one specific for linguistic studies.

In a phonetics class back in my linguistics degree we had to transcribe the IPA sounds from interviews (not the words said, the sounds used according to the IPA table)

[2020-12-08 15:07] Kreijstal commented on #134
I guess the idea is to make a 1 to 1 map of  audio sounds you can make to symbols.

[2020-12-10 11:44] Kreijstal opened #260 "YouTube terminal uploader that takes care of the configuration"
## Project description

a cli-youtube terminal program, that you can use from the terminal, there are some but they're from 2011 or something, they're no longer up to date, and even when they were, they required a lot of investment from the user side.

What I'm thinking is a cli-tool similar to rclone, that in case that the configuration doesn't exist, it just prompts to you, and you don't need to

[2020-12-11 06:21] bastienboutonnet commented on #134
Oooeh! Might be a fun thing to try during Christmas holiday! Do you have a use case in mind @Kreijstal ?

[2020-12-11 06:25] bastienboutonnet commented on #260
Damn @Kreijstal so many good ideas for my Xmas holidays here!

[2020-12-11 07:12] dshiryu commented on #134
Considering what he mentioned about the 1 to 1 map, since I have a (unused) Linguistics degree, I'd guess one possibility is taking a given audio recording and giving back the transcription. For instance:
"The runner crossed the finishing line." returns /ðə ˈrʌnər krɔst ðə ˈfɪnɪʃɪŋˈlaɪn/ (probably without spaces without a dictionaty implemented).

I'm guessing that the "easiest" way to tackle this

[2020-12-12 12:06] colin-axner opened #261 "Automatic request for account deletion or email address change to community maintained linked services"
## Project description

As of recent I have been attempting to decouple my internet dependencies from the big tech companies. While not impossible, it proves to be a multi-year effort even when deliberately undertaking the effort. One of the most time consuming processes has been trying to delete my google accounts. Due to years of online account signup, my gmail's are listed as the login for hund

[2020-12-12 14:51] Kreijstal commented on #134
Yes, basically, a language agnostic way of transcribing human made sounds. Regardless of language, you could then with the written symbols try to map what they say (in symbolic) form to how it is written.  Or you could do the inverse and have a TTS that can  pronounce everything out of the box, in any language, because it doesn't speak a language, it just speaks sounds. Even weird ones, or sounds

[2020-12-12 15:11] KOLANICH commented on #261
Why not to just have 1 email account to be used for the most important services, and for the rest of use a disposable email?

If people don't trust Google, why should they trust tue company you mean?

Not a viable alternative. Too many services, which are too diverse and have too different ways to unsignup. Some of them don't have an unsignup option at all.

And your e-mail account may be banned f

[2020-12-12 15:22] KOLANICH commented on #134
Text-to-Speech Synthesis Paul Taylor 978-0-521-89927-7 is highly relevant.

[2020-12-12 16:02] colin-axner commented on #261
I'm not sure what the approach of linking email accounts to service accounts has to do with the problem of decoupling a certain email account from existing accounts.

For me, it's not about trusting Google. It's about not being dependent on Google. I could apply your suggested approach of download data and update pass to be super difficult, but I want the psychological feeling of knowing I no long

[2020-12-12 16:33] colin-axner commented on #261
https://yourdigitalrights.org/ this browser extension seems relevant. Achieves the same as above more or less

[2020-12-12 16:35] burakswe commented on #245
Update: I would work on this idea, but I couldn't have much time to do it. Anyone can take over the project now.
Cheers!

[2020-12-14 08:01] shravankb commented on #253
Completed the project. Full flectched

[2020-12-14 14:30] FredrikAugust commented on #253
Wow, nice @shravankb! Do you have a link to the project?

[2020-12-14 15:16] TheOtterlord commented on #253
@FredrikAugust It seems to be at the repo link in the OG issue: https://github.com/shravan20/github-readme-quotes

And the working version is at: https://github-readme-quotes.herokuapp.com/

[2020-12-15 07:04] shravan20 commented on #253
Repo Link: https://github.com/shravan20/github-readme-quotes

Project Link: https://github-readme-quotes.herokuapp.com

[2020-12-20 18:07] GANES1998 commented on #245
I am interested, but since I am not a expert would require guidance. Can u please get me the list of documentation I have to refer for this and the general overview or approach of how this could be implemented. Should this be a **chrome dev tool ?.**
I am interested

[2020-12-20 18:13] GANES1998 commented on #212
Hi @sunn-e, I'm interested. Shall we discuss on the approach. And I am a beginner

[2020-12-20 19:10] KOLANICH commented on #245
The instruction below is mainly for Firefox, but may work in Chromiums with some changes. If your OS is Windows, you would need Firefox Developer Edition, on Linuxes and other free desktop OSes usual Firefox should usually fit.

1. take some boilerplate. Feel free to take https://github.com/KOLANICH-WebExts/experiment-parse.xpi/tree/master/extension
2. read Mozilla's [docs about extension manifest

[2020-12-20 19:35] KOLANICH commented on #245
@GANES1998

The instruction below is mainly for Firefox, but may work in Chromiums with some changes. If your OS is Windows, you would need Firefox Developer Edition, on Linuxes and other free desktop OSes usual Firefox should usually fit.

1. take some boilerplate. Feel free to take https://github.com/KOLANICH-WebExts/experiment-parse.xpi/tree/master/extension
2. read Mozilla's [docs about extens

[2020-12-25 09:59] burakswe commented on #260
@Kreijstal good idea. Thanks for sharing

[2020-12-25 17:24] AppleGrpe commented on #243
Sounds interesting......

[2020-12-26 15:54] burak-aydin commented on #260
@Kreijstal I think, there is a one here: https://github.com/tokland/youtube-upload
Is this something that you're looking for?

[2020-12-26 16:50] bastienboutonnet commented on #260
@FredrikAugust @Kreijstal if this isn't I think I might be into working something of that kind, although to be honest the package @burak-aydin is pointing to seems quite in the right direction.

[2020-12-27 17:05] Kreijstal commented on #260
Ohh, I'll need to test it, but seems promising, that was a hard find

[2020-12-31 23:17] KOLANICH opened #262 "Repo template/boilerplate updater"
## Project description

I have a lot of python repos. They follow [the same template/boilerplate](https://github.com/KOLANICH/python_project_boilerplate.py).

1. It'd be nice that on template update PRs are automatically sent to all the repos using it.
2. It'd be nice to generate certain parts automatically.

Solution
=======

1. Repos detection. Though GH stores some internal jetadata about templ

[2021-01-01 08:45] TheOtterlord commented on #262
I just have a feeling that most of the time there will be merge conflicts that people can't be bothered to deal with. This is especially true if you have massively edited the original code

[2021-01-01 10:56] KOLANICH commented on #262
@TheOtterlord

The software is meant to assumme that the ones used the templates preserve some structure that they define. And that the users custom changes must fit into the template. There is no merge conflicts by definition - the patch is meant to be generated upon the repo main branch most recent commit, so all the merges of the PRs are fast-forwards.

[2021-01-01 16:24] oscarscfrederiksen commented on #256
Anyone started work on this?

[2021-01-01 16:55] KOLANICH commented on #256
The readme of the lib looks not like generating random numbers, but like generating fake data.

https://github.com/joke2k/faker related

[2021-01-05 11:58] IngoMeyer441 commented on #85
Another port of easy-motion for tmux: [IngoMeyer441/tmux-easy-motion](https://github.com/IngoMeyer441/tmux-easy-motion). In the meantime, several easy-motion / jump-mode implementations exist, but most of them only implement a seek or find motion. Therefore, I have started my own implementation which adds more Vim motions (`b`, `B`, `w`, `W`, `e`, `E`, `ge`, `gE`, `j`, `J`, `k`, `K` `f`, `F`, `t`,

[2021-01-05 14:38] krishnasaga commented on #256
@KOLANICH cant get you  :)

[2021-01-05 14:39] krishnasaga commented on #256
Not yet I think

[2021-01-06 14:10] StreetStrider commented on #126
I've found two projects that met this conditions partially:
https://github.com/eulerto/pgquarrel
https://github.com/djrobstep/migra

However, they seem to work only with PgSQL and only with real schemas (which means having input ddl is not enough, you need to create real db from it and compare it with target db).

[2021-01-11 21:33] MarkoArmando opened #263 "The Shadow App"
This is an idea that I have been gifted with and I am giving it to creation out of love.

https://www.youtube.com/watch?v=xmtlLJBOT-g

https://www.youtube.com/watch?v=29cjQ9yJirU&t=9s

Take care and good luck!

[2021-01-11 21:47] KOLANICH commented on #263
@MarkoArmando, please fill in the template. And please remember that issues that don't follow the template are not very welcome here. Especially the ones described as videos on YouTube - a proprietary privacy-abusing videohosting.

[2021-01-12 08:06] MarkoArmando commented on #263
Hello, where can I find this template? If I have violated any rules, I apologise and will remove the content.

[2021-01-12 08:34] TheOtterlord commented on #263
@MarkoArmando When you create an issue in the repository, you should see the template already there.

[2021-01-12 10:08] FredrikAugust commented on #263
Thank you for your contribution, but as mentioned by @KOLANICH we would very much appreciate if you could use the provided template.

I will close this issue, and hope you will submit another one according to the template.

[2021-01-12 10:08] #263 closed

[2021-01-14 01:21] yulidarmaulana commented on #256
very interesting project

[2021-01-20 10:48] hodovani commented on #165
@Kreijstal isn't it easier to extend an existed lib than create a new one? It might be faster to add set theory, simplify boolean expressions, solve inequalities to Math.JS. What do you think?

[2021-01-20 10:52] Kreijstal commented on #165
I think currently, it really makes little difference. Since the amount of effort to make an alternative to sympy is around the same, but of course, if you decide to update existing math libraries, then, by all means. Please do so. Also it doesn't mean we cannot use their functions that they define if it saves time.

[2021-01-20 11:25] hodovani commented on #165
@Kreijstal do you know if someone worked on this feature? I would like to learn more about these algorithms by doing tools.

[2021-01-20 11:35] Kreijstal commented on #165
In order to do inequalities you need to have a way of using operation on sets of numbers see this for example
https://github.com/jiggzson/nerdamer/issues/456
https://github.com/jiggzson/nerdamer/issues/350#issuecomment-468919997_
of course these are just implementations of things that have been done on sympy, there are of course many CAS (Computer Algebra systems, see matlab, mathematica) But of c

[2021-01-20 11:47] stefnotch commented on #165
I checked out the different computer algebra systems for [QuantumSheet (WIP - searching for collaborators)](https://github.com/stefnotch/quantum-sheet). Basically, this is what I found

[2021-01-20 17:26] Kreijstal commented on #165
I mean, sure I've done this and it's pretty nice, but of course it's a bit heavy since it has to use nasm, and painfully slow, on phones, for example, would be nice native javascript but of course, its still an option.

[2021-01-20 17:40] stefnotch commented on #165
Yes, the size of pyodide is definitely a big issue. It should be possible to slash the size at least in half, as documented here https://github.com/iodide-project/pyodide/issues/646

If you look at the network tab, you can see that it transfers multiple megabytes of data (especially on first load, on subsequent loads most of it should be cached)
![image](https://user-images.githubusercontent.com/1

[2021-01-20 20:49] hodovani commented on #165
sorry, I am not sure that I understand your message. Do you know if we have something that is similar to SymPy? If not. Should we start creating this?

[2021-01-21 11:13] adrishyantee commented on #110
Can I look into this?

[2021-01-21 19:51] KOLANICH commented on #110
Of course you can. Also take a look at https://github.com/aide/aide , it is not about space, but also abot recording FS state.

[2021-01-24 15:08] Kreijstal commented on #253
wow that's great

[2021-01-24 15:12] Kreijstal opened #264 "unzip file online, on the fly with url"
## Project description

A web app where you give the link of a resource that has a .zip file, and it sends the directory listing, not the file, and you can click those to browse zip files on the fly, on the browser, without downloading it.
for example the file is at http://example.com/file.zip, so the url would be something like
http://domain/decompress/http://example.com/file.zip
and if you want

[2021-01-24 16:00] TheOtterlord commented on #264
The problem is that you want to do all this work in the browser to avoid a [DoS](https://en.wikipedia.org/wiki/Denial-of-service_attack) because of the expensive tasks of unzipping large files. I don't know of any maintained libraries that allow you to unzip inside the browser either, even then, there could be client side security concerns if they submit a URL, not upload a file into the DOM.

[2021-01-24 16:21] KaKi87 commented on #264
Here's your solution : https://stuk.github.io/jszip/ (https://github.com/Stuk/jszip)
What a coincidence, I just started a project that uses this feature.

[2021-01-24 16:46] TheOtterlord commented on #264
Hmm, this solves the browser side problem, and I guess if you make sure to display the appropriate warnings to the user, it would be a valid root to take an application. Thanks for sharing :smile:. @Kreijstal just making sure, this isn't suppose to be 100% secure & safe? Just a way to preview a zip file from a trusted source :thinking:?

[2021-01-24 17:02] Kreijstal commented on #264
It's a convenience tool, sometimes you just want to preview the content of a zip file without downloading anything.

Hmm, do you know any file browser demo, that's perfect, now everything else has to be implemented.

I guess there should be a limit on how big the zip files are, but, it's open source, so people decide themselves what their limit is. And which sources do they want to accept. I think

[2021-01-24 17:06] KOLANICH commented on #264
Here is https://github.com/Infocatcher/ArchView

It is an addon for old Firefox having XUL addkns, but it is completely possible to reimplement it above WebExtensions API.

[2021-01-24 17:17] TheOtterlord commented on #264
Yeah, that's fair. It should allow us to just use the browser approach then. Although, the browser will still download the file, just to local memory.

I can't see why not. Makes sense to eliminate storing things server side.

Yes, but the problem is that you have to account for security of any file stored server-side which brings in authentication, you also have to protect against DoS attacks etc

[2021-01-24 17:33] Kreijstal commented on #264
Wow, that's pretty cool, but in that case size is the problem, while decompressing, for example. Maybe use a lazy library that can decompress the zip file, and be cancelled at anytime asynchronously? Well, suddenly this is really tricky! And not for beginners.

[2021-01-24 18:07] TheOtterlord commented on #264
Interesting idea, though this definitely takes the project to the next level and requires far much more knowledge than using an existing library.

Yeah, although I still think that a client side unzip would be easier overall, and requires less maintanence.

BTW, I found a nice stack overflow [answer](https://stackoverflow.com/a/53173732/14104186) that deals with this.
Just for reference if we do g

[2021-01-24 18:07] TheOtterlord commented on #264
Also, yeah it's a good article

[2021-01-27 00:16] lifenouveau commented on #11
Did this project move somewhere else?

[2021-01-27 01:51] ocdtrekkie commented on #11
@lifenouveau The most recent LibreRead code is available at https://github.com/mysticmode/libreread but it is archived.

[2021-01-29 06:31] SteveSujo commented on #212
Hey @sunn-e, cool idea and would love to work on this project

[2021-01-30 16:34] KOLANICH opened #265 "Python C and C++ parsing abstraction layer"
## Project description

There are multiple libs for parsing C and C++ in python, :
* clang bindings - the best one
* https://github.com/eliben/pycparser - inferior, but pure python and no llvm requirement
* https://github.com/robotpy/robotpy-cppheaderparser

In other words, BeautifulSoup for C++ AST.

## Relevant Technology

## Complexity and required time

### Complexity

- [x] Beginner - This pr

[2021-02-06 13:16] #226 closed

[2021-02-09 08:39] MarshalOfficial commented on #257
does it give a web app output? and also connect to AWS or Azure storage?

[2021-02-09 08:50] MarshalOfficial opened #266 "book summary sharing social network website"
## Project description

A social network website, that gives members the ability to share the book summary of their learning journey, it has followed, star features also, in my personal case I am saving my learning journey on the Telegram messenger's private channels, it might be interesting that we make a place for developers to share their learning journey and of course it gives a push motivatio

[2021-02-14 10:58] hanbalahmed commented on #10
thanks!

# i made this [font](https://github.com/hanbalahmed/OperatorCode)

[2021-02-15 18:31] Kreijstal opened #267 "Clipboard Inspector (Not Manager) for Windows 10"
## Project description

There are already some clipboard inspectors, they're not open source, however. And most clipboard managers just don't give enough information from the clipboard.
The following are Freeware.
https://www.nirsoft.net/utils/inside_clipboard.html
https://www.codeproject.com/Articles/168/ClipSpy
http://www.peterbuettner.de/develop/tools/clipview/

This is open source but it's fro

[2021-02-15 19:33] KaKi87 commented on #267
I'm not sure what do you actually miss from clipboard managers ?
Personally I use CopyQ.

[2021-02-15 21:28] Kreijstal commented on #267
Clipboard manager don't show half the information that is on the clipboard, or dragging, see an example
*CopyQ*
![image](https://user-images.githubusercontent.com/2415206/107994489-01961280-6fdd-11eb-9f9f-85db4ac1d894.png)
*InsideClipboard*
![image](https://user-images.githubusercontent.com/2415206/107994508-107cc500-6fdd-11eb-9608-efbe8044f7ff.png)
It's a developer tool, therefore should show as

[2021-02-15 21:38] KaKi87 commented on #267
I can't see the use case ?

[2021-02-15 21:39] Kreijstal commented on #267
Figuring out what it's being written to the clipboard.

[2021-02-15 21:50] KOLANICH commented on #267
BTW, you would likely need a CBF parser. https://github.com/kaitai-io/kaitai_struct_formats/blob/master/serialization/microsoft_cfb.ksy may be useful

[2021-02-16 02:10] KOLANICH opened #268 "iptables debugging tool"
## Project description

It'd be nice to have a tool, getting iptables rules and a description of a packet and describing how exactly it is processed and what the result is.

0. It is a lib and a CLI to it.
1. It should have the capabilities to describe packet essential fields and its source
2. It should have a parser for iptables tables, chains and rules in `iptavles-save` format
3. It should have

[2021-02-17 07:39] MarshalOfficial opened #269 "Telegram bot message stores in categorized mode"
## Project description

If possible, develop a Telegram bot, that archives any message that forward to it in categorize and get them back via search. Imagine that I start this bot and make my categories, then when I want to store a message from any-where, I use this bot to save it and easy search and get it back to use.
our problem is to make hundreds of channel for different topics or saved messa

[2021-02-19 04:27] tuatara73 commented on #260
Can I participant?

[2021-02-19 19:12] Kreijstal commented on #260
sure.

[2021-02-20 07:01] Kreijstal commented on #269
Can you explain the interface of the bot, the commands?

[2021-02-20 07:05] Kreijstal commented on #208
kinda agreed, I mean, even if you're nonprofit you have to may a yearly fee

[2021-02-20 07:21] KaKi87 commented on #208
Hello, if that's possible, I would like to volunteer in creating this website. Open source, it would be, absurdly free, my work is. 🙂

[2021-02-20 07:23] Kreijstal commented on #208
First, you need a direction, why would you make a website? What purpose would it serve? What can you do on the website that you can't do it here? How much would it cost per year? Who is going to pay?

[2021-02-20 07:25] KaKi87 commented on #208
I didn't knew you would answer that fast so I edited my message which answers the last question xD

[2021-02-20 07:30] KaKi87 commented on #208
Yes I do.

As OP says, because :

Making OSI more visitor-friendly, possibly increasing its popularity.

Many things that have been discussed here, and certainly more.

[2021-02-20 07:43] Kreijstal commented on #208
I mean, I kinda agree that it needs a better front end. If it were up to me, I would do something like a stackoverflow clone where people upvote their favorite ideas. Big projects could have their own timeline, to-do list, etc. or have their own mini-sites. But this of course seems hard to mantain :p. Users would be able to tag their own projects, that'd be ok too. Like some sort of incubator of p

[2021-02-20 07:56] Kreijstal commented on #208
For example something like this, where people vote for features https://js.wiki/feedback/

[2021-02-20 07:59] KaKi87 commented on #208
Everything you said, we can do, the key is that GitHub can back all of this :

Upvote/downvote action can use 👍/👎 reactions on GitHub issues.

We can also display and allow discussion.
Would you like :
- GH replies to OP displayed as SO replies and GH replies to comments as SO comments ; or
- all GH comments displayed as SO comments?

We can use a markdown tables and lists for this.

When a creato

[2021-02-20 08:02] Kreijstal commented on #208
Ah, I see what you want to do now. Yeah so this repo hosting everything! Well, then I guess that mantaining it won't be that hard. Since it's just a reskin, well, sure, why not.

[2021-02-20 08:05] KaKi87 commented on #208
And alternativeto.net only lists 3 OSS alternatives to it.

![](https://i.goopics.net/VRo1m.jpg)

Actually, I'm not surprised at all : OSS devs mostly rely on GitHub or PHPBB for user feedback, if they listen to feedback at all 🙃

[2021-02-20 08:18] tuatara73 commented on #267
How do you know how to determine the time of a project?
I'm just in the middle of creating this project and I'm not sure it will take two weeks(I could be wrong).
I'm creating it with pyqt5 and win32clipboard.

[2021-02-20 09:07] Kreijstal commented on #267
They're rough estimates, it depends on
if you have experience working on a framework (if not you have to learn it which takes time)
if you have experience on the language  (same)
But of course no one can tell you how much it takes, it's hard to make estimates, really hard

[2021-02-20 10:46] tuatara73 commented on #267
I see.
I'll update on my progress :)

[2021-02-21 23:10] mamamia88 opened #270 "Terminal Emulator that explains Pasted Commands In Simple Terms to Newcomers"
## Project description
People considering switching to linux are often turned away by guides that mention the command line but, once you get used too it it's often a good way to accomplish certain tasks quicker than you could otherwise. The cli shouldn't be something to be feared it is a great tool designed by humans for humans and I came up with a relatively fun and easy way to train people which

[2021-02-22 06:45] MarshalOfficial commented on #269
Yes, sure
Scenario: If we consider that, the bot will save all messages in a single private channel:
there is a command that asks for a channel id and also client must add this bot onto that channel as an admin
there is a command that the client can define her/his categories title.
after that if possible, the client can forward the message to the bot and the bot asks for a category via button (bec

[2021-02-22 11:49] KOLANICH commented on #270
I remember there was an app, that executed another app within a kind of extremily poor sandbox implemented using LD_PRELOAD with functions redefining libc functions and then printing the summary of FS actions done by that app.

But I cannot google it right now.

An another idea how it can look like is an app parsing `--help` message into a kind of a spec for a CLI parser like in `plumbum` for Pyth

[2021-02-22 12:54] KaKi87 commented on #270
Similar but non-CLI project : https://github.com/idank/explainshell

[2021-02-22 12:56] KaKi87 commented on #270
Instead of creating a terminal emulator, I would like to suggest creating a simple `explain` command, like there's one on SQL, that you put before the command, and which will output the answer.

[2021-02-23 09:42] Kreijstal commented on #269
what would be the name of the command, like what would you type specifically?

[2021-02-23 12:35] MarshalOfficial commented on #269
1- there will be command for defining a catergory. [Add New Category]
with this command user will create her/his categories.

2- after that scenario will be like this: me as a bot user create a channel and add this bot as admin to this channel. this channel will be my store channel that all posts will be saved there.
when i send a post or type to the bot, it ask me, what is the category of your la

[2021-02-24 13:00] tuatara73 commented on #267
Hi,
still same progress.
couldn't work a lot because of my job.

[2021-02-24 20:34] roymoran opened #271 "A cli tool to stand up a static website in a couple commands"
## Project description

A tool that helps stand up a static site in just a couple commands using any registrar/host of your choice. I'm not sure it solves a major problem - but it would be useful to have a small utility that makes deploying a static site quickly pretty straightforward. Mucking around with DNS records and manually registering an ssl certificate for a custom domain become menial tas

[2021-02-25 10:47] FredrikAugust commented on #270
Please resubmit this with the format specified.

[2021-02-25 10:47] #270 closed

[2021-02-25 10:48] FredrikAugust commented on #270
Or if you wish to edit this issue to comply with the guidelines I can reopen the issue.

[2021-03-02 18:32] KaKi87 commented on #270
Hey, the shell command actually exists :)
https://benjamine.github.io/explain.sh/

[2021-03-06 11:12] nhatkhai commented on #215
I LOVE THIS.

[2021-03-06 11:23] nhatkhai commented on #215
This may be use for my case to do post-install like the egg package. But I hope it going to be simple, and I'm not sure if I can convince the whole company to move from pip to ~ `dpkg pip`.

And do I got a hook for `pip uninstall` too?

[2021-03-06 11:23] KOLANICH commented on #215
@nhatkhai, it would only create more mess. The issue is that it is easier when you only have to deal with 1 package for 1 distro that has to be triggered. If you have to deal with multiple packages intended to work in multiple distros, you will soon get too many packages to deal with and it would become easier to install 1 middleware package for pip, 1 package for the distro adding hooks to the ma

[2021-03-06 11:29] nhatkhai commented on #215
Ouch...

[2021-03-13 05:07] tuatara73 commented on #271
Should it be cross platform?

[2021-03-13 05:30] roymoran commented on #271
@tuatara73 i ended up hacking something together for this project and open sourced it. https://github.com/roymoran/page

I created an initial release for windows, linux, and macos. It's still alpha version. May add additional hosts/registrars in the future.

[2021-03-14 13:05] FredrikAugust commented on #271
Cool! Would you say the issue is complete, @roymoran?

[2021-03-14 19:08] roymoran commented on #271
yeah I would say so. I'll go ahead and close it. I'll create a PR to update the readme with this completed project. Maybe others will find it useful or just want to contribute to it in the future.

[2021-03-14 19:08] #271 closed

[2021-03-15 09:05] FredrikAugust commented on #271
Great work!

[2021-03-22 12:12] GrpeApple opened #273 "Assembly programming"
## Project description

List of Assembly programs in various architectures to provide a reference.
This is not serious at all, just for fun.

## Relevant Technology

Knowledge of ARM, AArch64, x86, x86_64, etc....  Assembly; Documentation (Markdown)

## Complexity and required time

### Complexity

- [ ] Beginner - This project requires no or little prior knowledge of the technolog(y|ies) specifie

[2021-03-22 12:15] FredrikAugust commented on #273
Please select a category which exists next time.

[2021-03-22 12:15] GrpeApple commented on #273
The categories is not really relevant :(

[2021-03-22 12:16] FredrikAugust commented on #273
Then I would appreciate it if you added them as extra information instead of as categories.

[2021-03-22 12:16] FredrikAugust commented on #273
Thank you for the issue however!

[2021-03-22 12:17] FredrikAugust commented on #273
And please select one complexity.

I've added intermediate for now, as it seems more logical based on your issue description.

[2021-03-22 12:18] GrpeApple commented on #273
Some list was removed?

[2021-03-22 12:18] FredrikAugust commented on #273
What?

[2021-03-22 12:20] GrpeApple commented on #273
I have updated the issue.

[2021-03-22 12:21] FredrikAugust commented on #273
Appears to be the same for me.

[2021-03-22 12:22] GrpeApple commented on #273
Hmm, weird.

[2021-03-22 12:24] GrpeApple commented on #273
Github is weird, fixed.

[2021-03-22 12:30] GrpeApple commented on #273
Funny how Assembly is not Open Source.

[2021-03-27 14:18] 0xAliRaza commented on #264
@Kreijstal

I think it is possible to first determine the mime type of all the files and then giving dynamic preview options to the user.
I stumbled upon https://github.com/gildas-lormeau/zip.js and it works like a charm. I might end up creating a proper browser-based web app. I will update you if I do so...

[2021-03-27 14:39] IlanLuci commented on #266
Really love the idea! I don't have a ton of experience but would love to help out.

[2021-03-27 16:10] KOLANICH commented on #266
I completely don't understand what the idea is because I completely don't understand what you mean under `the book summary of their learning journey`.

[2021-03-29 06:15] KaKi87 commented on #266
I'm not sure either.

The title makes me think about IMDB but for books, but I'm lost when reading the description 😅

[2021-03-29 14:41] FredrikAugust commented on #266
Is it something like Goodreads?

[2021-03-29 15:01] IlanLuci commented on #266
I read it as like a platform to document your progress learning something for example programming. Like how some people will write a biography or a book of some sort on how they progressed. Something like that but as a web interface where you can document and share your learning progress.

[2021-03-31 06:56] 0xAliRaza commented on #264
I'm working on the project and trying to do all the work on the client-side but now I'm facing the CORS issue. I think I'll have to create a proxy.

[2021-03-31 08:05] Kreijstal commented on #264
I created http://sofetchpost.glitch.me/ for this use case

[2021-03-31 13:31] 0xAliRaza commented on #264
Alright, I'll make use of it then.

[2021-03-31 16:42] CoreyThuro opened #274 "Collectively Improvised Instrument/Performance"
## Project description

The idea is: an OSS instrument (audio & visual) which is continuously playing (oscillators, filters, shapes etc.) and continuously being contributed to in the form of tweaks both to the app's infrastructure and to the actual parameters affecting the audio/visual output of the instrument (eg. adding a new oscillator). The problem being solved for is: collaboration on non-pra

[2021-03-31 17:23] CoreyThuro opened #275 "App For Archiving Endangered Cultural Artifacts"
## Project description

An application that archives cultural artifacts. The problem being solved for is the preservation and discovery of endangered cultural artifacts in modernity. I am thinking music, artworks, lit, architecture, science, philosophy, cartography, etc. Contributors could contribute both to the architecture of the app and to the catalog itself. One model for this idea would be a

[2021-03-31 20:45] KOLANICH commented on #274
WebAudio?

[2021-03-31 21:19] CoreyThuro commented on #275
Oh yeah, it looks like they've updated it quite a bit since I've been on there (it's been years). Cool

[2021-03-31 21:21] CoreyThuro commented on #274
Thanks I will look into that

[2021-04-01 21:18] Kreijstal commented on #264
you can view the source at https://glitch.com/edit/#!/sofetchpost

[2021-04-03 04:46] MarshalOfficial commented on #266
Let me give you an example:
Imagine I start reading "The Pragmatic Programmer" book. While reading it has tons of examples and of course, some of them are the author's excess. because if you want to teach somebody the goal of each topic, you can summarize it in at most 10 sentences or a paragraph.
so it needs a place where everyone can summarize their studies and be used by others.

[2021-04-03 06:07] KOLANICH commented on #266
Already discussed, #53, https://github.com/metacademy

[2021-04-08 20:50] KOLANICH opened #276 "Develop and create and code a new formal model of Free and Libre and Open-Source licenses"
## Project description

Moved from https://github.com/FHPythonUtils/LicenseMatrix/issues/8

Sometimes one has to automatically combine software and data into other software. Unfortunately in the current legal system copyright is not yet abolished.

This would make us to compute the effect of combining different works distributed under different terms on the combined work. And if we combine works a

[2021-04-20 16:22] liudonghua123 commented on #165
If we want to implement some features like python's `sympy`, the operator overload should be necessary.

[2021-04-20 17:35] stefnotch commented on #165
What do you mean? If you're referring to Javascript operator overloading, then no, that's not necessary at all.

[2021-04-20 17:37] stefnotch commented on #165
Regarding point 4, the Brython developer has attempted that and ran into a few blocking issues that would have to be sorted out on the Sympy side
https://github.com/sympy/sympy/issues/18889

[2021-04-21 15:44] xenotropic commented on #276
Doesn't SPDX cover a lot of this functionality? https://spdx.org/

[2021-04-21 16:53] xenotropic opened #277 "Gnome Extension for Google Voice to Text (or other speech-to-text APIs)"
**Problem: There is no decent speech recognition in Linux.** This idea is inspired by the Unix/Linux Stack Exchange question [Is there any decent speech recognition software for Linux?](https://unix.stackexchange.com/questions/256138/is-there-any-decent-speech-recognition-software-for-linux). It is been upvoted a fair amount, and seen a lot of activity, but the short answer is that the main way to

[2021-04-21 16:58] xenotropic commented on #277
I'd label this as [advanced] [medium work] [Frontend/UI] [APIs/Backend]

[2021-04-21 16:59] FredrikAugust commented on #277
Thank you for your idea. Please don't edit the template. It's there for a reason

[2021-04-21 18:35] KOLANICH commented on #276
Not quite. SPDX covers syntax for combining licenses and adding additional clauses, all of which is treated as a black box. But it doesn't covers the following functionality (which would require modelling licenses themselves), essential to this proposal:
* determining what effect a license has on actors relations
* checking license compatibility
* detecting combined license kind (strong copyleft,

[2021-04-21 21:09] xenotropic commented on #277
I did not edit any template. The [top page](https://github.com/open-source-ideas/open-source-ideas) says "If there is anyone with cool ideas for projects and doesn't have the time to create them, post it as an issue". I followed that link, which just gives the default github blank issue form. Maybe you need to [configure the template chooser](https://docs.github.com/en/communities/using-templates-

[2021-04-23 07:02] liudonghua123 commented on #165
If there isn't operator overloading, some arithmetic operation like the following code would implement and write using a complicate method.

[code]

The correspond js code maybe like this

[code]

The form of `const expr = add(add(exp(x, 2), multiply(x, 2), 1)` is too bad.

[2021-04-23 09:08] PeopleInside opened #278 "PHP Feedback tool system, self-hosted"
## Project description

**A self-hosted feedback tool** that allow, if possible without needed of SSH or easily with use of composer, let webmaster install and manage feedbacks from visitors about issue, suggestions or compliments of a website!

I see there are ticket system, live chat free solutions but no maintained and easy to use, feedback tool that you can self-host.

Some example of open sou

[2021-04-23 10:30] stefnotch commented on #165
@liudonghua123 As far as I know, you would need more than just [operator overloading](https://github.com/tc39/proposal-operator-overloading). You would need something closer to expression trees.

For example, take the following expression (Javascript)
[code]
Since it's a fraction that can't be represented in base 2 nor in base 10, you would want to store the actual fraction `3 / 7` and not the res

[2021-04-23 11:55] FredrikAugust commented on #278
Could you tick the boxes requested and fix the markdown, please?

[2021-04-23 11:56] FredrikAugust commented on #278
I.e. complexity and required amount of work, and fix the botched categories checkmarks.

[2021-04-23 11:56] FredrikAugust commented on #278
Consult the Github Markdown documentation if you're stuck.

[2021-04-23 11:58] PeopleInside commented on #278
@FredrikAugust I don't know what to put. I don't know how this need amount of work, if is hard or easy.
Fix the markdown means the check box that is maybe not selected? I will see.

[2021-04-23 11:59] FredrikAugust commented on #278
You can see that the checkboxes are not rendered correctly. Fix the markdown.
As for complexity and required amount of work, you need to make an estimate. If not, your idea might need some refinement.

[2021-04-23 11:59] PeopleInside commented on #278
Fixed

[2021-04-23 23:45] KOLANICH commented on #278
Do you mean the solutions targeted to "free" shared hostings that provide no shell access (how do they provide ways to upload files these days, is it still plain ftp as 10 years ago?) and  nothing else as PHP of obsllete versions with everything useful removed? Should it be said explicitly?

[2021-04-24 01:55] PeopleInside commented on #278
If can be installed with composer will be good. If is on VitHub will be good so can be downloaded also from SSH and GitHub.

I manage a VPS so I have SSH access but often I am afraid on installing by SSH because I run a control panel so happen some software require a SSH procedure that overwrite panel file .. existing Apache or PHP and create issue on all server.

I run two open source solution th

[2021-04-24 06:16] KOLANICH commented on #278
Thanks for the clarification.

None of them is written in PHP. SSH access is irrelevant here.

Can anything from https://github.com/search?l=PHP&q=feedback&type=Repositories help you?

[2021-04-24 07:59] PeopleInside commented on #278
@KOLANICH Good morning here from Italy.
First I wanna say thank you for your interest. Is really nice to see someone follow this discussion.

I know no one of the example posted are written in PHP and allow install without SSH this is why I cannot use.. also there are no maintained project.. not really active and updated from what I can see.

I tried to search on GitHub with the link you give, I s

[2021-04-24 16:46] torblerone commented on #111
Kubernetes resources can get very complex, regarding configurable properties of some of them.
Did you think of visualizing all properties or only the connections and dependencies between those resources?

[2021-04-27 11:42] OzRib commented on #27
@karuppiah7890 that's sounds a good idea. A version in CLI for Linux with a service systemd or systemctl to work in background with the system. Without need a GUI. It's my dream! That guy doesn't work with Linux or another Open Source platform. Doesn't exist a install.sh or a basic README.md! The basic!

[2021-05-07 07:50] gaborszita commented on #266
I'd be happy to help out. I'm fluent in Java, C++, HTML, and CSS and have some experience in MySQL, PHP, and Javascript. So when are we going to plan out this project? I think we should create a repository for this project and start planning the structure of it.

[2021-05-07 11:56] brettz9 opened #279 "Collect performance/memory by line during Mocha tests using standard APIs"
## Project description

When performing tests, one can see how long a *test* takes to complete, see which lines get covered and even see [which lines](https://github.com/brettz9/nyc-line-visit-count-reporter) in one's code have the most visits, but one can't get an idea of which particular lines of code are the least performant in terms of speed to execute or memory impact.

This proposal is to us

[2021-05-07 12:08] MarshalOfficial commented on #266
great @gaborszita
I think, first, we need to document the features and facilities,
which platform do you prefer for this purpose?
maybe Trello or etc.

[2021-05-07 13:08] gaborszita commented on #266
Hi @MarshalOfficial ,
I really don't care about the platform since I've never actually used one. Anything is good to me, so we could use Trello as you said. I'm happy to adapt to your needs. Anything that fits our uses is fine.

Correct me if I'm wrong, so this project's goal will be to give people a place where they can describe what they learnt from a book? Your description about this project is

[2021-05-07 13:30] brettz9 opened #280 "JSDoc + JavaScript to WebAssembly"
## Project description

Originally raised on https://github.com/AssemblyScript/assemblyscript/issues/1837 .

Plain JavaScript, if supplemented with JSDoc (what I'll call "JJ"), is capable of holding type information which could be used by a compiler to convert such code into WebAssembly, offering the promise of high performance to wide swathes of the web with a minimum of refactoring pain and lowe

[2021-05-08 19:08] MarshalOfficial commented on #266
Exactly, yes. the project goal is to let people share a summary of a book that they read in this.
great. so we can start in Trello documenting.
for the tech stack, what are your preferred backend framework and DB engine, and what for front-end?

[2021-05-09 05:19] gaborszita commented on #266
Hi,

My preferred backend framework is PHP, database is MySQL, and front-end
HTML+CSS+JS.

On Sat, May 8, 2021, 9:08 PM MarshalOfficial ***@***.***>
wrote:

[2021-05-09 18:59] gaborszita commented on #266
My Trello account is on gaborszita88@gmail.com email, so use that email address if you'd like to add me to your Trello workspace.

[2021-05-12 17:38] ibreaz opened #281 "A Java tool using Spring that records JUnit + Mockito unit/integration tests from runtime calls"
## Project description
I imagine this tool would work like this:
			You mark a method with an @RecordTest annotation.
			You mark some injected dependencies with @RecordMockForTest annotation.
			You run the project and interact with UI/API.
			Context, arguments and results are retrieved using Aspect Oriented Programing and Reflection and used to generate a test for each function call in the cons

[2021-05-14 09:19] MarshalOfficial commented on #266
Sure, thanks

[2021-05-24 18:39] jjrv commented on #264
It might also be possible to first use a HEAD request to get the file size, and then a HTTP range request to just get the zip file index at the end, without downloading the actual contents. Then file listings of huge zip files would be viewable much faster than currently.

[2021-05-24 18:52] Kreijstal commented on #264
that's quite fascinating, probably good for the server health, but I guess you would have to implement your own zip parsing library or modify an existing one. Which might notch up the difficulty+time investment quite a bit. But it'd be totally worth it.

[2021-05-24 18:55] Kreijstal opened #282 "Github bot that automatically adds labels according to issue contents"
## Project description

For example using checkboxes, the bot would understand the desired categories, and label the issue accordingly
## Relevant Technology

Probably work with Github API
## Complexity and required time

### Complexity

- [ ] Beginner - This project requires no or little prior knowledge of the technolog(y|ies) specified to contribute to the project
- [x] Intermediate - The user s

[2021-05-24 19:11] KOLANICH commented on #282
Already implemented. For a long time. By me. For this org ;) But not used - noone wants to be ready to fix it (and if it is not fixed when broken, it will shit into email with broken pipeline notifications, since it is started every 5 minutes, and it can very easily go broken - it happenned a couple of times already).

[2021-05-24 19:12] KOLANICH commented on #282
And it is not "little work".

[2021-05-24 19:21] jjrv commented on #264
Parsing the zip file index is way easier than getting the actual contents, because the index is not compressed. Using a full-blown existing zip library is a waste actually. My first impression is that this task is actually almost trivially easy and would result in a powerful tool with no existing alternatives.

However I haven't run into a situation where this is needed, otherwise I would have don

[2021-05-24 20:15] KOLANICH commented on #264
WebExtensions are not under Same Origin Policy restriction when requests are done from a background page.

[2021-05-25 10:23] Kreijstal commented on #282
well then

[2021-05-25 10:23] #282 closed

[2021-05-25 12:10] FredrikAugust commented on #282
Yeah, as @KOLANICH pointed out; as the lone maintainer of this project I don't want to have the responsibility of setting it up and making sure it works/fixing it. I offered him to set it up himself, but as he was not comfortable with that responsibility; it was put on ice.

There are also a surprising amount of people who break the checkbox system, so I think the level of manual overhead required

[2021-05-25 12:11] FredrikAugust commented on #282
If you have any ideas on how to improve the community, I'm all ears! We also have a repository for this over at https://github.com/open-source-ideas/meta

[2021-05-30 21:10] KOLANICH commented on #173
@ericprud, how much is your [jsg](https://github.com/ericprud/jsg) aligned with this idea? Does it allow me to rewrite the parser https://github.com/UniGrammar/UniGrammar.py/tree/master/UniGrammar/ownGrammarFormat as a jsongrammar and get the generated code doing the same?

[2021-06-02 09:32] ericprud commented on #173
Let's see if I understand well enough to answer.

If you have an abstract syntax (AS), you can create a greenfield DSL to express it and/or take some generic format (XML, RDF, JSON) and use a format-specific schema language to constrain the structures to those that are sensible in your AS.

For the greenfield DSL, you would specify it in terms of a grammar that defines the set of permissible docum

[2021-06-02 22:08] KOLANICH commented on #173
I don't quite understand what you meant in the beginning of the text. I am not very familiar to RDF and shex, but according to what I have read it seems like it is a kind of language for logic programming for creating databases of facts. I haven't got the teminology used there.

I don't fully understand, what you mean, and taking into account

, let me give you an example. UniGrammar is a transpil

[2021-06-05 22:55] lucasew opened #283 "An Hugo + Git backed markdown editor for mobile devices."
## Project description

Basically when you open the app it fetches data from the repo then you can edit the files inside the content folder and on preview mode see how it looks rendered on Hugo.

It will pack Hugo and git inside and on the edit point its basically a normal text editor that do syntax highlight on markdown.

## Relevant Technology

- An mobile OS language for the UI and integration

[2021-06-15 00:56] HamzaEzzRa commented on #234
I've been working on something similar these past few days.
It's still far from perfect, so any help would be very welcome: [https://github.com/HamzaEzzRa/Multishot](https://github.com/HamzaEzzRa/Multishot).

[2021-06-15 18:15] virtadpt commented on #234
I suggest naming it "Keep Your Receipts."

[2021-06-16 15:56] AdrienDS commented on #234
Fantastic ! That's exactly what I was looking for.

I'll be watching this repo, thank you for sharing it!

If I could suggest to add an option in the settings to add a delay in seconds before the capture (default=0). Some pages continue to render some elements after the page is loaded, so we might want to wait let's say 5 seconds before taking the screenshot.

Another useful option could be to ren

[2021-06-16 16:16] HamzaEzzRa commented on #234
Thank you for the suggestions @AdrienDS !

They seem to be excellent ideas, considering I'll be working on the options page next. If you've got the time, feel free to open the issues for them.

[2021-06-22 05:55] KOLANICH opened #284 "ATA device simulator"
## Project description

It may be nice to have software behaving like an ATA device. It may be useful for
* testing and debugging the software interacting to HDDs;
* creating honeypots;

The software should allow usage as a shared library in 2 modes:
* as a class simulating the device, allowing tools to implement processing the commands via a mock class
* as a server of some widespread ATA-over-ne

[2021-06-23 21:42] xenotropic commented on #277
I have found that [nerd-dictation](https://github.com/ideasman42/nerd-dictation) sort of does this, using a python script that calls VOSK-API, and can be bound to keyboard shortcuts. Might still be interesting to see Google and other voice-to-text APIs implemented in the same way, though, so I'm leaving this issue open, but wanted to point to it as a potential model/building point.

[2021-06-28 12:59] FredrikAugust commented on #234
Great collaboration! Let me know if you feel this issue is completed, and I'll add it to the hall of fame!

[2021-07-01 09:03] atharapos commented on #264
Hi Everyone,
This might be of interest in simplifying the need for the entire zip archive into just the specific file requested.

https://github.com/gtsystem/python-remotezip